<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BDOC</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<style>
.row {
	margin-bottom: 10px;
}

.custom-input {
	height: 30px; /* Adjust the height as needed */
	padding: 5px; /* Adjust padding as needed */
}
</style>
<style>
input, select {
	height: 30px; /* Adjust height */
	padding: 5px; /* Adjust padding */
	border-radius: 5px; /* Rounded corners */
	border: 1px solid #ccc; /* Light gray border */
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	/* Inner shadow for 3D effect */
	outline: none; /* Remove outline on focus */
	transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	/* Smooth transition */
}

/* Add a hover effect for better UI */
input:hover, select {
	border-color: #007bff; /* Change border color on hover */
}

/* Add focus effect for interaction feedback */
input:focus, select {
	border-color: #007bff; /* Change border color on focus */
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	/* Light blue shadow on focus */
}
</style>

<style>
ul.l {
	list-style-type: square;
}

ul.li {
	list-style-type: inherit;
}

.card-header {
	display: flex;
	float: left;
}

label {
	font-size: 1px;
}

#exampleModalLabel {
	color: white;
}

#menulist {
	margin-top: 10px;
}

#page {
	position: absolute;
	right: 0;
	margin-right: 20px;
}

label {
	font-size: 16px;
}
</style>

<script th:inline="javascript">
	var checkboxes = document.querySelectorAll("input[type='checkbox']");
	function check(mycheck) {
		if (mycheck == true) {
			checkboxes.forEach(function(checkbox) {
				checkbox.checked = true;
			});
		} else {
			checkboxes.forEach(function(checkbox) {
				checkbox.checked = false;
			});
		}
	}
	function adduser1() {
		location.href = 'AdminAccessandRole?formmode=add'
	}

	function list() {
		location.href = 'AdminAccessandRole?formmode=list';
	}
	function home() {
		location.href = 'Dashboard'
	}

 
	function menulist() {
		var name = document.getElementById("role_desc").value;

		if (name == "Admin") {
			document.getElementById("admin").checked = true;
			document.getElementById("Maintenance").checked = true;
			document.getElementById("Operations").checked = true;
			document.getElementById("Placement").checked = true;
			document.getElementById("Inquiries").checked = true;
			document.getElementById("Reports").checked = true;

		} else if (name == "General") {
			document.getElementById("admin").checked = false;
			document.getElementById("Maintenance").checked = false;
			document.getElementById("Operations").checked = true;
			document.getElementById("Placement").checked = true;
			document.getElementById("Inquiries").checked = true;
			document.getElementById("Reports").checked = true;

		} else if (name == "Audit") {
			document.getElementById("admin").checked = false;
			document.getElementById("Maintenance").checked = true;
			document.getElementById("Operations").checked = true;
			document.getElementById("Placement").checked = true;
			document.getElementById("Inquiries").checked = true;
			document.getElementById("Reports").checked = true;

		} else if (name == "Inquiry") {
			document.getElementById("Admin").checked = false;
			document.getElementById("Maintenance").checked = true;
			document.getElementById("Operations").checked = true;
			document.getElementById("Placement").checked = true;
			document.getElementById("Inquiries").checked = true;
			document.getElementById("Reports").checked = true;

		} else if (name == "MIS") {
			document.getElementById("Admin").checked = false;
			document.getElementById("Maintenance").checked = false;
			document.getElementById("Operations").checked = false;
			document.getElementById("Placement").checked = false;
			document.getElementById("Inquiries").checked = true;
			document.getElementById("Reports").checked = true;

		}
	}

	function back() {

		window.history.back();
	}
	function submitform(a) {

		var role_id = $("#role_id").val();
		if ($("#formdata").valid()) {

			if (role_id != ' ') {
				 
				var checkBoxAdminValue, adminValue, userprofileMaintenance, userprofilevalue, accessandRole, 
				accessValue, organizationmaster, organizationmastervalue;
				var finalVar = [];
				document.querySelector("#Admin").addEventListener("change", function () {
				    // Get the admin checkbox
				    const adminCheckbox = document.querySelector("#Admin");
				    // Get the user profile and access role checkboxes
				    const userProfileCheckbox = document.querySelector("#UserProfileMaintenance");
				    const accessRoleCheckbox = document.querySelector("#AccessRole");
				    const orgRoleCheckbox = document.querySelector("#ReferenceCode");//for organization master
				    // Check if the admin checkbox is checked
				    if (adminCheckbox.checked) {
				        // Check the other two checkboxes
				        userProfileCheckbox.checked = true;
				        accessRoleCheckbox.checked = true;
				        orgRoleCheckbox.checked = true;
				    } else {
				        // Uncheck the other two checkboxes
				        userProfileCheckbox.checked = false;
				        accessRoleCheckbox.checked = false;
				        orgRoleCheckbox.checked = false;
				    }
				    
				});
				checkBoxAdminValue = document.querySelector("#Admin:checked");
				adminValue = (checkBoxAdminValue) ? 'Y' : 'N';
				if (adminValue === "Y") {
					finalVar.push("Admin");
					
				}
				userprofileMaintenance = document
				.querySelector("#UserProfileMaintenance:checked");
		userprofilevalue = (userprofileMaintenance) ? 'Y' : 'N';
		if (userprofilevalue === "Y") {
			finalVar.push("User Profile Maintenance");
		}

		accessandRole = document.querySelector("#AccessRole:checked");
		accessValue = (accessandRole) ? 'Y' : 'N';
		if (accessValue === "Y") {
			finalVar.push("Access Role");
		}

		organizationmastervalue = document.querySelector("#ReferenceCode:checked");
		organizationmastervalue = (organizationmastervalue) ? 'Y' : 'N';
		if (organizationmastervalue === "Y") {
			finalVar.push("Organization Master Code");
		}
		
		var formmode = a.getAttribute("data-formmode");
		var finalString = finalVar.join(',');
		if (finalString == "") {
			$('#myModalpopup1').modal("toggle");
			$('#myModalpopup1 .modal-body').text(
					"Please Select Menu List");
		} else {
			var url = "./createAccessRole?formmode=" + formmode
					+ "&adminValue=" + adminValue
					+ "&userprofilevalue=" + userprofilevalue
					+ "&accessValue=" + accessValue + "&organizationmastvalue="
					+ organizationmastervalue + "&finalString=" + finalString ;
			
			$("#formdata").attr('action', url);
			var options = {
				success : showResponse,
				error : errorResponse
			};
			$("#formdata").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

				location.href = 'AdminAccessandRole';

			}
			function errorResponse(xhr, statusText, error) {
				var errorMessage = xhr.responseText
						|| "An error occurred. Please try again.";
				$("#alertmsg").text(errorMessage);
				$('#alert').modal("toggle");
			}
		}
		
		
		
		
		
			} else {
				$("#alertmsg1").text("Please fill the Role ID");

				$('#alert1').modal("toggle");
			}
		}

	};

	function submitmodifyform(a) {

		var role_id = $("#role_id").val();
		alert(role_id);

		if ($("#formmodify").valid()) {

			if (role_id != ' ') {
				var checkBoxAdminValue, adminValue, checkBoxmasterValue, masterValue, checkBoxordersValue, ordersValue, checkBoxproductioncycle, productioncycleValue, checkBoxInventoryValue, inventoryValue, checkBoxhrmsValue, hrmsValue, checkBoxReports, reportsValue, checkBoxTranValue, tranValue;

				var finalVar = [];

				checkBoxAdminValue = document.querySelector("#Admin:checked");
				adminValue = (checkBoxAdminValue) ? 'Y' : 'N';
				if (adminValue === "Y") {
					finalVar.push("Admin");
				}

				checkBoxmasterValue = document.querySelector("#master:checked");
				masterValue = (checkBoxmasterValue) ? 'Y' : 'N';

				if (masterValue === "Y") {
					finalVar.push("Master");
				}

				checkBoxordersValue = document.querySelector("#orders:checked");
				ordersValue = (checkBoxordersValue) ? 'Y' : 'N';

				if (ordersValue === "Y") {
					finalVar.push("Orders");
				}

				checkBoxproductioncycle = document
						.querySelector("#production_cycle:checked");
				productioncycleValue = (checkBoxproductioncycle) ? 'Y' : 'N';

				if (productioncycleValue === "Y") {
					finalVar.push("Production Cycle");
				}

				checkBoxInventoryValue = document
						.querySelector("#inventory:checked");
				inventoryValue = (checkBoxInventoryValue) ? 'Y' : 'N';

				if (productioncycleValue === "Y") {
					finalVar.push("Inventory");
				}

				checkBoxhrmsValue = document.querySelector("#hrms:checked");
				hrmsValue = (checkBoxhrmsValue) ? 'Y' : 'N';

				if (hrmsValue === "Y") {
					finalVar.push("HRMS");
				}

				checkBoxReports = document.querySelector("#reports:checked");
				reportsValue = (checkBoxReports) ? 'Y' : 'N';

				if (reportsValue === "Y") {
					finalVar.push("Reports");
				}

				checkBoxTranValue = document
						.querySelector("#transaction_master:checked");
				tranValue = (checkBoxTranValue) ? 'Y' : 'N';
				if (tranValue === "Y") {
					finalVar.push("Transaction Master");
				}

				var finalString = finalVar.join(',');
				if (finalString == "") {
					$("#alertmsg1").text("Please Select Menu List");

					$('#alert1').modal("toggle");
				} else {

					var url = "./createAccessRole?" + '&adminValue=' + adminValue
							+ '&masterValue=' + masterValue + '&ordersValue='
							+ ordersValue + '&productioncycleValue='
							+ productioncycleValue + '&inventoryValue='
							+ inventoryValue + '&hrmsValue=' + hrmsValue
							+ '&reportsValue=' + reportsValue + '&tranValue='
							+ tranValue + '&finalString=' + finalString;
					$("#formmodify").attr('action', url);

					var options = {
						success : showResponse
					};

					$("#formmodify").ajaxSubmit(options);

					function showResponse(responseText, statusText, xhr, $form) {

						$("#alertmsg").text('Modified Successfully');

						$('#alert').modal("toggle");

						location.href = 'AdminAccessandRole';

					}
					;
				}

			} else {
				$("#alertmsg1").text("Please fill the Role ID");

				$('#alert1').modal("toggle");
			}
		}

	};


</script>
<script>
	function viewuser(a) {
		var role_id = a.getAttribute('data-userId');
		/* alert("role_id  :" + role_id); */

		location.href = './AdminAccessandRole?formmode=view&role_id=' + role_id;

	}

	function deleteuser(a) {

		var role_id = a.getAttribute('data-userId');
		/* alert("role_id  :" + role_id); */

		location.href = './AdminAccessandRole?formmode=delete&role_id='
				+ role_id;
	}

	function Modifyuserscreen(a) {

		var role_id = a.getAttribute('data-userId');
		/* alert("role_id  :" + role_id); */

		location.href = './AdminAccessandRole?formmode=modify&role_id='
				+ role_id;

	}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your JavaScript file -->
<script>
	function deleterolesubmit(event) {
		event.preventDefault(); // Prevents form from reloading the page

		/*    alert("Came to function"); */

		var role_id = document.getElementById("role_id").value;
		console.log("Role ID:", role_id);

		$.ajax({
			url : './deleteAccessRole?role_id=' + encodeURIComponent(role_id),
			type : 'POST',
			success : function(data) {
				alert('Deleted Successfully');
				location.href = 'AdminAccessandRole';

			},
			error : function(xhr, status, error) {
				console.error("AJAX Error: " + error);
				$("#alertmsg").text(
						"User verification failed. Please try again.");
				$("#alert").modal("toggle");
			}
		});
	}
</script>

<script src="/static/js/custom.js"></script>

<style>
.formline {
	padding-bottom: 0px;
	padding: 0px;
}

.modal-footer {
	float: center;
	text-align: center;
}
</style>


<style type="text/css">
.navbar {
	margin-left: -5px;
	position: fixed; /* Keep it fixed */
	top: 0;
	width: 100%;
	z-index: 1000; /* Ensure it's above other elements */
}

.content {
	margin-top: 151px ! important; /* Push content down to avoid overlap */
}

.container-fluid {
	width: 100%;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-manager {
	padding-right: 47px;
	padding-left: 132px;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -8px;
	margin-left: -22px;
}
</style>
<script type="text/javascript">
	$(document).ready(
			function() {
				$('.dropdown, .dropdown-submenu').hover(
						function() {
							$(this).children('.dropdown-menu').stop(true, true)
									.delay(200).fadeIn(200);
						},
						function() {
							$(this).children('.dropdown-menu').stop(true, true)
									.delay(200).fadeOut(200);
						});
			});
</script>
<script>

function checkAdmin(childCheckbox) {
    // Get all child checkboxes
    const allChildren = ['#ReferenceCode', '#UserProfileMaintenance', '#AccessRole'];

    let allChecked = true;
    for (const id of allChildren) {
        if (!$(id).prop('checked')) {
            allChecked = false;
            break;
        }
    }

    // If all are checked, check Admin; else uncheck
    $('#Admin').prop('checked', allChecked);
}

function checkUnorderedList(adminCheckbox) {
    const isChecked = adminCheckbox.checked;

    // Check/uncheck all child checkboxes
 
    $('#UserProfileMaintenance').prop('checked', isChecked);
    $('#AccessRole').prop('checked', isChecked);
    $('#ReferenceCode').prop('checked', isChecked);
}

function adminChecked(checkbox) {
    // Check the state of the Admin checkbox
    var isChecked = $(checkbox).prop('checked');
    // Toggle the state of other checkboxes based on Admin's state
  	if (checkbox.id === 'Admin') {
		$('#OrganizationMaster').prop('checked', isChecked);
		$('#UserProfileMaintenance').prop('checked', isChecked);
		$('#AccessRole').prop('checked', isChecked);
	}
    
}

function camelCaseToTitle(camelCase) {
	return camelCase.replace(/([A-Z])/g, ' $1').replace(/^./,
			function(str) {
				return str.toUpperCase();
			});
}

function getvalue() {
	var data = "";
	var n1 = document.getElementById('log').innerText;
	document.getElementById('log').innerHTML = "";
	$('#finusers :checkbox:checked').each(function() {
		var status = (this.checked ? $(this).val() : "");
		var id = $(this).attr("id");
		if (id === "ReferenceCode") {
			displayText = "Organization Master";
		} else {
			displayText = camelCaseToTitle(id);
		}
		$('#log').show();
		$('#menucontent').hide();
		data += "<p style='line-height: 0.5;'>" + displayText  + "</p>";
	});
	$('#log').append(data);
}

function view_btn_submit(a) {
	var srlno = a.getAttribute("data-role_id");
	location.href = 'AdminAccessandRole?formmode=view&userid=' + srlno;
}

function verify_btn_submit(a) {
	var srlno = a.getAttribute("data-role_id");
	location.href = 'AdminAccessandRole?formmode=verify&userid=' + srlno;
}
function verifySubmit(a) {

	var entryUser = a.getAttribute("data-entry_user");
	var modifyUser = a.getAttribute("data-modify_user");
	var formMode = "verify";
	var workClass = a.getAttribute("data-work_class");
	var loginUser = /*[[${session.USERID}]]*/null;
	if (workClass !== "C") {
		$('#myModalpopup1').modal("toggle");
		$('#myModalpopup1 .modal-body').text(
				"Maker cannot verify the record");
	} else {
		var url = "./createAccessRole?formmode=" + formMode;
		$("#FORMVerify").attr('action', url);
		var options = {
			success : handleSuccess,
			error : handleError
		};
		$("#FORMVerify").ajaxSubmit(options);
		function handleSuccess(responseText, statusText, xhr, $form) {
			$('#alert').modal("toggle");
			$('#alertmsg .modal-body').text("Role Verified Successfully");
		}
		function handleError(xhr, status, error) {
			var errorMessage = xhr.responseText
					|| "An error occurred. Please try again.";
			$('#alert').modal("toggle");
			$('#alertmsg .modal-body').text(errorMessage);
		}
	}
}
 
function edit_btn_submit(a) {
	var srlno = a.getAttribute("data-role_id");
	location.href = 'AdminAccessandRole?formmode=edit&userid=' + srlno;
}
</script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-12">
				<div class="container-fluid content">
					<div class="row">
						<div class="col-sm-12">
							<div th:if="${formmode}=='list'">
								<form action="#" method="post" autocomplete="off">
									<div class="card">
										<div class="card-header"
											style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div style="font-size: 1.3rem; font-weight: bold">
												<i class="fas fa-list mr-1"></i> ACCESS AND ROLE - LIST
											</div>
											<button type="button"
												class="btn btn-dark btn btn-dark-primary"
												onclick="adduser1()" id="page" style="width: 120px">
												<i class="fas fa-user-plus mr-2"></i>AddRole
											</button>
										</div>
										<div class="">
											<div class="table-responsive"
												style="overflow-y: auto; max-height: 68vh; border: 1px solid #dee2e6;">
												<table class="table  table-bordered  table-hover ">
													<thead
														style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 1;">
														<tr>
															<th style="text-align: left;">Role Id</th>
															<th style="text-align: left;">Role Description</th>
															<th style="text-align: left;">Permission</th>
															<th style="text-align: left;">Work Class</th>
															<th style="text-align: left;">Menu List</th>
															<th>Select</th>

														</tr>
													</thead>
													<tbody>
														<tr th:each="AccessRole : ${AccessandRoles}"
															th:attr="data-userid=${AccessRole?.role_id}"
															th:id="${AccessRole?.role_id}" class="userlist">
															<td th:text="${AccessRole?.role_id.toUpperCase()}"></td>
															<td class="init-cap"
																th:text="${AccessRole?.role_desc.toUpperCase()}"></td>
															<td>
																<ul
																	th:each="value : ${#strings.arraySplit(AccessRole?.menulist, ',')}">
																	<li th:if="${value != 'ServiceChargesFees'}"
																		th:text="${value}" class="init-cap"></li>
																</ul>
															</td>
															<th:block th:switch="${AccessRole?.work_class}">
																<td th:case="'M'">MAKER</td>
																<td th:case="'C'">CHECKER</td>
																<td th:case="'B'">READER</td>
															</th:block>
															<th:block th:switch="${AccessRole?.entity_flg}">
																<td th:case="'Y'" style="color: green;">VERIFIED</td>
																<td th:case="'N'" style="color: red;">UNVERIFIED</td>
															</th:block>
															<td>
																<div class="dropdown actionBtn">
																	<button class="btn btn-secondary dropdown-toggle"
																		type="button" id="dropdownMenuButton" title="Action"
																		style="line-height: 0.7; width: 70px; font-size: 13px; color: #162b75; font-weight: 700; background: #e3e3e4;"
																		data-toggle="dropdown" aria-haspopup="true"
																		aria-expanded="false">Action</button>
																	<div class="dropdown-menu"
																		aria-labelledby="dropdownMenuButton"
																		style="background-color: #e3e3e4; color: #3a4550;">
																		<a th:attr="data-role_id=${AccessRole?.role_id}"
																			class="dropdown-item" title="Modify"
																			style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
																			id="edit_value" onclick="edit_btn_submit(this)"
																			th:if="${AccessRole?.entity_flg} =='Y' AND ${AccessRole.permissions}=='W'">Modify</a>
																		<div class="dropdown-divider"
																			th:if="${AccessRole?.entity_flg} =='Y' AND ${AccessRole.permissions}=='W'"></div>
																		<a th:attr="data-role_id=${AccessRole?.role_id}"
																			class="dropdown-item" title="Inquiry"
																			style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
																			onclick="view_btn_submit(this)" id="view_btn"
																			th:if="(${AccessRole.entity_flg}=='N' AND ${AccessRole.new_role_flg}=='Y' AND ${AccessRole.modify_flg}=='N') ">View
																		</a>
																		<div class="dropdown-divider"
																			th:if="${AccessRole.entity_flg}=='N' and ${AccessRole.work_class}=='C'"></div>
																		<a th:attr="data-role_id=${AccessRole?.role_id}"
																			th:if="${AccessRole?.entity_flg} == 'N' AND ${AccessRole.work_class}=='C'"
																			class="dropdown-item" title="Verify"
																			style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
																			onclick="verify_btn_submit(this)" id="MFundtransfer1">Verify
																		</a>
																		<div class="dropdown-divider"
																			th:if="${AccessRole?.entity_flg} == 'N'"></div>
																		<a class="dropdown-item" title="View"
																			style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
																			th:attr="data-role_id=${AccessRole?.role_id}"
																			onclick="cancel_btn_submit(this);"
																			th:id="${AccessRole?.role_id}"
																			th:if="${AccessRole.entity_flg}=='N' ">Delete</a>
																	</div>
																</div>
															</td>
														</tr>
													</tbody>

												</table>
											</div>
										</div>

										<div class="card">
											<div class="card-footer text-center"
												style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
												<button type="button"
													class="btn btn-dark btn btn-dark-primary"
													id="btn btn-darkHome" style="width: 120px"
													onclick="home();">Home</button>
												<button type="button"
													class="btn btn-dark btn btn-dark-primary"
													id="btn btn-darkBack" style="width: 120px"
													onclick="back();">Back</button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- ************************************************** ADD STARTS ******************************************************************************** -->
							<div th:if="${formmode}=='add'">
								<form name="formdata" action="#" th:object="${formdata}"
									method="POST" autocomplete="off" id="formdata">
									<div class="card">

										<div class="card-header"
											style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div class="float-left">
												<div style="font-size: 1.3rem;" th:if="${formmode}=='add'">ACCESS
													AND ROLE - ADD</div>
											</div>
										</div>
										<div class="card-body">
											<div class="form-group mb-0">
												<div class="row formline ">
													<div class="col-4 col-lg-2">
														<label>Role Id</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="role_id" name="role_id"
															class="form-control form-control-sm" required />
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="role_desc">Role Description</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="role_desc" name="role_desc"
															class="form-control form-control-sm" required />
													</div>


												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="permissions">Permissions</label>
													</div>
													<div class="col-4 col-lg-2">
														<select id="permissions" name="permissions"
															class="form-control form-control-sm" autocomplete="off"
															required>
															<option value="" disabled selected>--select--</option>
															<option value="R">READ</option>
															<option value="W">WRITE</option>
														</select>
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="remarks">Remarks</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="remarks" name="remarks"
															class="form-control form-control-sm" required />
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="work_class">Work Class</label>
													</div>
													<div class="col-4 col-lg-2">
														<select id="work_class" name="work_class"
															class="form-control form-control-sm" autocomplete="off"
															required>
															<option value="" disabled selected>--select--</option>
															<option value="M">MAKER</option>
															<option value="C">CHECKER</option>
														</select>
													</div>
													<div class="col-4 col-lg-2"></div>
													<label class="col-sm-2">Menu List</label>
													<div class="col-sm-2">
														<div id="log" style="display: none;"></div>
														<div id="menucontent">
															<p id="menuValue"></p>
														</div>
													</div>
													<a href="#"><i class="fas fa-search searchico"
														data-toggle="modal" data-target="#finusers" id="iconacc"></i></a>
												</div>
											</div>

										</div>
										<div class="card-footer text-center"
											style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<button type="button"
												class="btn btn-dark btn btn-dark-primary"
												id="btn btn-darkHome" style="width: 120px" onclick="home();">Home</button>
											<button type="button"
												class="btn btn-dark btn btn-dark-primary"
												id="btn btn-darkSubmit" style="width: 120px"
												th:attr="data-formmode='add'" onclick="submitform(this);">Submit</button>
											<button type="button"
												class="btn btn-dark btn btn-dark-primary"
												id="btn btn-darkBack" style="width: 120px" onclick="back();">Back</button>
										</div>
									</div>
								</form>
							</div>

							<!-- ******************************************* VIEW & DELETE STARTS **************************************************************************************************** -->

							<div th:if="${formmode}=='view' OR ${formmode}=='verify' ">
								<form name="FORMVerify" action="#"
									th:object="${accessRolesview}" method="POST" autocomplete="off"
									id="FORMVerify">
									<div class="card">

										<div class="card-header"
											style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div class="float-left">
												<div style="font-size: 1.3rem;" th:if="${formmode}=='view'">ACCESS
													AND ROLE - VIEW</div>
												<div style="font-size: 1.3rem;"
													th:if="${formmode}=='verify'">ACCESS AND ROLE -
													VERIFY</div>

											</div>
										</div>
										<div class="card-body">
											<div class="form-group mb-0">
												<div class="row formline ">
													<div class="col-4 col-lg-2">
														<label>Role Id</label>
													</div>
													<div class="col-4 col-lg-2">

														<input type="text" id="role_id" name="role_id"
															th:value="${accessRolesview != null ? accessRolesview.role_id : ''}"
															class="form-control form-control-sm" readonly />
														<!--  th:value="${accessRolesview.role_id}" -->
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="role_desc">Role Description</label>
													</div>

													<div class="col-4 col-lg-2">
														<input type="text" id="role_desc" name="role_desc"
															th:value="${accessRolesview.role_desc}"
															class="form-control form-control-sm" readonly />

													</div>


												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="permissions">Permissions</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="permissions" name="permissions"
															th:value="${accessRolesview.permissions}"
															class="form-control form-control-sm" readonly />
														<!-- <select id="permissions" name="permissions"
															class="form-control form-control-sm" autocomplete="off" required >
															<option value="" disabled selected>--select--</option>
															<option value="read" id="read">Read</option>
															<option value="write" id="write">Write</option>
														</select> -->
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="remarks">Remarks</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="remarks" name="remarks"
															th:value="${accessRolesview.remarks}"
															class="form-control form-control-sm" readonly />
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="work_class">Work Class</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="work_class" name="work_class"
															th:value="${accessRolesview.work_class}"
															class="form-control form-control-sm" readonly />
													</div>
													<div class="col-4 col-lg-2"></div>
													<label class="col-sm-2">Menu List</label>
													<div class="col-sm-2">
														<input type="text" id="menulist" name="menulist"
															th:value="${accessRolesview.menulist}"
															class="form-control form-control-sm" readonly />
													</div>

												</div>
											</div>
										</div>
										<BR>
										<div class="card-footer text-center"
											style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<button type="button"
												class="btn btn-dark btn btn-dark-primary"
												id="btn btn-darkHome" style="width: 120px" onclick="home();">Home</button>
											<button th:if="${formmode=='verify'}"
												class="btn btn-primary mx-2 btn-dark"
												style="width: 150px; color: white;" type="button"
												th:attr="data-formmode='verify',data-entry_user=${accessRolesview.entry_user},
									           data-modify_user=${accessRolesview.modify_user},
									           data-work_class=${accessRolesview.work_class}"
												id="register" onclick="verifySubmit(this)">Submit</button>
											<button type="button"
												class="btn btn-dark btn btn-dark-primary"
												id="btn btn-darkBack" style="width: 120px" onclick="back();">Back</button>
										</div>
									</div>
								</form>
							</div>
							<!-- ******************************************* VIEW & DELETE ENDS **************************************************************************************************** -->

							<!-- ******************************************* MODIFY STARTS **************************************************************************************************** -->

							<div th:if="${formmode}=='edit'">
								<form name="formdata" action="#"
									th:object="${accessRolesview}" method="POST" autocomplete="off"
									id="formdata">
									<div class="card">
										<div class="card-header"
											style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div class="float-left">
												<div style="font-size: 1.3rem;"
													th:if="${formmode}=='modify'">ACCESS AND ROLE -
													MODIFY</div>
											</div>
										</div>
										<div class="card-body">
											<div class="form-group mb-0">
												<div class="row formline ">
													<div class="col-4 col-lg-2">
														<label>Role Id</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="role_id" name="role_id"
															th:value="${accessRolesview != null ? accessRolesview.role_id : ''}"
															class="form-control form-control-sm" readonly />
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="role_desc">Role Description</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="role_desc" name="role_desc"
															th:value="${accessRolesview != null ? accessRolesview.role_id : ''}"
															class="form-control form-control-sm" readonly />
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="permissions">Permissions</label>
													</div>
													<div class="col-4 col-lg-2">
														<select id="permissions" name="permissions"
															class="form-control form-control-sm" autocomplete="off"
															required>
															<option value="" disabled selected>--select--</option>
															<option value="read" id="R"
																th:selected="${accessRolesview.permissions == 'R'}">Read</option>
															<option value="write" id="W"
																th:selected="${accessRolesview.permissions == 'W'}">Write</option>
														</select>
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="remarks">Remarks</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="remarks" name="remarks"
															th:value="${accessRolesview.remarks}"
															class="form-control form-control-sm" />
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="work_class">Work Class</label>
													</div>
													<div class="col-4 col-lg-2">
														<select id="work_class" name="work_class"
															class="form-control form-control-sm" autocomplete="off"
															required>
															<option value="" disabled selected>--select--</option>
															<option value="M"
																th:selected="${accessRolesview.work_class == 'M'}">Maker</option>
															<option value="C"
																th:selected="${accessRolesview.work_class == 'C'}">Checker</option>

														</select>
													</div>
													<div class="col-4 col-lg-2"></div>
													<label class="col-sm-2">Menu List</label>
													<div class="col-sm-2">
														<div id="log"
															style="background-color: #dbdfe2; display: none;">
														</div>
														<div id="menucontent">
															<p id="menuValue"
																th:each="message:${#strings.arraySplit(accessRolesview.menulist, ',')}"
																th:text="${message}"></p>
														</div>
													</div>
													<a href="#"><i class="fas fa-search searchico"
														data-toggle="modal" data-target="#finusers" id="iconacc"></i></a>
												</div>
												<BR>
												<div class="card-footer text-center"
													style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
													<button type="button"
														class="btn btn-dark btn btn-dark-primary"
														id="btn btn-darkHome" style="width: 120px"
														onclick="home();">Home</button>
													<button type="button"
													    th:attr="data-formmode='edit'"
														class="btn btn-dark btn btn-dark-primary"
														id="btn btn-darkSubmit" style="width: 120px"
														onclick="submitform(this);">Submit</button>
													<button type="button"
														class="btn btn-dark btn btn-dark-primary"
														id="btn btn-darkBack" style="width: 120px"
														onclick="back();">Back</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<br>
				<!--<div class="container-fluid">
					<div class="card">
						<div class="card-body text-center">
							<div class="form-group ">
								<div class="container-fluid">
									<div class="row row-cols-2 row-cols-lg-3">
										<div class="col-4 col-lg-2">
											<label>Entry User:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:value="${session.USERID}"
												th:if="${formmode}=='add'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Modify User:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:value="${session.USERID}"
												th:if="${formmode}=='add'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Verify User:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:value="${session.USERID}"
												th:if="${formmode}=='add'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
									</div>
									<div class="row row-cols-2 row-cols-lg-3">
										<div class="col-4 col-lg-2">
											<label>Entry Date:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:if="${formmode}=='add'"
												th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Modify Date:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:if="${formmode}=='add'"
												th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Verify Date:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:if="${formmode}=='add'"
												th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div align="right" style="margin-left: 870px; font-size: 18px">
						Status : <font style="color: #00cc00; font-size: 18px">ACTIVE</font>
					</div>
				</div>-->
			</div>
		</div>


	</div>
	<div class="modal fade" id="formmsg" data-backdrop="static"
		data-keyboard="false">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">

				<div class="menu-title-header">
					<div class="modal-title" id="exampleModalLabel"
						style="text-align: center; color: white;">CIM FINANCE</div>
				</div>
				<div class="modal-body"
					style="margin-top: 8px; text-align: center; background-color: #c6ccd2">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<a th:value="${msg}"></a>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark btn btn-dark-primary"
						onclick="submitformdelete(this);" th:attr="data-formmode=delete">Submit</button>
					<button type="button" class="btn btn-dark btn btn-dark-primary"
						data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="alert">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="menu-title-header">
					<div class="modal-title" id="exampleModalLabel"
						style="text-align: center; color: rgb(0, 0, 0);">Access &
						Role</div>
				</div>
				<div class="modal-body"
					style="text-align: center; background-color: #c6ccd2">
					<p id="alertmsg" style="font-size: 16px;">Added Successfully</p>
					<button type="button" class="btn btn-dark btn btn-dark-primary"
						data-dismiss="modal" onclick="back();">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- MENU LIST -->
	<div class="modal fade" id="finusers" style="background: #000000b0;">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #f0f0f0;">
					<h4 class="modal-title">Menu List</h4>
					<button type="button" style="color: #000000; font-size: 20px;"
						class="close" data-dismiss="modal">X</button>
				</div>
				<div class="modal-body" style="background-color: white;">
					<li style="display: flex; align-items: center;"><input
						type="checkbox" id="Admin" value="Y" name="admin"
						th:checked="${accessRolesview?.admin}==Y" style="margin-right: 10px"
						onclick="checkUnorderedList(this)" />Admin Operations</li>
					<ul>
						<li style="display: flex; align-items: center;"><input
							type="checkbox" id="ReferenceCode" value='Y'
							name="reference_code" style="margin-right: 10px"
							th:checked="${accessRolesview?.organization_master}=='Y'"
							onclick="checkAdmin(this)" /> <label for="ReferenceCode"
							style="margin-top: 3px;">Organization Master</label></li>

						<li style="display: flex; align-items: center;"><input
							type="checkbox" id="UserProfileMaintenance" value="Y"
							name="user_profile_maintenance"
							th:checked="${accessRolesview?.user_profile_maintenance == 'Y'}"
							onclick="checkAdmin(this)"
							style="margin-right: 10px; margin-top: 0;" /> <label
							for="UserProfileMaintenance" style="margin-top: 3px;">User
								Profile Maintenance</label></li>
						<li style="display: flex; align-items: center;"><input
							type="checkbox" id="AccessRole" value="Y" name="access_role"
							th:checked="${accessRolesview?.access_role == 'Y'}"
							onclick="checkAdmin(this)" style="margin-right: 10px" /> <label
							for="AccessRole" style="margin-top: 3px;">Access and
								Roles</label></li>

					</ul>

					<div style="float: right;">
						<button type="button" class="btn btn-dark btn btn-dark-primary"
							data-dismiss="modal" onclick="getvalue();">SUBMIT</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>