<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.9.0/css/all.min.css"
		th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
		th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
		th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
		th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
	<script src="/webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
		th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

	<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
		th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

	<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
		th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

	<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
		th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
	<script src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
		th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<style>
.row{
    margin-bottom: 10px;
}
.custom-input {
	height: 30px; /* Adjust the height as needed */
	padding: 5px; /* Adjust padding as needed */
}
</style>
<style>
input, select {
	height: 30px; /* Adjust height */
	padding: 5px; /* Adjust padding */
	border-radius: 5px; /* Rounded corners */
	border: 1px solid #ccc; /* Light gray border */
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	/* Inner shadow for 3D effect */
	outline: none; /* Remove outline on focus */
	transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	/* Smooth transition */
}

/* Add a hover effect for better UI */
input:hover, select {
	border-color: #007bff; /* Change border color on hover */
}

/* Add focus effect for interaction feedback */
input:focus, select {
	border-color: #007bff; /* Change border color on focus */
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	/* Light blue shadow on focus */
}
</style>

	<style>
		ul.l {
			list-style-type: square;
		}

		ul.li {
			list-style-type: inherit;
		}

		.card-header {
			display: flex;
			float: left;
		}

		label {
			font-size: 1px;
		}

		#exampleModalLabel {
			color: white;
		}

		#menulist {
			margin-top: 10px;
		}

		#page {
			position: absolute;
			right: 0;
			margin-right: 20px;
		}

		.table {
			text-align: center;
		}

		label {
			font-size: 16px;
		}
	</style>

	<script th:inline="javascript">
		var checkboxes = document.querySelectorAll("input[type='checkbox']");
		function check(mycheck) {
			if (mycheck == true) {
				checkboxes.forEach(function (checkbox) {
					checkbox.checked = true;
				});
			} else {
				checkboxes.forEach(function (checkbox) {
					checkbox.checked = false;
				});
			}
		}
		function adduser1() {
			location.href = 'BTMAdminAccessandRole?formmode=add'
		}

		function list() {
			location.href = 'BTMAdminAccessandRole?formmode=list';
		}
		function home() {
			location.href = 'Dashboard'
		}

		function getvalue() {
			/* $('#log').empty(); */
			//$( "#log" ).load(window.location.href + " #log" );
			var data = "";
			$('#exampleModal :checkbox:checked').each(function () {
				var status = (this.checked ? $(this).val() : "");
				var id = $(this).attr("id");
				$('#log').show();

				$('#menucontent').hide();

				data += "<p>" + id + "</p>";

			});

			$('#log').append(data);
			/*  $('#log').append("<h3>" + id + " : " + status + "</h3>"); */
		}

		function menulist() {
			var name = document.getElementById("role_desc").value;

			if (name == "Admin") {
				document.getElementById("admin").checked = true;
				document.getElementById("Maintenance").checked = true;
				document.getElementById("Operations").checked = true;
				document.getElementById("Placement").checked = true;
				document.getElementById("Inquiries").checked = true;
				document.getElementById("Reports").checked = true;

			} else if (name == "General") {
				document.getElementById("admin").checked = false;
				document.getElementById("Maintenance").checked = false;
				document.getElementById("Operations").checked = true;
				document.getElementById("Placement").checked = true;
				document.getElementById("Inquiries").checked = true;
				document.getElementById("Reports").checked = true;

			} else if (name == "Audit") {
				document.getElementById("admin").checked = false;
				document.getElementById("Maintenance").checked = true;
				document.getElementById("Operations").checked = true;
				document.getElementById("Placement").checked = true;
				document.getElementById("Inquiries").checked = true;
				document.getElementById("Reports").checked = true;

			} else if (name == "Inquiry") {
				document.getElementById("Admin").checked = false;
				document.getElementById("Maintenance").checked = true;
				document.getElementById("Operations").checked = true;
				document.getElementById("Placement").checked = true;
				document.getElementById("Inquiries").checked = true;
				document.getElementById("Reports").checked = true;

			} else if (name == "MIS") {
				document.getElementById("Admin").checked = false;
				document.getElementById("Maintenance").checked = false;
				document.getElementById("Operations").checked = false;
				document.getElementById("Placement").checked = false;
				document.getElementById("Inquiries").checked = true;
				document.getElementById("Reports").checked = true;

			}
		}

		function back() {
		
			window.history.back();
		}
		function submitform(a) {

			var role_id = $("#role_id").val();
			alert(role_id);

			if ($("#formdata").valid()) {
				
				if (role_id != ' ') {
					var checkBoxAdminValue, adminValue, checkBoxmasterValue, masterValue,checkBoxordersValue, ordersValue,checkBoxproductioncycle, productioncycleValue,
					checkBoxInventoryValue, inventoryValue,checkBoxhrmsValue, hrmsValue,checkBoxReports,reportsValue,
					checkBoxTranValue, tranValue;
					
					var finalVar = [];

					checkBoxAdminValue = document.querySelector("#Admin:checked");
					adminValue = (checkBoxAdminValue) ? 'Y' : 'N';
					if (adminValue === "Y") {
						finalVar.push("Admin");
					}

					checkBoxmasterValue = document.querySelector("#master:checked");
					masterValue = (checkBoxmasterValue) ? 'Y' : 'N';

					if (masterValue === "Y") {
						finalVar.push("Master");
					}
					
					checkBoxordersValue = document.querySelector("#orders:checked");
					ordersValue = (checkBoxordersValue) ? 'Y' : 'N';

					if (ordersValue === "Y") {
						finalVar.push("Orders");
					}

					checkBoxproductioncycle = document.querySelector("#production_cycle:checked");
					productioncycleValue = (checkBoxproductioncycle) ? 'Y' : 'N';

					if (productioncycleValue === "Y") {
						finalVar.push("Production Cycle");
					}
					
					checkBoxInventoryValue = document.querySelector("#inventory:checked");
					inventoryValue = (checkBoxInventoryValue) ? 'Y' : 'N';

					if (productioncycleValue === "Y") {
						finalVar.push("Inventory");
					}
					
					checkBoxhrmsValue = document.querySelector("#hrms:checked");
					hrmsValue = (checkBoxhrmsValue) ? 'Y' : 'N';

					if (hrmsValue === "Y") {
						finalVar.push("HRMS");
					}
					
					checkBoxReports = document.querySelector("#reports:checked");
					reportsValue = (checkBoxReports) ? 'Y' : 'N';

					if (reportsValue === "Y") {
						finalVar.push("Reports");
					}
					
					checkBoxTranValue = document.querySelector("#transaction_master:checked");
					tranValue = (checkBoxTranValue) ? 'Y' : 'N';
					if (tranValue === "Y") {
						finalVar.push("Transaction Master");
					}
					

					var finalString = finalVar.join(',');
					if (finalString == "") {
						$("#alertmsg1").text("Please Select Menu List");

						$('#alert1').modal("toggle");
					} else {
						
						
						
						var url = "./addAccessRole?" + '&adminValue=' + adminValue
							+ '&masterValue=' + masterValue
							+ '&ordersValue=' + ordersValue
							+ '&productioncycleValue=' + productioncycleValue
							+ '&inventoryValue=' + inventoryValue
							+ '&hrmsValue=' + hrmsValue
							+ '&reportsValue=' + reportsValue
							+ '&tranValue=' + tranValue
							+ '&finalString=' + finalString;
						$("#formdata").attr('action', url);

						var options = {
							success: showResponse
						};

						$("#formdata").ajaxSubmit(options);

						function showResponse(responseText, statusText, xhr, $form) {

							$("#alertmsg").text(responseText);

							$('#alert').modal("toggle");
							
							location.href = 'BTMAdminAccessandRole';


						}
						;
					}

				} else {
					$("#alertmsg1").text("Please fill the Role ID");

					$('#alert1').modal("toggle");
				}
			}

		};
		
		function submitmodifyform(a) {

			var role_id = $("#role_id").val();
			alert(role_id);

			if ($("#formmodify").valid()) {
				
				if (role_id != ' ') {
					var checkBoxAdminValue, adminValue, checkBoxmasterValue, masterValue,checkBoxordersValue, ordersValue,checkBoxproductioncycle, productioncycleValue,
					checkBoxInventoryValue, inventoryValue,checkBoxhrmsValue, hrmsValue,checkBoxReports,reportsValue,
					checkBoxTranValue, tranValue;
					
					var finalVar = [];

					checkBoxAdminValue = document.querySelector("#Admin:checked");
					adminValue = (checkBoxAdminValue) ? 'Y' : 'N';
					if (adminValue === "Y") {
						finalVar.push("Admin");
					}

					checkBoxmasterValue = document.querySelector("#master:checked");
					masterValue = (checkBoxmasterValue) ? 'Y' : 'N';

					if (masterValue === "Y") {
						finalVar.push("Master");
					}
					
					checkBoxordersValue = document.querySelector("#orders:checked");
					ordersValue = (checkBoxordersValue) ? 'Y' : 'N';

					if (ordersValue === "Y") {
						finalVar.push("Orders");
					}

					checkBoxproductioncycle = document.querySelector("#production_cycle:checked");
					productioncycleValue = (checkBoxproductioncycle) ? 'Y' : 'N';

					if (productioncycleValue === "Y") {
						finalVar.push("Production Cycle");
					}
					
					checkBoxInventoryValue = document.querySelector("#inventory:checked");
					inventoryValue = (checkBoxInventoryValue) ? 'Y' : 'N';

					if (productioncycleValue === "Y") {
						finalVar.push("Inventory");
					}
					
					checkBoxhrmsValue = document.querySelector("#hrms:checked");
					hrmsValue = (checkBoxhrmsValue) ? 'Y' : 'N';

					if (hrmsValue === "Y") {
						finalVar.push("HRMS");
					}
					
					checkBoxReports = document.querySelector("#reports:checked");
					reportsValue = (checkBoxReports) ? 'Y' : 'N';

					if (reportsValue === "Y") {
						finalVar.push("Reports");
					}
					
					checkBoxTranValue = document.querySelector("#transaction_master:checked");
					tranValue = (checkBoxTranValue) ? 'Y' : 'N';
					if (tranValue === "Y") {
						finalVar.push("Transaction Master");
					}
					

					var finalString = finalVar.join(',');
					if (finalString == "") {
						$("#alertmsg1").text("Please Select Menu List");

						$('#alert1').modal("toggle");
					} else {
						
						
						
						var url = "./addAccessRole?" + '&adminValue=' + adminValue
							+ '&masterValue=' + masterValue
							+ '&ordersValue=' + ordersValue
							+ '&productioncycleValue=' + productioncycleValue
							+ '&inventoryValue=' + inventoryValue
							+ '&hrmsValue=' + hrmsValue
							+ '&reportsValue=' + reportsValue
							+ '&tranValue=' + tranValue
							+ '&finalString=' + finalString;
						$("#formmodify").attr('action', url);

						var options = {
							success: showResponse
						};

						$("#formmodify").ajaxSubmit(options);

						function showResponse(responseText, statusText, xhr, $form) {

							$("#alertmsg").text('Modified Successfully');

							$('#alert').modal("toggle");
							
							location.href = 'BTMAdminAccessandRole';


						}
						;
					}

				} else {
					$("#alertmsg1").text("Please fill the Role ID");

					$('#alert1').modal("toggle");
				}
			}

		};

		function getvalue() {
			/* $('#log').empty(); */
			//$( "#log" ).load(window.location.href + " #log" );
			var data = "";
			var n1 = document.getElementById('log').innerText;
			document.getElementById('log').innerHTML = "";

			$('#finusers :checkbox:checked').each(function () {

				var status = (this.checked ? $(this).val() : "");
				var id = $(this).attr("id");
				$('#log').show();

				$('#menucontent').hide();

				data += "<p>" + id + "</p>";

			});

			$('#log').append(data);
			/*  $('#log').append("<h3>" + id + " : " + status + "</h3>"); */
		}
	</script>
	<script>
	function viewuser(a) {
		var role_id = a.getAttribute('data-userId');
		/* alert("role_id  :" + role_id); */

		location.href = './BTMAdminAccessandRole?formmode=view&role_id=' + role_id;

	}
	
	function deleteuser(a) {

		var role_id = a.getAttribute('data-userId');
		/* alert("role_id  :" + role_id); */

		location.href = './BTMAdminAccessandRole?formmode=delete&role_id=' + role_id;
	}
	
	function Modifyuserscreen(a) {

		var role_id = a.getAttribute('data-userId');
		/* alert("role_id  :" + role_id); */

		location.href = './BTMAdminAccessandRole?formmode=modify&role_id=' + role_id;
		
	}
	</script>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your JavaScript file -->
<script>
function deleterolesubmit(event) {
    event.preventDefault(); // Prevents form from reloading the page

 /*    alert("Came to function"); */

    var role_id = document.getElementById("role_id").value;
    console.log("Role ID:", role_id);

    $.ajax({
        url: './deleteAccessRole?role_id=' + encodeURIComponent(role_id), 
        type: 'POST',
        success: function(data) {
        	alert('Deleted Successfully');
        	location.href = 'BTMAdminAccessandRole';
        
        },
        error: function(xhr, status, error) {
            console.error("AJAX Error: " + error);
            $("#alertmsg").text("User verification failed. Please try again.");
            $("#alert").modal("toggle");
        }
    });
}

</script>

<script src="/static/js/custom.js"></script> 
		
	<style>
	
		.formline {
			padding-bottom: 0px;
			padding: 0px;
		}

		.modal-footer {
			float: center;
			text-align: center;
		}
	</style>
	
	
<style type="text/css">
.navbar {
    margin-left: -5px;
    position: fixed; /* Keep it fixed */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}
.content {
    margin-top: 151px ! important; /* Push content down to avoid overlap */
}
.container-fluid {
    width: 100%;
    padding-top:5px;
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-manager {
	padding-right: 47px;
	padding-left: 132px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -22px;
}
</style>
<script type="text/javascript">
$(document).ready(function () {
    $('.dropdown, .dropdown-submenu').hover(function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
    }, function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
    });
});
</script>
	
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-12">
				<div class="container-fluid content">
					<div class="row">
						<div class="col-sm-12">
							<div th:if="${formmode}=='list'">
								<form action="#" method="post" autocomplete="off">
									<div class="card">
										<div class="card-header" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div style="font-size:1.3rem; font-weight:bold"><i class="fas fa-list mr-1"></i> ACCESS AND ROLE - LIST</div>
											<button type="button" class="btn btn-dark btn btn-dark-primary" onclick="adduser1()" id="page"
												style="width: 120px"><i class="fas fa-user-plus mr-2"></i>AddRole</button>
										</div>
										<div class="">
										<div class="table-responsive"
										style="overflow-y: auto; max-height: 68vh; border: 1px solid #dee2e6;">
												<table class="table bordered">
													<thead style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 1;">
														<tr>
															<th style="text-align: left;">Role Id</th>
															<th style="text-align: left;">Role Description</th>
															<th style="text-align: left;">Permission</th>
															<th style="text-align: left;">Work Class</th>
															<th style="text-align: left;">Menu List</th>
															<th>Select</th>

														</tr>
													</thead>
													<tbody id="accessRoles" th:each="accessRoles : ${accessRolesList}">
														<tr>
															<td style="text-align: left; width: 155px" th:text="${accessRoles?.role_id}">
															</td>
															<td style="text-align: left;width: 250px"
																th:text="${accessRoles?.role_desc}"></td>
															<td style="text-align: left;" th:text="${accessRoles?.permissions}"></td>
															<td style="text-align: left;" th:text="${accessRoles?.work_class}"></td>
															<td style="text-align: left;width: 250px" th:text="${accessRoles?.menulist}">
															</td>
															<td style="text-align: center;">
													<div class="dropdown" style="text-align: center;">
														<button class="btn btn-secondary dropdown-toggle"
															type="button" id="dropdownMenuButton" title="Action"
															style="line-height: 0.7; font-size: 13px; color: #3a4550; background: #e3e3e4;"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">Action</button>

														<div class="dropdown-menu"
															aria-labelledby="dropdownMenuButton"
															style="background-color: #e3e3e4; color: #3a4550;">


															<!-- 	<a class="dropdown-item" title=" Modify"
																style="cursor: pointer;" onclick="modifyscreen(this)">Modify</a> -->

															<a class="dropdown-item" title="view"
																th:attr="data-userId=${accessRoles?.role_id}"
																style="cursor: pointer;" onclick="viewuser(this)">View</a>
																
															<a class="dropdown-item" title="Modify"
																th:attr="data-userId=${accessRoles?.role_id}"
																style="cursor: pointer;"
																onclick="Modifyuserscreen(this)">Modify</a>
															
															<a class="dropdown-item" title="Delete"
															th:attr="data-userId=${accessRoles?.role_id}"
																style="cursor: pointer;" onclick="deleteuser(this)">Delete</a>


														</div>
													</div>

												</td>
															<!-- <th:block th:switch="${accessRoles.status}">
																<td th:case="'Y'" style="color: green;">Verified</td>
																<td th:case="'N'" style="color: red;">UnVerified</td>
															</th:block> -->
														</tr>
													</tbody>
												</table>
											</div>
										</div>

										<div class="card">
											<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
												<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkHome"
													style="width: 120px" onclick="home();">Home</button>
												<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkBack"
													style="width: 120px" onclick="back();">Back</button>
											</div>
										</div>
									</div>
								</form>
							</div>
<!-- ************************************************** ADD STARTS ******************************************************************************** -->
							<div th:if="${formmode}=='add'">
								<form name="formdata" action="#" th:object="${formdata}" method="POST"
									autocomplete="off" id="formdata">
									<div class="card">

										<div class="card-header" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div class="float-left">
												<div style="font-size:1.3rem;" th:if="${formmode}=='add'">ACCESS AND ROLE - ADD</div>
											</div>
										</div>
										<div class="card-body">
											<div class="form-group mb-0">
												<div class="row formline ">
													<div class="col-4 col-lg-2">
														<label>Role Id</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="role_id" name="role_id"
															class="form-control form-control-sm" required/>
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="role_desc">Role Description</label>
													</div>

													<div class="col-4 col-lg-2">
														<select id="role_desc" name="role_desc" onchange="menulist()"
															class="form-control form-control-sm" autocomplete="off"required>
															<option disabled selected>--select--</option>
															<!-- <option value="Admin" id="Admin">Admin</option>
															<option value="General" id="General">General</option>
															<option value="Audit" id="Audit">Audit</option>
															<option value="Inquiry" id="Inquiry">Inquiry</option>
															<option value="MIS" id="MIS">MIS</option> -->
															<option value="Admin_Manager" id="Admin_Manager">Admin Manager</option>
<option value="HR Executive" id="HR_Executive">HR Executive</option>
<option value="Business Development_Executive" id="Business_Development_Executive">Business Development Executive</option>
<option value="Senior Business Development_Executive" id="Senior_Business_Development_Executive">Senior Business Development Executive</option>
<option value="Finance Manager" id="Finance_Manager">Finance Manager</option>
<option value="Finance Executive" id="Finance_Executive">Finance Executive</option>
<option value="Marketing Manager" id="Marketing_Manager">Marketing Manager</option>
<option value="Sales Manager" id="Sales_Manager">Sales Manager</option>
<option value="IT Executive" id="IT_Executive">IT Executive</option>
<option value="Business Executive" id="Business_Executive">Business Executive</option>
<option value="General Manager" id="General_Manager">General Manager</option>
<option value="Area Sales Manager" id="Area_Sales_Manager">Area Sales Manager</option>
<option value="Product Manager Core" id="Product_Manager_Core">Product Manager (Core)</option>
<option value="Admin Executive" id="Admin_Executive">Admin Executive</option>
															
														</select>
													</div>


												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="permissions">Permissions</label>
													</div>
													<div class="col-4 col-lg-2">
														<select id="permissions" name="permissions"
															class="form-control form-control-sm" autocomplete="off" required >
															<option value="" disabled selected>--select--</option>
															<option value="read" id="read">Read</option>
															<option value="write" id="write">Write</option>
														</select>
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="remarks">Remarks</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="remarks" name="remarks"
															class="form-control form-control-sm" required/>
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="work_class">Work Class</label>
													</div>
													<div class="col-4 col-lg-2">
														<select id="work_class" name="work_class"
															class="form-control form-control-sm" autocomplete="off" required>
															<option value="" disabled selected>--select--</option>
															<option value="maker" id="maker">Maker</option>
															<option value="checker" id="checker">Checker</option>
															<option value="reader" id="reader">Reader</option>
														</select>
													</div>
													<div class="col-4 col-lg-2"></div>
													<label class="col-sm-2">Menu List</label>
													<div class="col-sm-2">
														<div id="log" style="background-color: #dbdfe2; display: none;">
														</div>
														<div id="menucontent">
															<p id="menuValue"
																th:each="message:${#strings.arraySplit(BTMAccessRole.menulist, ',')}"
																th:text="${message}"></p>

														</div>

													</div>
													<a href="#"><i class="fas fa-search searchico" data-toggle="modal"
															data-target="#finusers" id="iconacc"></i></a>



												</div>

												<div class="modal fade" id="finusers">
													<div
														class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
														<div class="modal-content" style="border: 2px solid black;">

															<!-- Modal Header -->
															<div class="modal-header">
																<h4 class="modal-title">Menu List</h4>
																<button type="button" class="close"
																	data-dismiss="modal">×</button>
															</div>
															<!-- Modal body -->
															<div class="modal-body" style="background-color: #e6eaed;">

																<input type="checkbox" id="Admin" value="Y" name="admin"
																	th:checked="${BTMAccessRole?.admin}==Y" /> ADMIN



																<ul>
																	<li>Organization Master</li>
																	<li>User Profile</li>
																	<li>Access and Roles</li>
																	<li>Asset and Liability Master</li>
															
																</ul>
																
																<input type="checkbox" id="master" value="Y" name="master"
																	th:checked="${BTMAccessRole?.master}==Y" /> MASTER
																<ul>
																	<li>Vendor Creation</li>
																	<li>Item Creation</li>
																
																</ul>
																<input type="checkbox" id="orders" value="Y" name="orders"
																	th:checked="${BTMAccessRole?.orders}==Y" /> ORDERS
																<ul>
																	<li>Purchase</li>
																	<li>Sale</li>
																
																</ul>
																
																<input type="checkbox" id="production_cycle" value="Y"
																	name="production_cycle"
																	th:checked="${BTMAccessRole?.production_cycle}==Y" /> PRODUCTION CYCLE
																<ul>
																	<li>Bill Of Material</li>
																	<li>Process</li>
																	<li>Validation</li>
																	<li>Convert To FG</li>
																	<li>Finished Goods</li>
																</ul>
																
																<input type="checkbox" id="inventory" value='Y'
																	name="inventory"
																	th:checked="${IPSAccessRole?.inventory}=='Y'" />INVENTORY
<ul>
</ul>


																<input type="checkbox" id="hrms" value='Y'
																	name="hrms"
																	th:checked="${IPSAccessRole?.hrms}=='Y'" />HRMS

																<ul>
																	<li>Management</li>
																	<li>Maintenance</li>
																	<li>Operation</li>
																	<li>Salaries</li>
																</ul>

																<input type="checkbox" id="reports" value='Y'
																	name="reports"
																	th:checked="${IPSAccessRole?.reports}=='Y'" />REPORTS

																<ul>
																	<li>Attendance Register</li>
																	<li>Purchase Order</li>
																	<li>Sale Order</li>
																</ul>

																<input type="checkbox" id="transaction_master" value='Y'
																	name="transaction_master"
																	th:checked="${IPSAccessRole?.transaction_master}=='Y'" /> TRANSACTION MASTER

																<ul>
																	<li>General Journal</li>
																	<li>General Ledger</li>
																	<li>Trail Balance</li>
																	<li>Transaction List</li>
																</ul>


																<div style="float: right;">
																	<button type="button" class="btn btn-dark btn btn-dark-primary"
																		data-dismiss="modal"
																		onclick="getvalue();">SUBMIT</button>
																</div>
															</div>

														</div>
													</div>
												</div>
																							<BR>
												<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
													<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkHome"
														style="width: 120px" onclick="home();">Home</button>
													<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkSubmit"
														style="width: 120px" onclick="submitform();">Submit</button>
													<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkBack"
														style="width: 120px" onclick="back();">Back</button>
												</div>
											</div>
								</form>
							</div>
<!-- ******************************************* ADD ENDS **************************************************************************************************** -->
<!-- ******************************************* VIEW & DELETE STARTS **************************************************************************************************** -->

<div th:if="${formmode}=='view' OR ${formmode}=='delete' ">
								<form name="formview" action="#" th:object="${accessRolesview}" method="POST"
									autocomplete="off" id="formview">
									<div class="card">

										<div class="card-header" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div class="float-left">
												<div style="font-size:1.3rem;" th:if="${formmode}=='view'">ACCESS AND ROLE - VIEW</div>
												<div style="font-size:1.3rem;" th:if="${formmode}=='delete'">ACCESS AND ROLE - DELETE</div>
											
											</div>
										</div>
										<div class="card-body">
											<div class="form-group mb-0">
												<div class="row formline ">
													<div class="col-4 col-lg-2">
														<label>Role Id</label>
													</div>
													<div class="col-4 col-lg-2">
														
														<input type="text" id="role_id" name="role_id"  
														th:value="${accessRolesview != null ? accessRolesview.role_id : ''}"
														class="form-control form-control-sm" readonly/>
														<!--  th:value="${accessRolesview.role_id}" -->
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="role_desc">Role Description</label>
													</div>

													<div class="col-4 col-lg-2">
													<input type="text" id="role_desc" name="role_desc"
														th:value="${accessRolesview.role_desc}"
															class="form-control form-control-sm" readonly/>
															
													</div>


												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="permissions">Permissions</label>
													</div>
													<div class="col-4 col-lg-2">
													<input type="text" id="permissions" name="permissions"
														th:value="${accessRolesview.permissions}"
															class="form-control form-control-sm" readonly/>
														<!-- <select id="permissions" name="permissions"
															class="form-control form-control-sm" autocomplete="off" required >
															<option value="" disabled selected>--select--</option>
															<option value="read" id="read">Read</option>
															<option value="write" id="write">Write</option>
														</select> -->
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="remarks">Remarks</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="remarks" name="remarks"
															th:value="${accessRolesview.remarks}"
															class="form-control form-control-sm" readonly/>
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="work_class">Work Class</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="work_class" name="work_class"
															th:value="${accessRolesview.work_class}"
															class="form-control form-control-sm" readonly/>
													</div>
													<div class="col-4 col-lg-2"></div>
													<label class="col-sm-2">Menu List</label>
													<div class="col-sm-2">
													<input type="text" id="menulist" name="menulist"
															th:value="${accessRolesview.menulist}"
															class="form-control form-control-sm" readonly/>
													</div>

												</div>
													</div>
												</div>
																							<BR>
												<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
													<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkHome"
														style="width: 120px" onclick="home();">Home</button>
													<button th:if="${formmode=='delete'}"
    class="btn btn-primary mx-2 btn-dark"
    style="width: 150px; color: white;"
    type="button"
    id="register"
    onclick="deleterolesubmit(event)">Delete</button>


											<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkBack"
														style="width: 120px" onclick="back();">Back</button>
												</div>
											</div>
								</form>
							</div>
<!-- ******************************************* VIEW & DELETE ENDS **************************************************************************************************** -->

<!-- ******************************************* MODIFY STARTS **************************************************************************************************** -->

<div th:if="${formmode}=='modify'">
								<form name="formmodify" action="#" th:object="${accessRolesview}" method="POST"
									autocomplete="off" id="formmodify">
									<div class="card">

										<div class="card-header" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<div class="float-left">
												<div style="font-size:1.3rem;" th:if="${formmode}=='modify'">ACCESS AND ROLE - MODIFY</div>
												
											</div>
										</div>
										<div class="card-body">
											<div class="form-group mb-0">
												<div class="row formline ">
													<div class="col-4 col-lg-2">
														<label>Role Id</label>
													</div>
													<div class="col-4 col-lg-2">
														
														<input type="text" id="role_id" name="role_id"  
														th:value="${accessRolesview != null ? accessRolesview.role_id : ''}"
														class="form-control form-control-sm" readonly/>
														<!--  th:value="${accessRolesview.role_id}" -->
													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="role_desc">Role Description</label>
													</div>

													<div class="col-4 col-lg-2">
													<select id="role_desc" name="role_desc" class="form-control form-control-sm" autocomplete="off" required>
    <option disabled selected>--select--</option>
    
    <option value="Admin_Manager" th:selected="${accessRolesview.role_desc == 'Admin_Manager'}">Admin Manager</option>
    <option value="HR Executive" th:selected="${accessRolesview.role_desc == 'HR Executive'}">HR Executive</option>
    <option value="Business Development_Executive" th:selected="${accessRolesview.role_desc == 'Business Development_Executive'}">Business Development Executive</option>
    <option value="Senior Business Development_Executive" th:selected="${accessRolesview.role_desc == 'Senior Business Development_Executive'}">Senior Business Development Executive</option>
    <option value="Finance Manager" th:selected="${accessRolesview.role_desc == 'Finance Manager'}">Finance Manager</option>
    <option value="Finance Executive" th:selected="${accessRolesview.role_desc == 'Finance Executive'}">Finance Executive</option>
    <option value="Marketing Manager" th:selected="${accessRolesview.role_desc == 'Marketing Manager'}">Marketing Manager</option>
    <option value="Sales Manager" th:selected="${accessRolesview.role_desc == 'Sales Manager'}">Sales Manager</option>
    <option value="IT Executive" th:selected="${accessRolesview.role_desc == 'IT Executive'}">IT Executive</option>
    <option value="Business Executive" th:selected="${accessRolesview.role_desc == 'Business Executive'}">Business Executive</option>
    <option value="General Manager" th:selected="${accessRolesview.role_desc == 'General Manager'}">General Manager</option>
    <option value="Area Sales Manager" th:selected="${accessRolesview.role_desc == 'Area Sales Manager'}">Area Sales Manager</option>
    <option value="Product Manager Core" th:selected="${accessRolesview.role_desc == 'Product Manager Core'}">Product Manager (Core)</option>
    <option value="Admin Executive" th:selected="${accessRolesview.role_desc == 'Admin Executive'}">Admin Executive</option>
</select>


													</div>


												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="permissions">Permissions</label>
													</div>
													<div class="col-4 col-lg-2">
													
														 <select id="permissions" name="permissions" class="form-control form-control-sm" autocomplete="off" required>
    <option value="" disabled selected>--select--</option>
    <option value="read" id="read" th:selected="${accessRolesview.permissions == 'read'}">Read</option>
    <option value="write" id="write" th:selected="${accessRolesview.permissions == 'write'}">Write</option>
</select>

													</div>
													<div class="col-4 col-lg-2"></div>
													<div class="col-4 col-lg-2">
														<label for="remarks">Remarks</label>
													</div>
													<div class="col-4 col-lg-2">
														<input type="text" id="remarks" name="remarks"
															th:value="${accessRolesview.remarks}"
															class="form-control form-control-sm" />
													</div>
												</div>
											</div>
											<div class="form-group mb-0">
												<div class="row formline">
													<div class="col-4 col-lg-2">
														<label for="work_class">Work Class</label>
													</div>
													<div class="col-4 col-lg-2">
														<select id="work_class" name="work_class" class="form-control form-control-sm" autocomplete="off" required>
    <option value="" disabled selected>--select--</option>
    <option value="maker" th:selected="${accessRolesview.work_class == 'maker'}">Maker</option>
    <option value="checker" th:selected="${accessRolesview.work_class == 'checker'}">Checker</option>
    <option value="reader" th:selected="${accessRolesview.work_class == 'reader'}">Reader</option>
</select>

													</div>
																										<div class="col-4 col-lg-2"></div>
													<label class="col-sm-2">Menu List</label>
													<div class="col-sm-2">
														<div id="log" style="background-color: #dbdfe2; display: none;">
														</div>
														<div id="menucontent">
															<p id="menuValue"
																th:each="message:${#strings.arraySplit(BTMAccessRole.menulist, ',')}"
																th:text="${message}"></p>

														</div>

													</div>
													<a href="#"><i class="fas fa-search searchico" data-toggle="modal"
															data-target="#finusers" id="iconacc"></i></a>



												</div>

												<div class="modal fade" id="finusers">
													<div
														class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
														<div class="modal-content" style="border: 2px solid black;">

															<!-- Modal Header -->
															<div class="modal-header">
																<h4 class="modal-title">Menu List</h4>
																<button type="button" class="close"
																	data-dismiss="modal">×</button>
															</div>
															<!-- Modal body -->
															<div class="modal-body" style="background-color: #e6eaed;">

																<input type="checkbox" id="Admin" value="Y" name="admin"
																	th:checked="${BTMAccessRole?.admin}==Y" /> ADMIN



																<ul>
																	<li>Organization Master</li>
																	<li>User Profile</li>
																	<li>Access and Roles</li>
																	<li>Asset and Liability Master</li>
															
																</ul>
																
																<input type="checkbox" id="master" value="Y" name="master"
																	th:checked="${BTMAccessRole?.master}==Y" /> MASTER
																<ul>
																	<li>Vendor Creation</li>
																	<li>Item Creation</li>
																
																</ul>
																<input type="checkbox" id="orders" value="Y" name="orders"
																	th:checked="${BTMAccessRole?.orders}==Y" /> ORDERS
																<ul>
																	<li>Purchase</li>
																	<li>Sale</li>
																
																</ul>
																
																<input type="checkbox" id="production_cycle" value="Y"
																	name="production_cycle"
																	th:checked="${BTMAccessRole?.production_cycle}==Y" /> PRODUCTION CYCLE
																<ul>
																	<li>Bill Of Material</li>
																	<li>Process</li>
																	<li>Validation</li>
																	<li>Convert To FG</li>
																	<li>Finished Goods</li>
																</ul>
																
																<input type="checkbox" id="inventory" value='Y'
																	name="inventory"
																	th:checked="${IPSAccessRole?.inventory}=='Y'" />INVENTORY
<ul>
</ul>


																<input type="checkbox" id="hrms" value='Y'
																	name="hrms"
																	th:checked="${IPSAccessRole?.hrms}=='Y'" />HRMS

																<ul>
																	<li>Management</li>
																	<li>Maintenance</li>
																	<li>Operation</li>
																	<li>Salaries</li>
																</ul>

																<input type="checkbox" id="reports" value='Y'
																	name="reports"
																	th:checked="${IPSAccessRole?.reports}=='Y'" />REPORTS

																<ul>
																	<li>Attendance Register</li>
																	<li>Purchase Order</li>
																	<li>Sale Order</li>
																</ul>

																<input type="checkbox" id="transaction_master" value='Y'
																	name="transaction_master"
																	th:checked="${IPSAccessRole?.transaction_master}=='Y'" /> TRANSACTION MASTER

																<ul>
																	<li>General Journal</li>
																	<li>General Ledger</li>
																	<li>Trail Balance</li>
																	<li>Transaction List</li>
																</ul>


																<div style="float: right;">
																	<button type="button" class="btn btn-dark btn btn-dark-primary"
																		data-dismiss="modal"
																		onclick="getvalue();">SUBMIT</button>
																</div>
															</div>

														</div>
													</div>
												</div>
																							<BR>
												<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
													<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkHome"
														style="width: 120px" onclick="home();">Home</button>
													<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkSubmit"
														style="width: 120px" onclick="submitmodifyform();">Submit</button>
													


											<button type="button" class="btn btn-dark btn btn-dark-primary" id="btn btn-darkBack"
														style="width: 120px" onclick="back();">Back</button>
												</div>
											</div>
								</form>
							</div>
<!-- ******************************************* MODIFY ENDS **************************************************************************************************** -->
	
						</div>
					</div>
				</div>
				<br>
				<!--<div class="container-fluid">
					<div class="card">
						<div class="card-body text-center">
							<div class="form-group ">
								<div class="container-fluid">
									<div class="row row-cols-2 row-cols-lg-3">
										<div class="col-4 col-lg-2">
											<label>Entry User:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:value="${session.USERID}"
												th:if="${formmode}=='add'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Modify User:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:value="${session.USERID}"
												th:if="${formmode}=='add'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Verify User:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:value="${session.USERID}"
												th:if="${formmode}=='add'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
									</div>
									<div class="row row-cols-2 row-cols-lg-3">
										<div class="col-4 col-lg-2">
											<label>Entry Date:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:if="${formmode}=='add'"
												th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Modify Date:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:if="${formmode}=='add'"
												th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
										<div class="col-4 col-lg-2">
											<label>Verify Date:</label>
										</div>
										<div class="col-4 col-lg-2">
											<input type="text" th:if="${formmode}=='list'"
												class="form-control form-control-sm" autocomplete="off"
												readonly  /> <input
												type="text" th:if="${formmode}=='add'"
												th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
												class="form-control form-control-sm" autocomplete="off"
												readonly  />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div align="right" style="margin-left: 870px; font-size: 18px">
						Status : <font style="color: #00cc00; font-size: 18px">ACTIVE</font>
					</div>
				</div>-->
			</div>
		</div>
		<div class="modal fade" id="formmsg" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">

					<div class="menu-title-header">
						<div class="modal-title" id="exampleModalLabel" style="text-align: center; color: white;">CIM
							FINANCE</div>
					</div>
					<div class="modal-body" style="margin-top: 8px; text-align: center; background-color: #c6ccd2">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<a th:value="${msg}"></a>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark btn btn-dark-primary" onclick="submitformdelete(this);"
							th:attr="data-formmode=delete">Submit</button>
						<button type="button" class="btn btn-dark btn btn-dark-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="alert">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="menu-title-header">
						<div class="modal-title" id="exampleModalLabel"
							style="text-align: center; color: rgb(0, 0, 0);">Access &
							Role</div>
					</div>
					<div class="modal-body" style="text-align: center; background-color: #c6ccd2">
						<p id="alertmsg" style="font-size: 16px;">Added Successfully</p>
						<button type="button" class="btn btn-dark btn btn-dark-primary" data-dismiss="modal"
							onclick="back();">Close</button>
					</div>
				</div>
			</div>
		</div>
</body>

</html>