<!--<p>completed by MOHAMED SALIK.A.S</p>-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>

<style>
.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 4px;
}

#finusertb {
	width: 460px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border: 2px solid skyblue !important;
	border-bottom: unset !important;
	background-color: unset !important;
	color: black !important;
	background-color: unset !important;
}

nav {
	border-bottom: 1px solid grey;
}
</style>
<script th:inline="javascript">
	/*<![CDATA[*/

	/* Current Date */
	$(document).ready(

			function() {
				var today = new Date();
				var dd = today.getDate();
				const day = today.getDay();
				var year = today.getFullYear();
				var mm = today.getMonth() + 1;
				var yyyy = today.getFullYear();
				if (dd < 10) {
					dd = '0' + dd;
				}
				if (mm < 10) {
					mm = '0' + mm;
				}
				today = dd + '-' + mm + '-' + yyyy;

				$("#currentDate").val(today);

				const daylist = [ "Sunday", "Monday", "Tuesday", "Wednesday ",
						"Thursday", "Friday", "Saturday" ];

				$("#currentDay").val(`${daylist[day]}`);

				const allMonths = [ "January", "February", "March", "April",
						"May", "June", "July", "August", "September",
						"October", "November", "December" ];

				for (var i = 0; i < allMonths.length; i++) {

					$("#allMonths,#allmonths1").append(
							"<option value=" + (i + 1) + ">"
									+ (allMonths[i] + " - " + year)
									+ "</option>");
				}

			});

$(document).ready(
			
			function(){
			 $( "#currentDate" ).datepicker({ 
				 
		    	 dateFormat: 'dd-mm-yy',
			      
			      onSelect: function () { 
				
				$('#attendance_today').empty();
				var userdate = $( "#currentDate" ).datepicker({ dateFormat: 'dd-mm-yy' }).val();
				var userdate1 = userdate.split('-');
				var date1 = userdate1[0];
				var month1 = userdate1[1];
				var year = userdate1[2];
			    var fulldate = month1+"-"+date1+"-"+year;

				var today = new Date(fulldate);
				var todayy = today.toDateString(); 
				
				var dd = today.getDate();
				const day = today.getDay();
				var year = today.getFullYear();
				var mm = today.getMonth() + 1;			
				const daylist = [ "Sunday", "Monday", "Tuesday", "Wednesday ",
					"Thursday", "Friday", "Saturday" ];

			   $("#currentDay").val(`${daylist[day]}`);
		
			   $.ajax({
					url : '/BTM/gettodalcounts?dtt='+todayy+'&day='+date1+'&year='+year+'&month='+month1,
					type : 'POST',
					dataType : 'html',
					processData : false, //prevent jQuery from automatically transforming the data into a query string
					contentType : false,
					cache : false,
					timeout : 600000,
						
						success : function(response) {
							const b = JSON.parse(response);
							console.log(response);
							document.getElementById('ondutycount').innerHTML = b[1];
							document.getElementById('totalemp').innerHTML = b[0];
							document.getElementById('presentcount').innerHTML = b[2];
							document.getElementById('absentcount').innerHTML = b[3];
						  
							
								}


				});
			   

				
				$.ajax({
					url : '/BTM/attendancetodayinquiries?'+'&day='+date1+'&year='+year+'&month='+month1,
					type : 'POST',
					dataType : 'html',
					processData : false, //prevent jQuery from automatically transforming the data into a query string
					contentType : false,
					cache : false,
					timeout : 600000,
					success : function(response) {
						const b = JSON.parse(response);
						var srl = 0;
						var len = response.length;
						for (i = 0; i < len; i++) {
							var data = b[i];

							srl++;
							var login = data.login_time1;
if (data.login_time1 == null) {
								var login = "-";
							}else
							if (data.logout_time1 == null) {
								logout = "-";
								diff = "-";
							} else {
								logout = data.logout_time1;
								//var diff = data.login.split(":")[0] - data.logout.split(":")[0];
								var diff = data.logout_time1.split(":")[0]
										- data.login_time1.split(":")[0] + "hrs";
							}

if(login!=null){
	status="Present"
}
 if(login=="00:00:00"){
		status="Absent"
	}
			
							var html = '<tr>';
							html += '<td>' + srl + '</td>';
							html += '<td>' + data.emp_id + '</td>';
							html += '<td>' + data.emp_name + '</td>';
							html += '<td>' + login + '</td>';
						html += '<td>' + logout + '</td>';
						html += '<td>' + diff + '</td>';
                        html += '<td>' + data.remarks + '</td>';
						html += '<td>' + status + '</td></tr>';
							$('#attendance_today').append(html);
						}
					}

				});

				

				
			      }
		      });
			});
	
$(document).ready(
		
		function(){
			$('#attendance_today').empty();
			var userdate = $( "#currentDate" ).datepicker({ dateFormat: 'dd-mm-yy' }).val();
			var userdate1 = userdate.split('-');
			var date1 = userdate1[0];
			var month1 = userdate1[1];
			var year = userdate1[2];
		    var fulldate = month1+"-"+date1+"-"+year;

			var today = new Date(fulldate);
			var todayy = today.toDateString(); 
			
			//var today = new Date('09-20-2022');
			var dd = today.getDate();
			const day = today.getDay();
			var year = today.getFullYear();
			var mm = today.getMonth() + 1;			
			
			const daylist = [ "Sunday", "Monday", "Tuesday", "Wednesday ",
				"Thursday", "Friday", "Saturday" ];

		$("#currentDay").val(`${daylist[day]}`);
			
			
			
			$.ajax({
				url : '/BTM/attendancetodayinquiries?'+'&day='+date1+'&year='+year+'&month='+month1,
				type : 'POST',
				dataType : 'html',
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : false,
				cache : false,
				timeout : 600000,
				success : function(response) {
					const b = JSON.parse(response);
					var srl = 0;
					var len = response.length;
					for (i = 0; i < len; i++) {
						var data = b[i];

						srl++;
						var login = data.login_time1;
						if (data.login_time1== null) {
							login = "-";
						}else if(data.logout_time1== null){
							logout = "-";
							diff = "-";
							
						} else {
							var logout = data.logout_time1;
							//var diff = data.login.split(":")[0] - data.logout.split(":")[0];
							var diff= data.logout_time1.split(":")[0]
									- data.login_time1.split(":")[0] + "hrs";
						}
if(login!=null){
	status="Present"
}
 if(login=="00:00:00"){
		status="Absent"
	}
						var html = '<tr>';
						html += '<td>' + srl + '</td>';
						html += '<td>' + data.emp_id + '</td>';
						html += '<td>' + data.emp_name + '</td>';
						html += '<td>' + login + '</td>';
						html += '<td>' + logout + '</td>';
						html += '<td>' + diff + '</td>';
                        html += '<td>' + data.remarks + '</td>';
						html += '<td>' + status + '</td></tr>';

						$('#attendance_today').append(html);
					}
				}

			});
			 $.ajax({
					url : '/BTM/gettodalcounts?dtt='+todayy+'&day='+date1+'&year='+year+'&month='+month1,
					type : 'POST',
					dataType : 'html',
					processData : false, //prevent jQuery from automatically transforming the data into a query string
					contentType : false,
					cache : false,
					timeout : 600000,
						
						success : function(response) {
							const b = JSON.parse(response);
							console.log(response);
							document.getElementById('ondutycount').innerHTML = b[1];
							document.getElementById('totalemp').innerHTML = b[0];
							document.getElementById('presentcount').innerHTML = b[2];
							document.getElementById('absentcount').innerHTML = b[3];
						  
							
								}


				});
			
		});

	/*]]>*/

	var addSerialNumber = function() {
		var i = 1
		$('table tr').each(function(index) {
			$(this).find('td:nth-child(1)').html(index + 1);
		});
	};

	addSerialNumber();

	function getmonthlydata() {
	
		const getDays =(year, month) => {
			return new Date(year, month,0).getDate();
		};

	var month = document.getElementById("Monthlydata").value;
var currentYear = new Date().getFullYear();
const dayscal = getDays(2022, parseInt(month));
						var monthNames = ["January", "February", "March", "April", "May", "June",
							"July", "August", "September", "October", "November", "December"
						];
var m = parseInt(month-1);
var monthy=monthNames[m]
  var days = new Date( currentYear,month,0 ).getDate();
  var sundays = [ 8 - (new Date( month +'/01/'+ currentYear ).getDay()) ];
  for ( var i = sundays[0] + 7; i < days; i += 7 ) {
    sundays.push( i );
  }
  var saturday = [ 7 - (new Date( month +'/01/'+ currentYear ).getDay()) ];
  for ( var i = saturday[0] + 7; i < days; i += 7 ) {
    saturday.push( i );
  }
  var lentofweekdays = sundays.length + saturday.length
  var working_days = parseInt(dayscal) - parseInt(lentofweekdays) // - parseInt(getmonth.days)
	  

		// $.ajax('/attendancemonthlydata');

$('#monthlydata').empty();
		$.ajax({
			url : '/BTM/attendancemonthlydatainquiries?Month='+month+'&year='+currentYear +'&month1='+monthy,
			type : 'POST',
			dataType : 'html',
			processData : false, //prevent jQuery from automatically transforming the data into a query string
			contentType : false,
			cache : false,
			timeout : 600000,
			success : function(response) {
				const b = JSON.parse(response);
				var srl = 0;
				var len = response.length;

				for (i = 0; i < len; i++) {
					var data = b[i];
					srl++;
var workday = working_days-data.holidays
					var ab = (workday-data.present_count);
					var perc = ((data.present_count /workday) * 100).toFixed(2);
    		

					var html = '<tr>';
					html += '<td>' + srl + '</td>';
					html += '<td>' + data.emp_id + '</td>';
					html += '<td>' + data.emp_name + '</td>';
					html += '<td>' + dayscal + '</td>';
					html += '<td>' + workday + '</td>';
					html += '<td>' + data.present_count + '</td>';
					html += '<td>' + ab + '</td>';

					html += '<td>' + perc + "%" +'</td></tr>';
					$('#monthlydata').append(html);
				}
		
			}

		});
	}

	function getassociate() {
		var mm = document.getElementById("allMonths").value;
	}

	function assocciate__Click() {
		
		//document.getElementById("emp_name1").value =  ' ';
		var month = document.getElementById("Months123").value;
		var user_id = document.getElementById("emp_id").value;
		var currentYear = new Date().getFullYear();

		if (user_id == 0 ) {
			

		}else if(month == 0){
			
		}else {

			$('#associatemonthlyData').empty();

			$.ajax({
				url : "/BTM/associatedetails?userid=" + user_id +'&year='+currentYear+ "&Month="
						+ month,
				type : 'POST',
				data : "userid=" + user_id +'&year='+currentYear + "&Month=" + month,
				dataType : 'html',
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : false,
				cache : false,
				timeout : 600000,
				success : function(response) {
					const b = JSON.parse(response);
					var srl = 0;
					var len = response.length;

					document.getElementById("emp_name1").value = b[0].emp_name;

					for (i = 0; i < len; i++) {
						var data = b[i];
						let today = data.att_date;
						var finaldate = today.split('T')[0];
						var strDate = finaldate.replace(/-/g,":").replace(/ /g,":").split(":");
						login=data.login_time1
if (data.login_time1 == null) {
							login = "-";
						}else
						if (data.logout_time1 == null) {
							logout = "-";
							diff = "-";
						} else {
							logout = data.logout_time1;
							//var diff = data.login.split(":")[0] - data.logout.split(":")[0];
							var diff = data.logout_time1.split(":")[0]
									- data.login_time1.split(":")[0] + "hrs";
						}

						var html = '<tr>';
						html += '<td>' + strDate[2]+"-"+strDate[1]+"-"+strDate[0] + '</td>';
						html += '<td>' + data.att_day + '</td>';
						html += '<td>' + login + '</td>';
						html += '<td>' + logout + '</td>';
						html += '<td>' + diff + '</td>';

						html += '<td>' + data.remarks + '</td></tr>';

						$('#associatemonthlyData').append(html);
					}

				}

			});
		}
	}
function absentlist(){
$("#MyModalBank").modal("toggle");

	}
</script>

</head>
<title>ERP</title>
<body onload="getmonthlydata(), getassociate()">


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-10">
				<div class="container-fluid content">
					<div class="row">
						<form action="#" method="post" autocomplete="off"
							style="width: 100%">
							<div class="card">
								<div class="card-header"style="background-color:#BBC3CB;"><h4>ATTENDANCE REGISTER</h4></div>
								<div class="card-body p-0">
									<div class="">
										<nav class="">
											<div class="nav nav-tabs nav-fill ml-auto w-50" id="nav-tab"
												role="tablist">
												<a class="nav-item nav-link active text-primary"
													id="nav-home-tab" data-toggle="tab" href="#nav-home"
													role="tab" aria-controls="nav-home" aria-selected="true">Day</a>
												<a class="nav-item nav-link text-primary"
													id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
													role="tab" aria-controls="nav-profile"
													aria-selected="false">Month</a> <a
													class="nav-item nav-link text-primary" id="nav-contact-tab"
													data-toggle="tab" href="#nav-contact" role="tab"
													aria-controls="nav-contact" aria-selected="false">Associate</a>
											</div>
										</nav>
										<div class="tab-content " id="nav-tabContent">
											<div class="tab-pane fade show active" id="nav-home"
												role="tabpanel" aria-labelledby="nav-home-tab">
												<div class="tab-pane active" id="tab2">
													<div class="row mb-4 ml-3 mt-3">
														<div class="col-sm-12">
																<div class="row">
																	<div class="col-3 col-sm-2">
																		<input type="text" class="form-control" style="text-align:center;"
																			id="currentDate" />
																	</div>
																	<div class="col-3 col-sm-2">
																		<input type="text" class="form-control" style="text-align:center;background-color:#f9fff6;"
																			id="currentDay" readonly />
																	</div>
																	<!--<div class="col-4 col-sm-2"></div>
																	<div class="col-4 col-sm-2">
																		<div style="line-height: 35px; text-align: center;">
																			<label class="control-label"> <font
																				style="color: #428bca;">No. Of Employees :</font> <font
																				id="totalemp" style="color: black;">&nbsp;&nbsp;
																					[[${numofEmployees}]] </font>
																			</label>
																		</div>
																	</div>
																	<div class="col-4 col-sm-1"
																		style="line-height: 35px; text-align: center;">
																		<label class="control-label"> <font
																			style="color: #428bca;">On-Duty : </font><font id="ondutycount"
																			style="color: black;"> [[${numofOnduty}]]</font>
																		</label>
																	</div>
																	<div class="col-4 col-sm-1"
																		style="line-height: 35px; text-align: center;">
																		<label class="control-label mr-3"> <font
																			style="color: #428bca;">Present: </font><font
																			id="presentcount" style="color: black;">
																				[[${numofPresent}]]</font>
																		</label>
																	</div>
																	<div class="col-4 col-sm-1"
																		style="line-height: 35px; text-align: center;">
																		<label class="control-label">  <font 
																			style="color: #428bca;background-color:#ffffff;border:none" >Leave : </font><font
																			id="absentcount" style="color: black;">
																				[[${numofAbsent}]] </font>
																		</label>
																	</div>-->
																</div>
															</div>
														<div class="col-sm-4"></div>
													</div>
													<div class="table-responsive">
														<table class="table">
															<thead>
																<tr>
																	<th>SRL</th>
																	<th>Employee Id</th>
																	<th>Name</th>
																	<th>Login Time</th>
																	<th>Logout Time</th>
																	<th>Total Hours</th>
																	<th>Status</th>
																	<th>Remarks</th>
																</tr>
															</thead>
															<tbody id="attendance_today">

															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="nav-profile" role="tabpanel"
												aria-labelledby="nav-profile-tab">
											<!-- 	<select class="form-control w-25 mb-4 mt-3 ml-3"
													id="allMonths">

												</select> -->
												<select class="form-control w-25 mb-4 mt-3 ml-3" id = "Monthlydata" onchange="getmonthlydata()">
															<option value='0' >--Select Month--</option>
															<option th:selected="${CurrentMonth}==01" value='01'>January -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==02" value='02'>February -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==03" value='03'>March -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==04" value='04'>April -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==05" value='05'>May -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==06" value='06'>June -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==07" value='07'>July -[[${Currentyear}]]</option>
															<option  th:selected="${CurrentMonth}==08" value='08'>August -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==09" value='09'>September -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==10" value='10'>October -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==11" value='11'>November -[[${Currentyear}]]</option>
															<option th:selected="${CurrentMonth}==12" value='12'>December -[[${Currentyear}]]</option>
														</select> </select>


												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr class="filters">
																<th>SRL</th>
																<th>Emp Id</th>
																<th>Emp Name</th>
																<th>Total No. Of Days</th>
																<th>Working Days</th>
																<th>Present</th>
																<th>Absent</th>
																<th>Percentage</th>
															</tr>
														</thead>
														<tbody id="monthlydata">
															<!-- <tr>
																<td>1</td>
																<td></td>
																<td></td>
																<td>31</td>
																<td>8</td>
																<td>8</td>
																<td>0</td>
																<td>100%</td>
															</tr> -->
														</tbody>
													</table>
												</div>
											</div>

											<div class="tab-pane fade" id="nav-contact" role="tabpanel"
												aria-labelledby="nav-contact-tab">
												<div class="row mt-3 p-2">
													<div class="col-sm-4">
														<select class="form-control" name="example" id="emp_id"
															onload="assocciate__Click()">
															<option disabled selected value="0">Employee Id</option>
															<option selected th:value="${session.USERID}"
																th:text="${session.USERID}"></option>
														</select>
													</div>
													<div class="col-sm-4">
														<!-- <select class="form-control mb-4" disabled="disabled">
															<option value="" id= "emp_name1">Employee Name</option>
															<option></option>
														</select> -->

														<input class="form-control mb-4" disabled="disabled"
															id="emp_name1" placeholder="Employee Name"> </input>

													</div>
													<div class="col-sm-4">
														<!-- <select class="form-control mb-4" id="allmonths1" onchange="assocciate__Click()"> -->
														<select class="form-control mb-4"  id = "Months123" onchange="assocciate__Click()">
															<option disabled selected value='0' >--Select Month--</option>
															<option  value='01'>January -[[${Currentyear}]]</option>
															<option value='02'>February -[[${Currentyear}]]</option>
															<option value='03'>March -[[${Currentyear}]]</option>
															<option value='04'>April -[[${Currentyear}]]</option>
															<option value='05'>May -[[${Currentyear}]]</option>
															<option value='06'>June -[[${Currentyear}]]</option>
															<option value='07'>July -[[${Currentyear}]]</option>
															<option value='08'>August -[[${Currentyear}]]</option>
															<option value='09'>September -[[${Currentyear}]]</option>
															<option value='10'>October -[[${Currentyear}]]</option>
															<option value='11'>November -[[${Currentyear}]]</option>
															<option value='12'>December -[[${Currentyear}]]</option>
														</select> 
													</div>
												</div>

												<div class="table-responsive mb-4">
													<table class="table">
														<thead>
															<tr class="filters">
																<th>Date</th>
																<th>Day</th>
																<th>Login Time</th>
																<th>Logout Time</th>
																<th>No Of Hours</th>
																<th>Remarks</th>
															</tr>
														</thead>
														<tbody id="associatemonthlyData">

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
	<div class="modal fade" id="MyModalBank">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
<div class="panel panel-primary filterable">
				<!-- Modal Header -->
				<div class="modal-header">
				
					<h4 class="modal-title">List Of Absents</h4>
					
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<table class="table table-hover" id="finusertb">
						<thead class="thead-light">
						
							<tr>
									<th>Employee Id</th>
									<th>Employee Name</th>
									<th>Remarks</th>
							
							</tr>
						</thead>
						<tbody>
							<tr th:each="doc : ${Document}">
								<td th:text="${doc?.emp_id}"></td>
<td th:text="${doc?.emp_name}"></td>
<td th:text="${doc?.emp_remarks}"></td>
							</tr >
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>