<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>

<style>
.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 4px;
}

#finusertb {
	width: 460px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border: 2px solid skyblue !important;
	border-bottom: unset !important;
	background-color: unset !important;
	color: black !important;
	background-color: unset !important;
}

nav {
	border-bottom: 2px solid grey;
}
</style>


<style type="text/css">
.navbar {
    margin-left: -5px;
    position: fixed; /* Keep it fixed */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}
.content {
    margin-top: 151px ! important; /* Push content down to avoid overlap */
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-manager {
	padding-right: 47px;
	padding-left: 132px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -22px;
}
</style>
<script type="text/javascript">
$(document).ready(function () {
    $('.dropdown, .dropdown-submenu').hover(function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
    }, function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
    });
});
</script>
<script th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		var finusers = /*[[${FinUserProfiles}]]*/null;

		console.log(finusers);

		$("#usertable,#finusertb").DataTable({
			"info" : false,
			"lengthChange" : false

		});

		$("#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
				.datepicker({
					minDate : new Date(),
					changeMonth : true,
					changeYear : true,
					dateFormat : "dd-mm-yy"
				});

	});

	function getUserlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);
		var Callurl = 'UserProfile?formmode=list';

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		location.href = Callurl;
	}

	function finuser(a) {

		$
				.ajax({
					type : 'get',
					url : './Finuserdata?userid=' + a.id,

					success : function(data) {

						/*<![CDATA[*/

						$('.finuserapply').html(data);

						$(
								"#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
								.datepicker({
									changeMonth : true,
									changeYear : true,
									dateFormat : "dd-mm-yy"
								});

						/*]]>*/

						$("#finusers").modal("hide");
					}

				})

	}

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		//window.history.back();
		location.href = 'Dashboard'
	}

	function fnClick(a) {
		var userid = a.getAttribute("data-userid")
		location.href = 'UserProfile?formmode=edit&userid=' + userid
	}

	function adduser(a) {
		location.href = 'UserProfile?formmode=add';
	}

	function list() {
		location.href = 'UserProfile?formmode=list';
	}

	function verify(a) {

		var entryuser = a.getAttribute("data-entry_user");
		var modifyuser = a.getAttribute("data-modify_user");

		var loginuser = /*[[${session.USERID}]]*/null;

		if ((modifyuser != null && modifyuser == loginuser)
				|| (modifyuser == null && entryuser == loginuser)) {

			$("#alertmsg").text("Same user cannot verify");

			$('#alert').modal("toggle");

		} else {

			if ($("#userProfile").valid()) {

				var userid = a.getAttribute("data-userid");
				var url = './verifyUser';
				$("#userProfile").attr('action', url);

				var options = {
					success : showResponse
				// post-submit callback 
				};

				$('#userProfile').ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {

					$("#alertmsg").text(responseText);

					$('#alert').modal("toggle");

				}
				;

			}

		}

	};

	function passwordReset() {

		var url = './passwordReset';
		$("#userProfile").attr('action', url);

		var options = {
			success : showResponse
		// post-submit callback 
		};

		$('#userProfile').ajaxSubmit(options);

		function showResponse(responseText, statusText, xhr, $form) {

			$("#alertmsg").text(responseText);

			$('#alert').modal("toggle");

		}
		;
	};

	function roledesc() {

		var roleid = $("#roleId").find(':selected').val();

		if (roleid == 'ADM') {
			$("#roleDesc").val("Admin");
		} else if (roleid == 'ADT') {
			$("#roleDesc").val("Audit");
		} else if (roleid == 'GEN') {
			$("#roleDesc").val("General User");
		} else if (roleid == 'RECONADM') {
			$("#roleDesc").val("Admin");
		} else if (roleid == 'RECONGEN') {
			$("#roleDesc").val("General User");
		}
		$(this).find(':selected').text();

	}

	function submitform() {

		//Creating Validating Rules
		$('#userProfile').validate({
			messages : {
				userid : "Please Provide User Id"
			}
		});

		if ($("#userProfile").valid()) {

			var formmode = /*[[${formmode}]]*/null;

			var url = "./createUser?formmode=" + formmode;

			$("#userProfile").attr('action', url);

			var options = {
				success : showResponse
			// post-submit callback 
			};

			$("#userProfile").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

			}
			;

		}

	};
	$(function() {

	$("#dailyDate").datepicker({
		changeMonth : true,
		changeYear : true,
		maxDate : new Date(),
		dateFormat : "dd-M-y",
        viewMode: "months",
	});
	  $("#dailyDate").datepicker("setDate", "1");

}); 
	$(document).ready(function () {
	    /* This is the function that will get executed after the DOM is fully loaded */
	    var currentYear = (new Date()).getFullYear(); // Get the current year
	    var startYear = currentYear - 5; // Start 5 years before the current year
	    var endYear = currentYear + 5; // End 5 years after the current year

	    for (var year = startYear; year <= endYear; year++) {
	        if (year === currentYear) {
	            // Add the current year as selected
	            $('#year').append('<option selected value="' + year + '">' + year + '</option>');
	        } else {
	            // Add other years
	            $('#year').append('<option value="' + year + '">' + year + '</option>');
	        }
	    }
	});

	/*]]>*/
</script>
<script>
	function submitdata() {
		var domainids = [];
		$.each($("input[name='dom']:checked"), function() {
			domainids.push($(this).val());
		});
		$("#getDomain").modal('hide');
		$("#domainId").val(domainids.join(","));
	}
	$(document).ready(
		  
		  /* This is the function that will get executed after the DOM is fully loaded */
		  function () {
		  
		
		   $("#attendanceType").change(function() {
		    	if($("#attendanceType").val()=="Daily" ){
		    		$("#associateName").attr("disabled", true);
		    		
		    		$("#monthYear").attr("disabled", true);
		    		
		    		$("#year").attr("disabled", true);
		    		
		    		$("#btngenerate").click(function(){
		    		    
		    		  
		    		    var e = document.getElementById("dailyDate");
		    		    var h = document.getElementById("reportType");
		    		    var date = e.value;
		    		    var report_type=h.value;
		    		    location.href = './AttendanceRegisterDailyReport?'+'&login_time='+date+'&report_type='+report_type;
		
		    });
		    		
		    		
		    		
		    		
		    		
		    		
		    		
		    	}else if($("#attendanceType").val()=="Associate" ){
		    		
		    		$("#dailyDate").attr("disabled", true);
		    		$("#associateName").attr("disabled", false);
		    		$("#monthYear").attr("disabled", false);
		    		
		    		
$("#btngenerate").click(function(){
		    		    
		    		    var e = document.getElementById("associateName");
	var f = document.getElementById("monthYear");
	var g = document.getElementById("year");
	var h = document.getElementById("reportType");
var emp_id = e.value;
var cal_month = f.value;
var cal_year = g.value;
var report_type = h.value;
		
			location.href = './AttendanceReportDownload?'+'&emp_id='+emp_id+'&cal_month='+cal_month+'&cal_year='+cal_year+'&report_type='+report_type;
		    		    
		    });
		    		
		    		
		    		
		    		
		    		
		    	}
		    	
		    	
		    	
		    	
else if($("#attendanceType").val()=="Monthly" ){
		    		
		    		$("#dailyDate").attr("disabled", true);
		    		$("#associateName").attr("disabled", true);
		    		$("#monthYear").attr("disabled", false);
		    		$("#year").attr("disabled", false);
		    		var selectobject=document.getElementById("associateName")
		    		  for (var i=0; i<selectobject.length; i++){
		    		  if (selectobject.options[i].value == 'All' )
		    		     selectobject.remove(i);
		    		  }
		    		
$("#btngenerate").click(function(){
		    		    
		    		    var f = document.getElementById("monthYear");
	var g = document.getElementById("year");
	var h = document.getElementById("reportType");
var cal_month = f.value;
var cal_year = g.value;
var report_type=h.value;

		
			location.href = './AttendanceRegisterMonthReport?'+'&cal_month='+cal_month+'&cal_year='+cal_year+'&report_type='+report_type;
		    
		    	
		    		    
		    });
		    		
		    		
		    		
		    		
		    		
		    	}
		    	
		    	
		    });  
		   

		  
		  });
	//function Generate(a) {
	
	var e = document.getElementById("associateName");
	var f = document.getElementById("monthYear");
	var g = document.getElementById("year");
	var h = document.getElementById("reportType");
var emp_id = e.value;
var cal_month = f.value;
var cal_year = g.value;
var report_type=h.value;
		
			location.href = './AttendanceReportDownload?'+'&emp_id=' + emp_id+ '&cal_month=' + cal_month+ '&cal_year=' + cal_year+'&report_type='+report_type;
		
	
</script>
<script>
	function downloadconsolidate(){
		//alert("my function SAN");
	    var e = document.getElementById("associateName");
	    var h = document.getElementById("reportType");

	    var attendanceType = document.getElementById("attendanceType").value;
	    if(attendanceType==''){
	    	alert("Please select Attendance Type...")
	    	return;
	    }
	    if (!h || h.value === '') {
	        alert("Please select Report Type.");
	        return;
	    }
		var f = document.getElementById("monthYear");
		var g = document.getElementById("year");
	var emp_id = e.value;
	var cal_month = f.value;
	var cal_year = g.value;
	var report_type = h.value;
			
				location.href = './Download_Attendance?'+'&emp_id='+emp_id+'&cal_month='+cal_month+'&cal_year='+cal_year+'&report_type='+report_type+'&attendanceType='+attendanceType;
	    
		
	}
	
	
	
	</script>
</head>
<title>ERP</title>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-12">
				<div class="container-fluid content">
	<!---------------------User List Ends--------------------------------------------------------->
	<!---------------------User Edit form Starts-------------------------------------------------->
		<div class="row">
			<form action="#" method="post" autocomplete="off" style="width: 100%">
				<div class="card">
								<div class="card-header"
									style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
									<h4 style="font-weight: bold;">
										<i class="fa fa-file-pdf" aria-hidden="true"></i> ATTENDANCE
										REPORT
									</h4>
								</div>
								<div class="card-body p-0 mt-3">
						<div class="panel-heading text-center">
							<div class="form-group ">
								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-3">
										<label class="">Attendance Type </label>
									</div>
									<div class="col-sm-3">
										<select id="attendanceType" class="form-control form-control-sm" required>
											<option value=""disabled selected>Select</option>
											<option value="Associate">Associate</option>
											<option value="Daily"  th:if="${RoleMenu?.role=='ADM'}">Daily</option>
											<option value="Monthly">Monthly</option>
										</select>
									</div>
									<div class="col-sm-3"></div>
								</div>
							</div>
							<div class="form-group ">
								<div class="row" >
									<div class="col-sm-2"></div>
									<div class="col-sm-3" style="padding-right:65px">
										<label class="">Associate</label>
									</div>
									<div class="col-sm-3" th:if="${RoleMenu?.role=='ADM'}">
										<select id="associateName" class="form-control form-control-sm">
											<option value=""disabled selected>Select</option>
											<!-- <option value="ALL">ALL</option> -->
											<option th:each="user : ${allusers}"
																th:value="${user.resource_id}"
																th:text="${user.resource_id+' '+user.resource_name}"></option>
										</select>
									</div>
									<div class="col-sm-3" th:if="${RoleMenu?.role!='ADM'}">
										<select id="associateName" class="form-control form-control-sm">
											<option value=""disabled selected>Select</option>
											<option selected
																th:value="${session.USERID}"
																th:text="${session.USERID+' '+session.USERNAME}"></option>
										</select>
									</div>
									<div class="col-sm-3"></div>
								</div>
							</div>
							<div class="form-group"  th:if="${RoleMenu?.role=='ADM'}">
								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-3"style="padding-left:50px" >
										<label class="">Daily Report For Date </label>
									</div>
									<div class="col-sm-3">
										<input type="text" id="dailyDate" value=""
											class="form-control form-control-sm">
									</div>
									<div class="col-sm-3"></div>
								</div>
							</div>
							<div class="form-group ">
								<div class="row" style="margin-left:-50;">
									<div class="col-sm-2"></div>
									<div class="col-sm-3" style="padding-left:85px" >
										<label class="" >Monthly - Month and Year </label>
									</div>
									<div class="col-sm-2">
										<select name="arr.monthYear" id="monthYear" style="width:160px"
											class="form-control form-control-sm">
											<option value=""disabled selected>Month</option>
											<option value="01">January</option>
											<option value="02">February</option>
											<option value="03">March</option>
											<option value="04">April</option>
											<option value="05">May</option>
											<option value="06">June</option>
											<option value="07">July</option>
											<option value="08">August</option>
											<option value="09">September</option>
											<option value="10">October</option>
											<option value="11">November</option>
											<option value="12">December</option>
										</select>
									</div>
									<div class="col-sm-2">
										<select name="arr.year" id="year" class="form-control form-control-sm" style="width:215px;margin-left:-110px; ">
											<option value=""disabled selected>Year</option>
											
										</select>
									</div>
									<div class="col-sm-2"></div>
								</div>
							</div>
							<div class="form-group ">
								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-3" style="padding-right:50px">
										<label class="">Report Type </label>
									</div>
									<div class="col-sm-3">
										<select name="arr.reportType" id="reportType"
											class="form-control form-control-sm" required>
											<option value=""disabled selected>Select</option>
											<option value="Pdf">Pdf</option>
											<option value="Excel">Excel</option>
										</select>
									</div>
									<div class="col-sm-3"></div>
								</div>
							</div>
							<!-- <div class="form-group ">
								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-3" style="padding-right:65px">
										<label class="">Report To </label>
									</div>
									<div class="col-sm-3" th:if="${RoleMenu?.role=='ADM'}">
										<select name="arr.reportto" id="reportto" class="form-control form-control-sm" required>
											<option value="Select"disabled selected>Select</option>
											<option th:each="user : ${allusers}"
																th:value="${user.resource_id}"
																th:text="${user.resource_id+' '+user.resource_name}"></option>
										</select>
									</div>
									<div class="col-sm-3" th:if="${RoleMenu?.role!='ADM'}">
										<select name="arr.reportto" id="reportto" class="form-control form-control-sm" required>
											<option  value="Select"disabled selected>Select</option>
											<option selected
																th:value="${session.USERID}"
																th:text="${session.USERID+' '+session.USERNAME}"></option>
										</select>
									</div>
									<div class="col-sm-3"></div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
						<button style="background-color: #343a40; border-color: #343a40;" type="button" class="btn btn-primary" id="btnHome" onclick="home();">Home</button>
						<!-- <button type="button" class="btn btn-primary" id="btngenerate" >Generate</button> -->
						<button  style="background-color: #343a40; border-color: #343a40;" type="button" class="btn btn-primary"  onclick="downloadconsolidate();" >Generate</button>
						<button  style="background-color: #343a40; border-color: #343a40;" type="button" class="btn btn-primary" id="btnBack"onclick="back();">Back</button>
					</div>
				</div>
			</form>
		</div>
		<!--<div class="panel-body mt-4">
			<div class="p-3" style="background: #dddddd;">
				<div class="row form-group mb-0">

					<label>Entry user:</label>

					<div class="col-sm-2">
						<input type="text" id="entry_user" name="entry_user"
							th:value="${session.USERID}" class="form-control form-control-sm"
							style="font-size: 1rem;" autocomplete="off" readonly />
					</div>
					<div class="col-sm-2">
						<label>Modify user:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="modify_user" name="modify_user"
							th:value="${session.USERID}" value="" style="font-size: 1rem;"
							class="form-control form-control-sm" autocomplete="off" readonly />
					</div>

					<div class="col-sm-2">
						<label>Verify user:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="verify_user" name="verify_user"
							th:value="${session.USERID}" value=""
							class="form-control form-control-sm" style="font-size: 1rem;"
							autocomplete="off" readonly />
					</div>

				</div>

				<br>
				<div class="row formline">

					<label>Entry Date:</label>

					<div class="col-sm-2">
						<input type="text" id="entry_time" name="entry_date"
							th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
							class="form-control form-control-sm" autocomplete="off"
							style="font-size: 1rem;" readonly />
					</div>

					<div class="col-sm-2">
						<label>Modify Date:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="modify_time" name="modify_date"
							th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
							class="form-control form-control-sm" autocomplete="off"
							style="font-size: 1rem;" readonly />
					</div>

					<div class="col-sm-2">
						<label>Verify Date:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="verify_time" name="verify_date"
							th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
							class="form-control form-control-sm" autocomplete="off"
							style="font-size: 1rem;" readonly />
					</div>
				</div>
				<div class="" align="right">
					Status : <font color="green">Active</font>
				</div>
			</div>
		</div>-->
		<!--<div class="panel-body mt-4">
			<div class="p-2" style="background: #dddddd;">
				<div class="row form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Entry User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Modify User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Verify User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="row form-group mb-0">
					<div class="col-sm-2"></div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Entry Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Modify Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Verify Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-2"></div>

				</div>
			</div>
			<div class="" align="right">
				Status : <font color="green">Active</font>
			</div>
			<br>
		</div>-->
	</div>
	</div>
	</div>
	</div>
</body>
</html>