<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<style>
        .status-verified {
            color: green;
        }
        .status-pending {
            color: red; /* or any other color you prefer */
        }
    </style>
    
<style>

.table {
    width: 129%;
    margin-bottom: 1rem;
    color: #212529;
}
.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 4px;
}

#finusertb {
	width: 460px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border: 2px solid skyblue !important;
	border-bottom: unset !important;
	background-color: unset !important;
	color: black !important;
	background-color: unset !important;
}

nav {
	border-bottom: 2px solid grey;
}

fieldset {
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

/* .form-control[readonly] {
	background-color: transparent;
	opacity: 1;
} */
.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}
</style>



<script th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		$("#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
				.datepicker({
					minDate : new Date(),
					changeMonth : true,
					changeYear : true,
					dateFormat : "dd-mm-yy"
				});

		$(".checkToModify").on(
				'click',
				function() {
					$(this).prop('checked', true);

					var resId = $(this).val();

					var formMode = "view";

					var RefId = $(this).attr("Data-Ref");

					location.href = 'leaveMaster?formmode=' + formMode
							+ '&resId=' + resId + '&RefId=' + RefId;

				});

	});

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}

	//Filter Table

	$(document)
			.ready(
					function() {
						$('.filterable .btn-filter')
								.click(
										function() {
											var $panel = $(this).parents(
													'.filterable'), $filters = $panel
													.find('.filters input'), $tbody = $panel
													.find('.table tbody');
											if ($filters.prop('disabled') == true) {
												$filters
														.prop('disabled', false);
												$filters.first().focus();
											} else {
												$filters.val('').prop(
														'disabled', true);
												$tbody.find('.no-result')
														.remove();
												$tbody.find('tr').show();
											}
										});

						$('.filterable .filters input')
								.keyup(
										function(e) {
											/* Ignore tab key */
											var code = e.keyCode || e.which;
											if (code == '9')
												return;
											/* Useful DOM data and selectors */
											var $input = $(this), inputContent = $input
													.val().toLowerCase(), $panel = $input
													.parents('.filterable'), column = $panel
													.find('.filters th')
													.index($input.parents('th')), $table = $panel
													.find('.table'), $rows = $table
													.find('tbody tr');
											/* Dirtiest filter function ever ;)  */
											var $filteredRows = $rows
													.filter(function() {
														var value = $(this)
																.find('td').eq(
																		column)
																.text()
																.toLowerCase();
														return value
																.indexOf(inputContent) === -1;
													});
											/* Clean previous no-result if exist */
											$table.find('tbody .no-result')
													.remove();
											/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
											$rows.show();
											$filteredRows.hide();
											/* Prepend no-result row if all rows are filtered */
											if ($filteredRows.length === $rows.length) {
												$table
														.find('tbody')
														.prepend(
																$('<tr class="no-result text-center"><td colspan="'
																		+ $table
																				.find('.filters th').length
																		+ '">No result found</td></tr>'));
											}
										});
					});

	/*]]>*/
</script>







</head>
<title>ERP</title>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-10">

				<!---------------------User List Ends--------------------------------------------------------->
				<!---------------------User Edit form Starts-------------------------------------------------->
				<div class="container-fluid content" th:if="${formmode}=='list'">
					<div class="row">
						<div class="card">
							<div class="panel panel-primary filterable">

								<div class="card-header d-flex justify-content-between" style="background-color:#BBC3CB;">
									<h4>LIST OF LEAVE APPLIED</h4>
									<a class="btn btn-dark text-white btn-filter btn-primary">Filter</a>

								</div>

								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr class="filters">

													<th><input type="text"
														class="form-control font-weight-bold" placeholder="Emp ID"
														disabled></th>
													<th><input type="text"
														class="form-control font-weight-bold"
														placeholder="Emp Name" disabled></th>
													<th><input type="text"
														class="form-control font-weight-bold"
														placeholder="Leave Reference" disabled></th>
													<th><input type="text"
														class="form-control font-weight-bold"
														placeholder="Leave From" disabled></th>
													<th><input type="text"
														class="form-control font-weight-bold"
														placeholder="Leave To" disabled></th>
													<th><input type="text"
														class="form-control font-weight-bold"
														placeholder="No. of Days" disabled></th>
														<th><input type="text"
															class="form-control font-weight-bold"
															placeholder="Approval-1" disabled></th>
															<th><input type="text"
															class="form-control font-weight-bold"
															placeholder="Approval-2" disabled></th>
															<th><input type="text"
															class="form-control font-weight-bold"
															placeholder="Approval-3" disabled></th>
															<th><input type="text"
															class="form-control font-weight-bold"
															placeholder="Approval-4" disabled></th>
															<th><input type="text"
															class="form-control font-weight-bold"
															placeholder="Approval-5" disabled></th>
																<th><input type="text"
															class="form-control font-weight-bold"
															placeholder="Status" disabled></th>
													<th>Select</th>

												</tr>
											</thead>

											<tbody id="associatemonthly">
												<tr th:each="leaveList : ${LeaveList}">

													<td th:text="${leaveList?.employee_id}"></td>
													<td th:text="${leaveList?.employee_name}"></td>
													<td th:text="${leaveList?.leave_reference}"></td>
													<td
														th:text="${#dates.format(leaveList?.from_date,'dd-MM-yyyy')}"></td>
													<td
														th:text="${#dates.format(leaveList?.to_date,'dd-MM-yyyy')}"></td>
													<td th:text="${leaveList?.no_of_days}"></td>
													<td th:text="${leaveList?.appr_email_status_1}"></td>
														<td th:text="${leaveList?.appr_email_status_2}"></td>
														<td th:text="${leaveList?.appr_email_status_3}"></td>
														<td th:text="${leaveList?.appr_email_status_4}"></td>
														<td th:text="${leaveList?.appr_email_status_5}"></td>
														<td th:text="${leaveList?.status}" th:class="${leaveList?.status} == 'Approved' ? 'status-verified' : 'status-pending'"></td>
													
													<td><input class="form-control-md checkToModify"
														th:attr="Data-Ref = ${leaveList?.leave_reference}"
														th:value="${leaveList?.record_no}" type="radio" /></td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="card-footer text-center" style="background-color:#BBC3CB;">

								<button type="button" class="btn btn-dark btn-primary" id="btnHome"
									onclick="home()">Home</button>

								<button type="button" class="btn btn-dark btn-primary" id="btnBack"
									onclick="back()">Back</button>
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid content" th:if="${formmode}=='view'">
					<div class="row">
						<div class="col-sm-12">
							<form action="#" th:object="${LeaveMaster}" method="POST"
								autocomplete="off" id="LeaveMaster">
								<div class="card">

									<div class="card-header" style="background-color:#BBC3CB;">
		<div class="float-left">
											<h3>Leave Master</h3>
										</div>
									</div>
									<div class="card-body">
										<div class="form-group mb-0">
											<div class="row formline">
												<div class="col-sm-3">
													<label for="employeeId">Employee Id</label>
												</div>
												<div class="col-sm-3">

													<input type="text" id="employeeId"
														th:value="${LeaveList?.employee_id}" name="employee_id"
														class="form-control form-control-sm" autocomplete="off"
														readonly /> <input type="hidden" th:value="${srl_no}"
														name="record_no" id="recordNo"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-3">
													<label for="employeeName">Employee Name</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="employee_name" id="employeeName"
														th:value="${LeaveList?.employee_name}"
														class="form-control form-control-sm" autocomplete="false"
														readonly />
												</div>
											</div>
										</div>
										<div class="form-group mb-0">
											<div class="row formline">
												<div class="col-sm-3">
													<label for="designation">Designation</label>
												</div>
												<div class="col-sm-3">
													<input type="text" id="designation"
														th:value="${LeaveList?.designation}"
														class="form-control form-control-sm" name="designation"
														autocomplete="off" readonly />
												</div>
												<div class="col-sm-3">
													<label for="dateOfJoin">Date Of Joining</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="date_of_join" id="dateOfJoin"
														th:value="${#dates.format(LeaveList?.date_of_join,'dd-MM-yyyy')}"
														class="form-control form-control-sm" autocomplete="false"
														readonly />
												</div>
											</div>
										</div>
										<div class="form-group mb-0">
											<div class="row formline">
												<div class="col-sm-3">
													<label for="leaveCategory">Leave Category</label>
												</div>
												<div class="col-sm-3">
													<input class="form-control form-control-sm"
														name="leave_category"
														th:value="${LeaveList?.leave_category}" readonly required>

												</div>

												<div class="col-sm-3">
													<label for="numOfDays">No Of Days</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="no_of_days" id="numOfDays"
														th:value="${LeaveList?.no_of_days}"
														class="form-control form-control-sm" autocomplete="false"
														readonly />
												</div>
											</div>
										</div>
										<div class="form-group mb-0">
											<div class="row formline">
												<div class="col-sm-3">
													<label for="fromDate">From Date</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="from_date"
														th:value="${#dates.format(LeaveList?.from_date,'dd-MM-yyyy')}"
														id="fromDate" class="form-control form-control-sm"
														readonly required />
												</div>

												<div class="col-sm-3">
													<label for="toDate">To Date</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="to_date"
														th:value="${#dates.format(LeaveList?.to_date,'dd-MM-yyyy')}"
														id="toDate" value="" class="form-control form-control-sm"
														readonly required />
												</div>
											</div>
										</div>
										<div class="form-group mb-0">
											<div class="row formline">
												<div class="col-sm-3">
													<label for="reasonLeave">Reason For Leave</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="reason_for_leave" id="reasonLeave"
														th:value="${LeaveList?.reason_for_leave}"
														class="form-control form-control-sm" autocomplete="off"
														readonly required />
												</div>

												<div class="col-sm-3">
													<label for="remarks">Remarks</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="remarks" id="remarks"
														th:value="${LeaveList?.remarks}"
														class="form-control form-control-sm" autocomplete="false"
														readonly required />
												</div>
											</div>
										</div>
										<div class="form-group mb-0">
											<div class="row formline">
												<div class="col-sm-3">
													<label for="leaveBalance">Remaining Leave Balance</label>
												</div>
												<!--	th:value="${LeaveList?.leave_blc}"-->
												<div class="col-sm-3">
													<input type="text" name="leave_blc" id="leaveBalance"
														th:value="${LeaveList?.leave_blc}"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-6"></div>
											</div>
										</div>
										<div class="table-responsive mt-4">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>SI.no</th>
														<th>Date</th>
														<th>Day</th>
														<th>Leave Description</th>
														<th>Half Day</th>
														<th>Count</th>
													</tr>
												</thead>
												<tbody id="leaveTable">
													<tr th:each="leaveListref : ${LeaveListref} ">
														<td th:text="${leaveListrefStat.index+1}"></td>
														<td
															th:text="${#dates.format(leaveListref?.leaveMasterCounterId.leave_date,'dd-MM-yyyy')}"></td>
														<td th:text="${leaveListref?.leave_day}"></td>
														<td th:text="${leaveListref?.leave_desc}"></td>
														<td th:text="${leaveListref?.half_day_counter}"></td>
														<td th:text="${leaveListref?.leave_counter}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="card-footer text-center" style="background-color:#BBC3CB;">

										<button type="button" class="btn btn-dark btn-primary" id="btnHome"
											onclick="home()">Home</button>

										<button type="button" class="btn btn-dark btn-primary" id="btnBack"
											onclick="back()">Back</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- <div class="panel-body mt-4">
			<div class="p-2" style="background: #dddddd;">
				<div class="row form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Entry User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Modify User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Verify User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="row form-group mb-0">
					<div class="col-sm-2"></div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Entry Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Modify Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Verify Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-2"></div>

				</div>
			</div>
			<div class="" align="right">
				Status : <font color="green">Active</font>
			</div>
		</div> -->






</body>
</html>