<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>

<style>
.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 4px;
}

#finusertb {
	width: 460px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

fieldset {
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

legend {
    color: #3C6EAC;
    font-size: 20px;
    font-weight: bold !important;
    text-align: left !important;
    border-bottom: none;
}

.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}
</style>



<style type="text/css">
.navbar {
    margin-left: -5px;
    position: fixed; /* Keep it fixed */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}
.content {
    margin-top: 151px ! important; /* Push content down to avoid overlap */
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-manager {
	padding-right: 47px;
	padding-left: 132px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -22px;
}
</style>
<script type="text/javascript">
$(document).ready(function () {
    $('.dropdown, .dropdown-submenu').hover(function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
    }, function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
    });
});
</script>







<script th:inline="javascript">
	/*<![CDATA[*/

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}

	function approveAdd(a) {

		if ($("#expenseReport").valid()) {

			var userid = $("#empRef").val();

			var url = "./MtExpenseReportAdd?formmode=approve&userid=" + userid;
			$("#expenseReport").attr('action', url);

			var options = {
				success : showResponse
			};

			$("#expenseReport").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {
				$("#alertmsg").text(responseText);
				$('#alert').modal("toggle");
			}
			;
		}
	}

	function rejectAdd(a) {

		if ($("#expenseReport").valid()) {

			var userid = $("#empRef").val();

			var url = "./MtExpenseReportAdd?formmode=reject&userid=" + userid;
			$("#expenseReport").attr('action', url);

			var options = {
				success : showResponse
			};

			$("#expenseReport").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {
				$("#alertmsg").text(responseText);
				$('#alert').modal("toggle");
			}
			;
		}
	}

	function add(a) {
		var resId = a.getAttribute("Ass-Id");
		var formmode = "add";

		location.href = 'MtExpenseReport?formmode=' + formmode + '&resId='
				+ resId;
	}

	$(document).ready(
			function() {
				//Check to Modify
				$(".checkToModify").on(
						'click',
						function() {

							$(this).prop('checked', false);

							var resId = $(this).val();

							var formmode = "view";

							location.href = 'MtExpenseReport?formmode='
									+ formmode + '&resId=' + resId;

						});

			});

	/*]]>*/
</script>

<script th:inline="javascript">
	/* Current Date Expence Details */
	$(document)
			.ready(
					function() {

						$("#dtexp").datepicker({
							changeMonth : true,
							changeYear : true,
							dateFormat : "dd-mm-yy"
						});

						var today = new Date();
						var dd = today.getDate();
						var mm = today.getMonth() + 1;
						var yyyy = today.getFullYear();

						if (dd < 10) {
							dd = '0' + dd;
						}
						if (mm < 10) {
							mm = '0' + mm;
						}
						today = dd + '-' + mm + '-' + yyyy;

						$("#empRepDate,#rptDate").val(today);

						var i = 1;
						var id = 3;
						$("#add_row")
								.click(
										function() {
											if (i > 9) {
												return false;
											}

											$('#addr' + i)
													.html(
															"<td><input name='srno' type='text' value="
																	+ (i + 1)
																	+ " class='form-control input-md' readonly/></td><td><input id='dtexp"+i+"' name='dtexp' type='text' placeholder='dd-mm-yyyy' class='form-control input-md'  /> </td><td><input  name='desc1' type='text' placeholder='Description'  class='form-control input-md'></td><td><input  name='amt1' type='text'  placeholder='Amount'  class='form-control input-md'></td><td><input  name='remark' type='text' placeholder='Remarks'  class='form-control input-md'></td><td><select name='head2' id=head"+id+++" class='form-control'></select></td>");

											$('#dtexp' + i).datepicker({

												dateFormat : 'dd-mm-yy',
												changeMonth : true,
												changeYear : true,

											});

											$('#tab_logic').append(
													'<tr id="addr' + (i + 1)
															+ '"></tr>');

											i++;

											id++;

										});
						$("#delete_row").click(function() {
							if (i > 1) {
								$("#addr" + (i - 1)).html('');
								i--;
							}
						});

					});

	$(function() {

		$("#approvalDate").datepicker({
			minDate : new Date(),
			changeMonth : true,
			changeYear : true,
			dateFormat : "dd-mm-yy"
		});

	});

	/* ADD And DELETE Document Details */

	$(document)
			.ready(
					function() {
						var i = 2;
						$(".addmore1")
								.on(
										'click',
										function() {
											var data = "<tr><td><input type='checkbox' class='case'/></td><td style='text-align: right'>"
													+ i + ".</td>";
											data += "<td><input type='text' id='mandatoryFileNames"+i+"' name='mandatoryFileNames'/></td> <td><input type='file' name='fileUpload' class='upload' id='uploadFile"
													+ i
													+ "'  onchange='pressed("
													+ i
													+ ")' /><input type='hidden' name='stringFile' class='stringf' id='StringFile"+i+"' value=''/><input type='hidden'  id='fileLabel"+i+"' name='fileName'  ></td></tr>";
											$('#tb1').append(data);
											i++;
										});

						$(".delete1")
								.on(
										'click',
										function() {

											var rowCount = $('#tb1 tr').length;

											var checkedBox = $("[type='checkbox']:checked").length;
											if (checkedBox == 0) {

												alert("Select File");
											}
											if (rowCount > 2) {
												$('.case:checkbox:checked')
														.parents("tr").remove();

												$('.check_all').prop("checked",
														false);
											} else {
												alert("Can't delete this row");
											}

										});
					});

	//Filter Table

	$(document)
			.ready(
					function() {
						$('.filterable .btn-filter')
								.click(
										function() {
											var $panel = $(this).parents(
													'.filterable'), $filters = $panel
													.find('.filters input'), $tbody = $panel
													.find('.table tbody');
											if ($filters.prop('disabled') == true) {
												$filters
														.prop('disabled', false);
												$filters.first().focus();
											} else {
												$filters.val('').prop(
														'disabled', true);
												$tbody.find('.no-result')
														.remove();
												$tbody.find('tr').show();
											}
										});

						$('.filterable .filters input')
								.keyup(
										function(e) {
											/* Ignore tab key */
											var code = e.keyCode || e.which;
											if (code == '9')
												return;
											/* Useful DOM data and selectors */
											var $input = $(this), inputContent = $input
													.val().toLowerCase(), $panel = $input
													.parents('.filterable'), column = $panel
													.find('.filters th')
													.index($input.parents('th')), $table = $panel
													.find('.table'), $rows = $table
													.find('tbody tr');
											/* Dirtiest filter function ever ;) */
											var $filteredRows = $rows
													.filter(function() {
														var value = $(this)
																.find('td').eq(
																		column)
																.text()
																.toLowerCase();
														return value
																.indexOf(inputContent) === -1;
													});
											/* Clean previous no-result if exist */
											$table.find('tbody .no-result')
													.remove();
											/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
											$rows.show();
											$filteredRows.hide();
											/* Prepend no-result row if all rows are filtered */
											if ($filteredRows.length === $rows.length) {
												$table
														.find('tbody')
														.prepend(
																$('<tr class="no-result text-center"><td colspan="'
																		+ $table
																				.find('.filters th').length
																		+ '">No result found</td></tr>'));
											}
										});
					});
</script>



<script>
function calculateapproval(a){

	
	let dueamount=0;
	
	var claimedamount=document.getElementById('amtClaim').value;
	
	var approvalamount=document.getElementById('amtApproval').value;
	var advanceamunt=document.getElementById('advAmt').value;
	
	if(!advanceamunt){
		dueamount=0;
	}
	else{dueamount= approvalamount-advanceamunt;
		}
	
	document.querySelector('#balDue').value = dueamount.toFixed(2);
	
	
}

</script>



<script>
$(document).ready(function() {
    $("#datepickerS").datepicker({
        dateFormat: "dd-mm-yy", // Format: DD-MM-YYYY
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        yearRange: "1900:2100"
    });
});
</script>



<script>
	
	

	function select_branch() {
	    //const branchId = document.getElementById('branchId').value;
	    
	      const org_id = document.getElementById('org_id').value;
        const branchId = document.getElementById('branchId').value;
        if (!org_id || !branchId) {
            alert("Please select both Organization and Branch.");
            return;
        }
	    
	    
	    
	    
	    const tableBody = document.getElementById('expenseReport');

	    $.ajax({
	        url: './getuserbranchlistforclaimMAIN?branchId=' + branchId + '&org_id='+ org_id,
	        type: 'GET',
	        dataType: 'json',
	        success: function(response) {
	            // Do not hide/show tables, just update the content
	            tableBody.innerHTML = ''; // Clear existing data

	            if (response.length === 0) {
	                tableBody.innerHTML = `<tr><td colspan="8" style="text-align: center; color: red;">No records found.</td></tr>`;
	            } else {
	                response.forEach((userlist, index) => {
	                    let formattedAmount = userlist.claim_amt ? userlist.claim_amt.toFixed(2) : "0.00";

	                    let row = `<tr style="width:100%;">
	                        <td style="padding-left:20px;">${index + 1}</td>
	                        <td>${userlist.ass_id || ''}</td>
	                        <td>${userlist.ass_name || ''}</td>
	                        <td>${userlist.ass_desig || ''}</td>
	                        <td>${userlist.ass_group || ''}</td>
	                        <td>${formattedAmount}</td>
	                        <td>${userlist.status || ''}</td>
	                        <td style="padding-left:20px;">
	                            <input class="form-control-sm checkToModify" onclick="clickview(this);" value="${userlist.exp_ref_no || ''}" type="radio" />
	                        </td>
	                    </tr>`;

	                    tableBody.insertAdjacentHTML('beforeend', row);
	                });
	            }
	        },
	        error: function(xhr, status, error) {
	            alert("Error: " + error);
	        }
	    });
	}


	</script>

	<script>
	
	function clickview(a){
		
		var resId = $(a).val();

		var formmode = "view";

		location.href = 'MtExpenseReport?formmode='
				+ formmode + '&resId=' + resId;
	}
	
	</script>
	
	<script>
	
	
    function select_org() {
        const org_id = document.getElementById('org_id').value;

        $.ajax({
            url: './getorglist?org_id=' + org_id,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                const branchSelect = document.getElementById('branchId');
                branchSelect.innerHTML = '<option value="">Select Branch</option>';

                response.forEach(function(branchId) {
                    const option = document.createElement('option');
                    option.value = branchId;
                    option.text = branchId;
                    branchSelect.appendChild(option);
                });
            },

            error: function(xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
	</script>


</head>
<title>ERP</title>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>


			<!---------------------Admin Expense Report list form Starts-------------------------------------------------->
			<div class="col-sm-12">

				<div class="container-fluid"
					th:if="${formmode}=='list' OR ${formmode}=='list1'">

					<div class="row">

						<div class="col-sm-12">
							<div class="container-fluid content">
								<div class="row">
									<div class="card w-100">
										<div class="card-body p-0">
											<div class="panel panel-primary filterable">
												<div class="card-header d-flex justify-content-between align-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
													<div STYLE="font-size: 1.3rem;"><!-- <i class="fas fa-list mr-1"></i> -->EXPENSES LIST</div>
													
													
													
													<div class="d-flex align-center">
													  <!-- Organization Selection -->
											<select class="form-control"
												onchange="select_org();"
												style="color: white; background-color:black; "
												id="org_id" name="org_id">
												<option value="">Select Organization</option>
												<!-- Populate options dynamically using Thymeleaf -->
												<option th:each="OrgId : ${OrgIds}" th:value="${OrgId}"
													th:text="${OrgId}"></option>
											</select>
													
													<!-- Branch Selection -->
															<select  class=" form-control" style="background-color:black;color:white;'"
																onchange="select_branch();"
																
																id="branchId" name="branchId">
																<option value="">Select Branch</option>
																<!-- Populate options dynamically using Thymeleaf -->
																<option th:each="branchId : ${branchIds}"
																	th:value="${branchId}" th:text="${branchId}"></option>
															</select>
													<button class="btn btn-dark text-white btn-filter btn-primary">Filter</button>
												</div>
												</div>

												<div class="table-responsive"
										style="overflow-y: auto; max-height: 68vh; border: 1px solid #dee2e6;">
														<table class="table">
															<thead style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 1;">
			<tr class="filters">
																<th><input type="text" class="form-control font-weight-bold"
																	placeholder="S.No" disabled></th>
																<th><input type="text" class="form-control font-weight-bold"
																	placeholder="Associate Id" disabled></th>
																<th><input type="text" class="form-control font-weight-bold"
																	placeholder="Name" disabled></th>
																<th><input type="text" class="form-control font-weight-bold"
																	placeholder="Designation" disabled></th>
																<th><input type="text" class="form-control font-weight-bold"
																	placeholder="Group" disabled></th>
																<th><input type="text" class="form-control font-weight-bold"
																	placeholder="Amount" disabled></th>
																	<th><input type="text" class="form-control font-weight-bold"
																	placeholder="Status" disabled></th>
																<th>Select</th>
															</tr>
														</thead>
														
														<tbody id="expenseReport"
															>
															<tr class="order" th:each="Expensereport : ${report}">
																<td th:text="${ExpensereportStat.index+1}"></td>
																<td th:text="${Expensereport?.ass_id}"></td>
																<td th:text="${Expensereport?.ass_name}"></td>
																<td th:text="${Expensereport?.ass_desig}"></td>
																<td th:text="${Expensereport?.ass_group}"></td>
																<td th:text="${#numbers.formatDecimal(Expensereport?.claim_amt,1,2)}"></td>
																<td th:text="${Expensereport?.status}"></td>

																<td th:if="${formmode}=='list'" class="text-center"><input
																	class="form-control-sm checkToModify"
																	th:value="${Expensereport?.exp_ref_no}" type="radio" /></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
											<button type="button" class="btn btn-dark btn-primary" id="btnHome"
												onclick="home()">Home</button>
												
											<button type="button" class="btn btn-dark btn-primary" id="btnBack"
												onclick="back()">Back</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="container-fluid content"
					th:if="${formmode}=='add' OR ${formmode}=='view'">
					<div class="row">
						<div class="col-sm-12 finuserapply">
							<form action="#" th:object="${expenseReport}" method="post"
								autocomplete="off" id="expenseReport">

								<div class="card ">
									<div class="card-header" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
										<div class="float-left">
											<div STYLE="font-size: 1.3rem;" th:if="${formmode}=='view'">EXPENSE REPORT</div>
										</div>
									</div>
									<div class="table-responsive" style="overflow-x:hidden;overflow-y:auto;max-height:68vh;">
									<div class="card-body">
										<input autocomplete="false" name="hidden" type="text"
											style="display: none;">
										<fieldset class="">
											<legend>Employee Details</legend>
											<div class="form-group mb-0">
												<div class="row formline">
												<div class="col-auto"></div>
													<div class="col-sm-2">
														<label for="empRef">Employee Ref</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="empRef"
															class="form-control form-control-sm"
															th:if="${formmode}=='view'"
															th:value="${MtExpenseReport?.exp_ref_no}" readonly />

													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-2">
														<label for="empRepDate">Employee Report Date</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="empRepDate"
															th:if="${formmode}=='view'"
															th:value="${#dates.format(MtExpenseReport?.exp_rpt_date,'dd-MM-yyyy')}"
															class="form-control form-control-sm" readonly />

													</div>
												</div>

												<div class="row formline">
													<div class="col-auto"></div>
													<div class="col-sm-2">
														<label for="assId">Associate Id</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="assId" th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${MtExpenseReport?.ass_id}" readonly />

													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-2">
														<label for="assName">Associate Name</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="assName"
															th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${MtExpenseReport?.ass_name}" readonly />

													</div>
												</div>

												<div class="row formline">
													<div class="col-auto"></div>
													<div class="col-sm-2">
														<label for="designation">Designation</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="designation"
															th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${MtExpenseReport?.ass_desig}" readonly />

													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-2">
														<label for="grp">Group</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="grp" th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${MtExpenseReport?.ass_group}" readonly />

													</div>
												</div>

												<div class="row formline">
													<div class="col-auto"></div>
													<div class="col-sm-2">
														<label for="claimType">Claim Type</label>
													</div>
													<div class="col-sm-3">

														<input type="text" class="form-control form-control-sm"
															id="claimType" th:if="${formmode}=='view'"
															th:value="${MtExpenseReport?.claim_type}" readonly>

													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-2">
														<label for="projectId">Project Id</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="projectId"
															th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${MtExpenseReport?.prj_id}" readonly />

													</div>
												</div>

												<div class="row formline">
													<div class="col-auto"></div>
													<div class="col-sm-2">
														<label for="currency">INR</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="currency"
															th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${MtExpenseReport?.crncy}" readonly />

													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-2">
														<label for="claimAmt">Claim Amount</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="claimAmt"
															th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${#numbers.formatDecimal(MtExpenseReport?.claim_amt,1,2)}" readonly />

													</div>
												</div>

							<!-- 					<div class="row formline">
													<div class="col-auto"></div>
													<div class="col-sm-2">
														<label for="exchgeRate">Exchange Rate</label>
													</div>
													<div class="col-sm-3">

														<input type="text" id="exchgeRate"
															th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${#numbers.formatDecimal(MtExpenseReport?.rate,1,2)}" readonly />

													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-2">
														<label for="homeCurAmt">Home Currency Amount</label>
													</div>
													<div class="col-sm-3">
														<input type="text" id="homeCurAmt"
															th:if="${formmode}=='view'"
															class="form-control form-control-sm"
															th:value="${#numbers.formatDecimal(MtExpenseReport?.home_crncy_amt,1,2)}" readonly />


													</div>
												</div> -->
											</div>
										</fieldset>
										
										
										
											<!---------------------Expenses Details form Starts-------------------------------------------------->
										<div class="expensesDetails" th:if="${formmode}=='view'">
											<fieldset class="scheduler-border">
												<legend class="scheduler-border">Expenses Details</legend>
												<div class="row clearfix">
													<div class="col-md-12 column">
														<div class="table-responsive">
															<table style="font-size: 14px;"
																class="table table-hover table-bordered" id="tab_logic">
																<thead>
																	<tr>
																		<th style="width: 50px;" class="text-center">SRL</th>
																		<th class="text-center">Date of Expenses</th>
																		<th class="text-center">Description</th>
																		<th class="text-center">Amount</th>
																		<th class="text-center" style="display: none;">
																			Approved Amount</th>
																		<th class="text-center" style="display: none;">
																			Approved</th>
																		<th class="text-center">Remarks</th>
																		<th class="text-center">Head</th>
																	</tr>
																</thead>

																<tbody th:if="${formmode}=='view'"
																	th:each="claimExpenses : ${MtExpenseReport}">
																	<tr th:if="${claimExpenses?.exp_det_1} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_1} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+1}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[4]}"></td>
																	</tr>
																	
																	
																	
																	<!-- ---second row-- 5-9 -->
																<tr th:if="${claimExpenses?.exp_det_1} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+2}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[5]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[5]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[6]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[6]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[7]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[7]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[8]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[8]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[9]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[9]}"></td>
																	</tr>
																	
																														<!-- ---third  row-- 10-14 -->
																<tr th:if="${claimExpenses?.exp_det_1} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+3}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[10]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[10]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[11]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[11]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[12]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[12]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[13]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[13]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[14]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[14]}"></td>
																	</tr>
																	
																	<!-- ---third  row-- 15-19 -->
																<tr th:if="${claimExpenses?.exp_det_1} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+4}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[15]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[15]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[16]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[16]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[17]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[17]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[18]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[18]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[19]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_1, '||')[19]}"></td>
																	</tr>
																	
																	
																	
																	
																	
																	

																	<tr th:if="${claimExpenses?.exp_det_2} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_2} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+2}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_2, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_3} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_3} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+3}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_3, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_4} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_4} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+4}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_4, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_5} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_5} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+5}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_5, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_6} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_6} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+6}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_6, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_7} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_7} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+7}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_7, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_8} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_8} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+8}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_8, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_9} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_9} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+9}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_9, '||')[4]}"></td>
																	</tr>

																	<tr th:if="${claimExpenses?.exp_det_10} == null"></tr>
																	<tr th:if="${claimExpenses?.exp_det_10} != null">

																		<td class="text-center"
																			th:text="${claimExpensesStat.index+10}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[0]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[0]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[1]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[1]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[2]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[2]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[3]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[3]}"></td>
																		<td class="text-center"
																			th:if="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[4]}!=null"
																			th:text="${#strings.arraySplit(claimExpenses?.exp_det_10, '||')[4]}"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</fieldset>
										</div>
										
										
										
										
										<!---------------------Expenses Details form Ends---------------------------------------------------->



										<div>
											<fieldset>
												<legend>Expenses Details Description </legend>
												<div class="form-group mb-0">
													<div class="row formline">
														<div class="col-auto"></div>
														<div class="col-sm-2">
															<label for="rptDate">Date Of Report</label>
														</div>
														<div class="col-sm-3">

															<input type="text" id="rptDate"
																th:if="${formmode}=='view'"
																th:value="${#dates.format(MtExpenseReport?.rpt_date,'dd-MM-yyyy')}"
																class="form-control form-control-sm" readonly />

														</div>
														<div class="col-sm-1"></div>
														<div class="col-sm-2">
															<label for="amtClaim">Amount Claimed</label>
														</div>
														<div class="col-sm-3">

															<input type="text" id="amtClaim"
																th:if="${formmode}=='view'" name="amt_claimed"
																th:value="${#numbers.formatDecimal(MtExpenseReport?.amt_claimed,1,2)}"
																class="form-control form-control-sm" readonly />

														</div>
													</div>


													<div class="row formline">
														<div class="col-auto"></div>
														<div class="col-sm-2">
															<label for="approvalDate">Date Of Approval</label>
														</div>
														<div class="col-sm-3">

															<input type="date" id="date_of_apr"
																th:if="${formmode}=='view'" 
																name="date_of_apr"
																
																class="form-control form-control-sm " />

														</div>
														<div class="col-sm-1"></div>
														<div class="col-sm-2">
															<label for="amtApproval">Amount Approval</label>
														</div>
														<div class="col-sm-3">

															<input type="text" id="amtApproval"
																th:if="${formmode}=='view'"
																name="amt_apr"
																
																oninput="calculateapproval(this)"
																th:value="${#numbers.formatDecimal(MtExpenseReport?.amt_apr,1,2)}"
																class="form-control form-control-sm"  />

														</div>
													</div>

													<div class="row formline">
														<div class="col-auto"></div>
														<div class="col-sm-2">
															<label for="advDate">Date Of Advance</label>
														</div>
														<div class="col-sm-3">

															<input type="date" id="datepicker"
																th:if="${formmode}=='view'"
																name="date_of_adv"
																th:value="${#dates.format(MtExpenseReport?.date_of_adv,'dd-MM-yyyy')}"
																class="form-control form-control-sm"  />

														</div>
														<div class="col-sm-1"></div>
														<div class="col-sm-2">
															<label for="advAmt">Advance Amount</label>
														</div>
														<div class="col-sm-3">

															<input type="text" id="advAmt"
																th:if="${formmode}=='view'"
																name="adv_amt"
																	oninput="calculateapproval(this)"
																th:value="${#numbers.formatDecimal(MtExpenseReport?.adv_amt,1,2)}"
																class="form-control form-control-sm"  />
														</div>
													</div>

													<div class="row formline">
														<div class="col-auto"></div>
														<div class="col-sm-2">
															<label for="settlementDate">Date of Settlement</label>
														</div>
														<div class="col-sm-3">

															<input type="date" id="settlementDate"
																th:if="${formmode}=='view'"
																name="date_of_settl"
																th:value="${#dates.format(MtExpenseReport?.date_of_settl,'dd-MM-yyyy')}"
																class="form-control form-control-sm"  />

														</div>
														<div class="col-sm-1"></div>
														<div class="col-sm-2">
															<label for="balDue">Balance Due</label>
														</div>
														<div class="col-sm-3">

															<input type="text" id="balDue"
																th:if="${formmode}=='view'"
																name="bal_amt"
																th:value="${#numbers.formatDecimal(MtExpenseReport?.bal_amt,1,2)}"
																class="form-control form-control-sm" readonly />
														</div>

													</div>

													<div class="row formline">
														<div class="col-auto"></div>
														<div class="col-sm-2">
															<label for="status">Status</label>
														</div>
														<div class="col-sm-3">

															<input type="text" id="status" value=""
																th:if="${formmode}=='view'"
																th:value="${MtExpenseReport?.status}"
																class="form-control form-control-sm" readonly />

														</div>
														<div class="col-sm-7"></div>
													</div>
												</div>
											</fieldset>
										</div>
										<!---------------------Expenses Details Description form Ends-------------------------------------------->
									</div>
									</div>

									<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; letter-spacing: 0.5px; line-height: 1.5; text-transform: capitalize; color: #333; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);"
										>
										<button type="button" th:if="${formmode}=='view'"
											class="btn btn-dark btn-xs btn-primary" onclick="home();" id="btnHome">Home</button>

										<button type="button" class="btn btn-dark btn-xs btn-primary"
											id="btnApprove" onclick="approveAdd(this);">Accept</button>
											
										<button type="button" class="btn btn-dark btn-xs btn-primary"
											id="btnReject" onclick="rejectAdd(this);">Reject</button>

										<button type="button" class="btn btn-dark btn-xs btn-primary"
											th:if="${formmode}=='view'" id="btnback" onclick="back();">Back</button>
									</div>
								</div>
							
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="modal fade" id="alert">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="menu-title-header">
					<div class="modal-title" id="exampleModalLabel"
						style="text-align: center; color: white;">CIM FINANCE</div>
				</div>
				<div class="modal-body"
					style="text-align: center; background-color: #c6ccd2">
					<p id="alertmsg" style="font-size: 16px;"></p>
					<button type="button" class="btn btn-dark btn-primary" data-dismiss="modal"
						onclick="back();">Close</button>
				</div>
			</div>
		</div>
	</div>




</body>
</html>