<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:fragment="summary">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>


<script src="js/bootstrap411.js"></script>
<link rel="stylesheet" href="css/spur.css">


<style>
.h2, h2 {
	font-size: 2rem;
	background-color: #555;
	color: white;
}

.underline {
	text-decoration: underline;
	color: #08a6f1;
	cursor: pointer;
}

.tag-btn {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	z-index: 5;
	position: relative;
	padding: 10px;
	margin: 0;
	line-height: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #F08080;
	border: none;
	color: #fff;
	box-shadow: none;
}

.pagebut {
	margin-top: 1%;
	/*  width: 58%;  */
	padding: 1% 1%;
	background-color: #2e455d;
	color: white;
}

select {
	width: 150px;
	margin: 10px;
}

td {
	background-color: #f8f7ff;
}

select:focus {
	min-width: 150px;
	width: auto;
}

#hidden_div {
	display: none;
}

.dataTables_empty {
	color: #be3232;
}

#overlay {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
	margin-bottom: 0;
}
</style>
</head>


<script th:inline="javascript">
	function home() {
		location.href = 'Dashboard';
	}

	function back() {
		window.history.back();
	}

	function adduser(a) {
		location.href = 'resourceMaster?formmode=add';
	}

	function list() {
		location.href = 'resourceMaster?formmode=list';
	}

	function submitform() {

		if ($("#resourceProfile").valid()) {

			var url = "./resourceMasterAdd?formmode=add";

			$("#resourceProfile").attr('action', url);

			var options = {
				success : showResponse
			};

			$("#resourceProfile").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {
				$("#alertmsg").text(responseText);
				$('#alert').modal("toggle");

			}
			;
		}
	};

	function submiteditform(a) {

		if ($("#resourceProfile").valid()) {

			var url = "./resourceMasterAdd?formmode=edit";
			$("#resourceProfile").attr('action', url);

			var options = {
				success : showResponse
			};

			$("#resourceProfile").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {
				$("#alertmsg").text(responseText);
				$('#alert').modal("toggle");

			}
			;
		}

	};

	function fnClick(a) {
		var EmpId = a.getAttribute("data-EmpId");
		var formmode = a.getAttribute("data-formmode");

		location.href = 'resourceMaster?formmode=' + formmode + '&EmpId='
				+ EmpId;
	}

	$(function() {
		$("#dateOfBirth,#dateOfJoin,#billingDate").datepicker({
			dateFormat : "dd-mm-yy",
			changeMonth : true,
			numberOfMonths : 1,
			gotoCurrent : true

		});
	});

	function grpDropdown(a) {
		$("#hideme").hide();
		$("#showme").show();
	}

	function placementDropdown(a) {
		$("#placementhide").hide();
		$("#placementshow").show();
	}

	function desDropdown(a) {
		$("#deshideme").hide();
		$("#desshowme").show();
	}

	function qualificationDropdown(a) {
		$("#qualificatiohide").hide();
		$("#qualificatioshow").show();
	}
	/*]]>*/
</script>


</head>
<title>Resource Master</title>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-10">
				<div class="container-fluid content">

					<div th:if="${formmode}=='list'">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header">
										<div class="float-left">
											<h6>RESOURCE MASTER</h6>
										</div>

										<div class="btn-group nav-buttons float-right">
											<button type="button" class="btn btn-xs btn-primary btns"
												id="btnAdd" onclick="adduser();">Add</button>
											<button type="button"
												class="btn btn-xs btn-primary btns active" id="btnInq"
												onclick="list()">List</button>
										</div>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-bordered" id="usertable">
												<thead>
													<tr>
														<th>Group</th>
														<th>Emp Id</th>
														<th>Emp Name</th>
														<th>DOB</th>
														<th>DOJ</th>
														<th>Placement Id</th>
														<th>Mobile No</th>
														<th>Email Id</th>
														<th>Place_Flag</th>
														<th>Select</th>
													</tr>
												</thead>
												<tbody>
													<tr style="font-size: smaller"
														th:each="placementProfile : ${placementProfileList}"
														class="userlist">

														<td th:text="${placementProfile.res_group}"></td>
														<td th:text="${placementProfile.emp_id}"></td>
														<td th:text="${placementProfile.emp_name}"></td>
														<td
															th:text="${#dates.format(placementProfile?.date_of_birth,'dd-MM-yyyy')}"></td>
														<td
															th:text="${#dates.format(placementProfile?.date_of_joining,'dd-MM-yyyy')}"></td>
														<td th:text="${placementProfile.placement_id}"></td>
														<td th:text="${placementProfile.mobile_no}"></td>
														<td th:text="${placementProfile.email_id}"></td>
														<td th:text="${placementProfile.placement_flg}"></td>

														<td>
															<div class="dropdown">
																<button class="btn btn-secondary dropdown-toggle"
																	type="button" id="dropdownMenuButton" title="Action"
																	style="line-height: 0.7; font-size: 11px; color: #3a4550; background: #e3e3e4;"
																	data-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false">Action</button>
																<div class="dropdown-menu"
																	aria-labelledby="dropdownMenuButton"
																	style="line-height: 0.7; background-color: #e3e3e4;">
																	<a class="dropdown-item" title="Modify"
																		style="line-height: 0.7; cursor: pointer; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
																		onclick="fnClick(this);"
																		th:attr="data-EmpId=${placementProfile.emp_id},data-formmode='edit'"
																		th:if="${placementProfile.entity_flg}=='Y' ">Modify</a>

																	<div class="dropdown-divider"
																		style="height: 2px; line-height: 0.7;"></div>

																	<a class="dropdown-item" title="View"
																		style="line-height: 0.7; cursor: pointer; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
																		onclick="fnClick(this);"
																		th:attr="data-EmpId=${placementProfile.emp_id},
													                     data-formmode='view'"
																		th:if="${placementProfile.entity_flg}=='Y' ">View</a>
																</div>
															</div>
														</td>
													</tr>

												</tbody>
											</table>
										</div>
										<div class="card-footer border-top-0 bg-white text-center">
											<button type="button" class="btn btn-xs btn-primary"
												id="btnHome" onclick="home();">Home</button>

											<button type="button" class="btn btn-xs btn-primary"
												id="btnBack" onclick="home();">Back</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!---------------------User List Ends--------------------------------------------------------->
					</div>
				</div>

				<!---------------------User Edit form Starts-------------------------------------------------->

				<div class="container-fluid"
					th:if="${formmode}=='add' OR ${formmode}=='edit' OR ${formmode}=='delete' OR ${formmode}=='view' OR ${formmode}=='verify'">
					<div class="row">
						<div class="col-sm-12">
							<form action="#" th:object="${resourceProfile}" method="post"
								autocomplete="off" id="resourceProfile">
								<div class="card">
									<div class="card-header">
										<div class="float-left">
											<h3 th:if="${formmode}=='add'">Resource Master - Add</h3>
											<h3
												th:if="${formmode}=='edit' AND ${placementProfile?.entity_flg}!='N'">Resource
												Master - Modify</h3>
											<h3
												th:if="${formmode}=='view' AND ${placementProfile?.entity_flg}!='N'">Resource
												Master - View</h3>
										</div>

										<div class="btn-group nav-buttons float-right">

											<button type="button"
												class="btn btn-xs btn-primary btns active" id="btnInq"
												onclick="list()">List</button>
										</div>
									</div>

									<div class="card-body">
										<div class="form-group">
											<div class="row formline">
												<div class="col-sm-2">
													<label for="resourceGroup">Resource Group</label>
												</div>

												<div class="col-sm-3">

													<select th:if="${formmode}=='add'" id="resourceGroup"
														name="res_group" class="form-control form-control-sm m-0">
														<option value="">SELECT</option>
														<option value="BORNFIRE">BORNFIRE</option>
														<option value="TALENT">TALENT</option>
														<option value="WHITESTONE">WHITESTONE</option>
														<option value="NITYO">NITYO</option>
													</select> <input th:if="${formmode}=='edit'" type="text"
														onclick="grpDropdown(this);"
														th:value="${placementProfile?.res_group}" id="hideme"
														class="form-control form-control-sm" autocomplete="off" />
													<select th:if="${formmode}=='edit'" style="display: none;"
														id="showme" name="res_group"
														class="form-control form-control-sm m-0 w-100">
														<option th:value="${placementProfile?.res_group}">SELECT</option>
														<option value="BORNFIRE">BORNFIRE</option>
														<option value="TALENT">TALENT</option>
														<option value="WHITESTONE">WHITESTONE</option>
														<option value="NITYO">NITYO</option>
													</select> <input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.res_group}"
														id="resourceGroup" name="res_group"
														class="form-control form-control-sm" autocomplete="off"
														readonly />


												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-2">
													<label for="groupDescription">Group Description</label>
												</div>
												<div class="col-sm-3">
													<select th:if="${formmode}=='add'" id="groupDescription"
														name="group_desc" class="form-control form-control-sm m-0">
														<option value="">SELECT</option>
														<option value="BORNFIRE">Bornfire Innovations
															Private Limited</option>
														<option value="TALENT">Talent Takeaways
															Consulting India Pvt Ltd</option>
														<option value="WHITESTONE">Whitestone Software
															Solutions Pvt Ltd</option>
														<option value="NITYO">Nityo Infotech Services
															Private Limited</option>
													</select> <input th:if="${formmode}=='edit'" type="text"
														onclick="placementDropdown(this);"
														th:value="${placementProfile?.group_desc}"
														id="placementhide" class="form-control form-control-sm"
														autocomplete="off" /> <select th:if="${formmode}=='edit'"
														id="placementshow" style="display: none;"
														name="group_desc"
														class="form-control form-control-sm m-0 w-100">
														<option th:value="${placementProfile?.group_desc}">SELECT</option>
														<option value="BORNFIRE">Bornfire Innovations
															Private Limited</option>
														<option value="TALENT">Talent Takeaways
															Consulting India Pvt Ltd</option>
														<option value="WHITESTONE">Whitestone Software
															Solutions Pvt Ltd</option>
														<option value="NITYO">Nityo Infotech Services
															Private Limited</option>
													</select> <input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.res_group}"
														id="groupDescription" name="res_group"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
											</div>
											<label></label>
											<div class="row formline">
												<label class="col-sm-2" for="employeeId">Employee Id</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="employeeId" value="" name="emp_id"
														class="form-control form-control-sm" autocomplete="off"
														required /> <input th:if="${formmode}=='edit'"
														type="text" th:value="${placementProfile?.emp_id}"
														id="employeeId" name="emp_id"
														class="form-control form-control-sm" autocomplete="off"
														readonly /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.emp_id}"
														id="employeeId" name="emp_id"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="designation">Designation</label>
												<div class="col-sm-3">
													<select th:if="${formmode}=='add'" id="designation"
														name="emp_desig" class="form-control form-control-sm m-0">
														<option value="">SELECT</option>
														<option value="SE">SE - Software Engineer</option>
														<option value="SSE">SSE - Senior Software
															Engineer</option>
														<option value="AN">AN - Analyst</option>
														<option value="BA">BA - Business Analyst</option>
														<option value="TL">TL - Tech Lead</option>
														<option value="PM">PM - Project Manager</option>
														<option value="CON">CON - Consultant</option>
														<option value="PC">PC - Principal Consultant</option>
													</select> <input th:if="${formmode}=='edit'" type="text"
														onclick="desDropdown(this);"
														th:value="${placementProfile?.emp_desig}" id="deshideme"
														class="form-control form-control-sm" autocomplete="off" />
													<select th:if="${formmode}=='edit'" style="display: none"
														id="desshowme" name="emp_desig"
														class="form-control form-control-sm m-0 w-100">
														<option th:value="${placementProfile?.emp_desig}">SELECT</option>
														<option value="SE">SE - Software Engineer</option>
														<option value="SSE">SSE - Senior Software
															Engineer</option>
														<option value="AN">AN - Analyst</option>
														<option value="BA">BA - Business Analyst</option>
														<option value="TL">TL - Tech Lead</option>
														<option value="PM">PM - Project Manager</option>
														<option value="CON">CON - Consultant</option>
														<option value="PC">PC - Principal Consultant</option>
													</select> <input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.emp_desig}" id="designation"
														name="emp_desig" class="form-control form-control-sm"
														autocomplete="off" readonly />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>
											<div class="row formline">
												<label class="col-sm-2" for="employeeName">Employee
													Name</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="employeeName" value="" name="emp_name"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.emp_name}" id="employeeName"
														name="emp_name" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.emp_name}"
														id="employeeName" name="emp_name"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="nickName">Nick Name</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="nickName"
														value="" name="nick_name"
														class="form-control form-control-sm" autocomplete="false" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.nick_name}" id="nickName"
														name="nick_name" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.nick_name}"
														id="nickName" name="nick_name"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="fatherName">
													Father/Spouse Name</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="fatherName" value="" name="father_spouse_name"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.father_spouse_name}"
														id="fatherName" name="father_spouse_name"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.father_spouse_name}"
														id="fatherName" name="father_spouse_name"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="contactNo">Contact No</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="contactNo" value="" name="father_spouse_mobile"
														class="form-control form-control-sm" autocomplete="false" />

													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.father_spouse_mobile}"
														id="contactNo" name="father_spouse_mobile"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.father_spouse_mobile}"
														id="contactNo" name="father_spouse_mobile"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>
											<div class="row formline">
												<label class="col-sm-2" for="dateOfBirth"> Date of
													Birth</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="dateOfBirth" value="" name="date_of_birth"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${#dates.format(placementProfile?.date_of_birth,'dd-MM-yyyy')}"
														id="dateOfBirth" name="date_of_birth"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${#dates.format(placementProfile?.date_of_birth,'dd-MM-yyyy')}"
														id="dateOfBirth" name="date_of_birth"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="dateOfJoin">Date of
													Joining</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="dateOfJoin" value="" name="date_of_joining"
														class="form-control form-control-sm" autocomplete="false" />

													<input th:if="${formmode}=='edit'" type="text"
														th:value="${#dates.format(placementProfile?.date_of_joining,'dd-MM-yyyy')}"
														id="dateOfJoin" name="date_of_joining"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${#dates.format(placementProfile?.date_of_joining,'dd-MM-yyyy')}"
														id="dateOfJoin" name="date_of_joining"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="placementId"> Placement
													Id</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="placementId" value="" name="placement_id"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.placement_id}"
														id="placementId" name="placement_id"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.placement_id}"
														id="placementId" name="placement_id"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="placementFlag">Placement
													Flag</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="placementFlag" value="" name="placement_flg"
														class="form-control form-control-sm" autocomplete="false" />

													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.placement_flg}"
														id="placementFlag" name="placement_flg"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.placement_flg}"
														id="placementFlag" name="placement_flg"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="pfFlag">PF Flag</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="pfFlag"
														value="" name="pf_flg"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.pf_flg}" id="pfFlag"
														name="pf_flg" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.pf_flg}"
														id="pfFlag" name="pf_flg"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="esiFlag">ESI Flag</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="esiFlag"
														value="" name="esi_flg"
														class="form-control form-control-sm" autocomplete="false" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.esi_flg}" id="esiFlag"
														name="esi_flg" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.esi_flg}"
														id="esiFlag" name="esi_flg"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<!-- 		<div class="row formline">
									<label class="col-sm-2" for="bgvFlag">BGV Flag</label>
									<div class="col-sm-3">
										<input th:if="${formmode}=='add'" type="text" id="bgvFlag"
											value="" name="pgv_flg" class="form-control form-control-sm"
											autocomplete="off" /> 
											
											<input th:if="${formmode}=='edit'"
											type="text" th:value="${placementProfile?.pgv_flg}"
											id="bgvFlag" name="pgv_flg"
											class="form-control form-control-sm" autocomplete="off" /> 
											
											<input
											th:if="${formmode}=='view'" type="text"
											th:value="${placementProfile?.pgv_flg}" id="bgvFlag"
											name="pgv_flg" class="form-control form-control-sm"
											autocomplete="off" readonly />
									</div>
									<div class="col-sm-1"></div>
									<label class="col-sm-2" for="ptFlag">PT Flag</label>
									<div class="col-sm-3">
										<input th:if="${formmode}=='add'" type="text" id="ptFlag"
											value="" name="pt_flg" class="form-control form-control-sm"
											autocomplete="false" /> 
											
											<input th:if="${formmode}=='edit'"
											type="text" th:value="${placementProfile?.pt_flg}"
											id="ptFlag" name="pt_flg"
											class="form-control form-control-sm" autocomplete="off" /> 
											
											<input
											th:if="${formmode}=='view'" type="text"
											th:value="${placementProfile?.pt_flg}" id="ptFlag"
											name="pt_flg" class="form-control form-control-sm"
											autocomplete="off" readonly />

									</div>
									<div class="col-sm-1"></div>
								</div>
								<label></label> -->

											<div class="row formline">
												<label class="col-sm-2" for="aadharNo">Aadhar Card
													No</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="aadharNo"
														value="" name="aadhar_card_no"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.aadhar_card_no}"
														id="aadharNo" name="aadhar_card_no"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.aadhar_card_no}"
														id="aadharNo" name="aadhar_card_no"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="pancardNo">PANCARD No</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="pancardNo" value="" name="parncard_no"
														class="form-control form-control-sm" autocomplete="false" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.parncard_no}" id="pancardNo"
														name="parncard_no" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.parncard_no}"
														id="pancardNo" name="parncard_no"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="mobileNo">Mobile No</label>
												<div class="col-sm-3">

													<input th:if="${formmode}=='add'" type="text" id="mobileNo"
														value="" name="mobile_no"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.mobile_no}" id="mobileNo"
														name="mobile_no" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.mobile_no}"
														id="mobileNo" name="mobile_no"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="emailId">Email Id</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="email" id="emailId"
														value="" name="email_id"
														class="form-control form-control-sm" autocomplete="false" />
													<input th:if="${formmode}=='edit'" type="email"
														th:value="${placementProfile?.email_id}" id="emailId"
														name="email_id" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="email" th:value="${placementProfile?.email_id}"
														id="emailId" name="email_id"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="addressOne">Address-1</label>
												<div class="col-sm-3">
													<textarea th:if="${formmode}=='add'" id="addressOne"
														name="addr_1" class="form-control form-control-sm"
														autocomplete="off"></textarea>

													<textarea th:if="${formmode}=='edit'"
														th:value="${placementProfile?.addr_1}" id="addressOne"
														name="addr_1" class="form-control form-control-sm"
														autocomplete="off"></textarea>

													<textarea th:if="${formmode}=='view'"
														th:value="${placementProfile?.addr_1}" id="addressOne"
														name="addr_1" class="form-control form-control-sm"
														autocomplete="off" readonly></textarea>
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="addressTwo">Address-2</label>
												<div class="col-sm-3">
													<textarea th:if="${formmode}=='add'" id="addressTwo"
														name="addr_2" class="form-control form-control-sm"
														autocomplete="off"></textarea>

													<textarea th:if="${formmode}=='edit'"
														th:value="${placementProfile?.addr_2}" id="addressTwo"
														name="addr_2" class="form-control form-control-sm"
														autocomplete="off"></textarea>

													<textarea th:if="${formmode}=='view'"
														th:value="${placementProfile?.addr_2}" id="addressTwo"
														name="addr_2" class="form-control form-control-sm"
														autocomplete="off" readonly></textarea>

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>


											<div class="row formline">
												<label class="col-sm-2" for="city">City</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="city"
														value="" name="city" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='edit'"
														type="text" th:value="${placementProfile?.city}" id="city"
														name="city" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.city}" id="city"
														name="city" class="form-control form-control-sm"
														autocomplete="off" readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="state">State</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="state"
														value="" name="state" class="form-control form-control-sm"
														autocomplete="false" /> <input
														th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.state}" id="state"
														name="state" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.state}"
														id="state" name="state"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="pincode">Pincode</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="pincode"
														value="" name="pincode"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.pincode}" id="pincode"
														name="pincode" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.pincode}"
														id="pincode" name="pincode"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="country">Country</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="country"
														value="" name="country"
														class="form-control form-control-sm" autocomplete="false" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.country}" id="country"
														name="country" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.country}"
														id="country" name="country"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="Qualification">Qualification</label>
												<div class="col-sm-3">
													<select th:if="${formmode}=='add'" id="Qualification"
														name="qualification"
														class="form-control form-control-sm m-0">
														<option value="">SELECT</option>
														<option value="BA">BA</option>
														<option value="BE">BE</option>
														<option value="BTech">BTech</option>
														<option value="BSc">BSc</option>
														<option value="BCA">BCA</option>
														<option value="MSc">MSc</option>
														<option value="MCA">MCA</option>
														<option value="ME">ME</option>
														<option value="Bcom">Bcom</option>
														<option value="Mcom">Mcom</option>
														<option value="MA">MA</option>
														<option value="BBA">BBA</option>
														<option value="MBA">MBA</option>

													</select> <input th:if="${formmode}=='edit'" type="text"
														id="qualificatiohide"
														onclick="qualificationDropdown(this)"
														th:value="${placementProfile?.qualification}"
														class="form-control form-control-sm m-0"
														autocomplete="off" /> <select th:if="${formmode}=='edit'"
														id="qualificatioshow" style="display: none"
														name="qualification"
														class="form-control form-control-sm m-0 w-100">
														<option th:value="${placementProfile?.qualification}">SELECT</option>
														<option value="BA">BA</option>
														<option value="BE">BE</option>
														<option value="BTech">BTech</option>
														<option value="BSc">BSc</option>
														<option value="BCA">BCA</option>
														<option value="MSc">MSc</option>
														<option value="MCA">MCA</option>
														<option value="ME">ME</option>
														<option value="Bcom">Bcom</option>
														<option value="Mcom">Mcom</option>
														<option value="MA">MA</option>
														<option value="BBA">BBA</option>
														<option value="MBA">MBA</option>

													</select> <input th:if="${formmode}=='view'" type="text"
														th:value="${placementProfile?.qualification}"
														id="Qualification" name="qualification"
														class="form-control form-control-sm" autocomplete="off"
														readonly />



												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="experience">Experience</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text"
														id="experience" value="" name="experience"
														class="form-control form-control-sm" autocomplete="false" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.country}" id="experience"
														name="experience" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.experience}"
														id="experience" name="experience"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>

											<div class="row formline">
												<label class="col-sm-2" for="billingDate">Last
													Billing Date</label>
												<div class="col-sm-3">

													<input th:if="${formmode}=='add'" type="text"
														id="billingDate" value="" name="last_billing_date"
														class="form-control form-control-sm" autocomplete="off" />
													<input
														th:value="${#dates.format(placementProfile?.last_billing_date,'dd-MM-yyyy')}"
														th:if="${formmode}=='edit'" type="text" id="billingDate"
														name="last_billing_date"
														class="form-control form-control-sm" autocomplete="off" />
													<input th:if="${formmode}=='view'" type="text"
														th:value="${#dates.format(placementProfile?.last_billing_date,'dd-MM-yyyy')}"
														id="billingDate" name="last_billing_date"
														class="form-control form-control-sm" autocomplete="off"
														readonly />

												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2" for="remarks">Remarks</label>
												<div class="col-sm-3">
													<input th:if="${formmode}=='add'" type="text" id="remarks"
														value="" name="remarks"
														class="form-control form-control-sm" autocomplete="false" />
													<input th:if="${formmode}=='edit'" type="text"
														th:value="${placementProfile?.remarks}" id="remarks"
														name="remarks" class="form-control form-control-sm"
														autocomplete="off" /> <input th:if="${formmode}=='view'"
														type="text" th:value="${placementProfile?.remarks}"
														id="remarks" name="remarks"
														class="form-control form-control-sm" autocomplete="off"
														readonly />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<label></label>
										</div>
									</div>

									<div class="card-footer border-top-0 bg-white d-flex m-auto">
										<button type="button" class="btn btn-xs btn-primary mr-2"
											id="btnHome" onclick="home();">Home</button>

										<div th:if="${formmode}=='add' OR ${formmode}=='edit'">
											<button th:if="${formmode}== 'add'" type="button"
												class="btn btn-xs btn-primary" form="resourceProfile"
												id="btnSubmit" onclick="submitform(this);"
												th:attr="data-formmode=${formmode}">Submit</button>

											<button th:if=" ${formmode}=='edit'" type="button"
												class="btn btn-xs btn-primary" form="resourceProfile"
												id="btnSubmit" onclick="submiteditform(this);"
												th:attr="data-formmode=${formmode}">Submit</button>
										</div>
										<button type="button" class="btn btn-xs btn-primary ml-2"
											id="btnBack" onclick="back();">Back</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>



			</div>

		</div>
	</div>



	<!------------------------Pop window - Domain  list Ends--------------------------------->
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
	<div class="modal fade" id="alert">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="menu-title-header">
					<div class="modal-title" id="exampleModalLabel"
						style="text-align: center; color: white;">CIM FINANCE</div>
				</div>
				<div class="modal-body"
					style="text-align: center; background-color: #c6ccd2">
					<p id="alertmsg" style="font-size: 16px;"></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="back();">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>



