<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>

<style>
.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 4px;
}

#finusertb {
	width: 460px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border: 2px solid skyblue !important;
	border-bottom: unset !important;
	background-color: unset !important;
	color: black !important;
	background-color: unset !important;
}

nav {
	border-bottom: 2px solid grey;
}

.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}
</style>

<script>

$(document).ready(
		function() {
			$('.filterable .btn-filter')
					.click(
							function() {
								var $panel = $(this).parents(
										'.filterable'), $filters = $panel
										.find('.filters input'), $tbody = $panel
										.find('.table tbody');
								if ($filters.prop('disabled') == true) {
									$filters
											.prop('disabled', false);
									$filters.first().focus();
								} else {
									$filters.val('').prop(
											'disabled', true);
									$tbody.find('.no-result')
											.remove();
									$tbody.find('tr').show();
								}
							});

			$('.filterable .filters input')
					.keyup(
							function(e) {
								/* Ignore tab key */
								var code = e.keyCode || e.which;
								if (code == '9')
									return;
								/* Useful DOM data and selectors */
								var $input = $(this), inputContent = $input
										.val().toLowerCase(), $panel = $input
										.parents('.filterable'), column = $panel
										.find('.filters th')
										.index($input.parents('th')), $table = $panel
										.find('.table'), $rows = $table
										.find('tbody tr');
								/* Dirtiest filter function ever ;)  */
								var $filteredRows = $rows
										.filter(function() {
											var value = $(this)
													.find('td').eq(
															column)
													.text()
													.toLowerCase();
											return value
													.indexOf(inputContent) === -1;
										});
								/* Clean previous no-result if exist */
								$table.find('tbody .no-result')
										.remove();
								/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
								$rows.show();
								$filteredRows.hide();
								/* Prepend no-result row if all rows are filtered */
								if ($filteredRows.length === $rows.length) {
									$table
											.find('tbody')
											.prepend(
													$('<tr class="no-result text-center"><td colspan="'
															+ $table
																	.find('.filters th').length
															+ '">No result found</td></tr>'));
								}
							});
		});

</script>
<script th:inline="javascript">
	/*<![CDATA[*/

		
	function mail() {
		
		 	var a = document.getElementById("sp1").value;
		    var b = document.getElementById("fromdate1").value;
		    var c = document.getElementById("todate1").value;
		    
		   // alert(a + b + c);
		    
		    var d = b.split("-");
		    var e = d[1].substring(0, 3);
		    var capitalizedMonth = capitalizeWords(e);
		   // alert(capitalizedMonth.toUpperCase());
		    var date=d[0]+"-"+capitalizedMonth.toUpperCase()+"-"+d[2];
		    
		    var d1 = c.split("-");
		    var e1 = d1[1].substring(0, 3);
		    var capitalizedMonth1 = capitalizeWords(e1);
		   // alert(capitalizedMonth1.toUpperCase());
		    var date1=d1[0]+"-"+capitalizedMonth1.toUpperCase()+"-"+d1[2];
			//alert("Hlo")
			
			$.ajax({
			    url: './Spsendingmail', // The URL to which you're sending the request
			    type: 'POST',
			    data: {
			        sp: a,                 // Parameter 'sp' with value 'a'
			        inv_due_date: date,    // Parameter 'inv_due_date' with value 'date'
			        inv_date: date1        // Parameter 'inv_date' with value 'date1'
			    },
			    success: function(data) {
			        alert("Sent Successfully");
			    }
			});
	}
	
	
	$(function() {

		var finusers = /*[[${FinUserProfiles}]]*/null;

		console.log(finusers);

		$("#usertable,#finusertb").DataTable({
			"info" : false,
			"lengthChange" : false

		});

		$("#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
				.datepicker({
					minDate : new Date(),
					changeMonth : true,
					changeYear : true,
					dateFormat : "dd-mm-yy"
				});

	});
	
	$(function() {
		$("#fromdate,#todate")
		.datepicker({
			dateFormat : "dd-MM-yy",
			changeMonth : true,
			numberOfMonths : 1,
			gotoCurrent : true,
			yearRange : '-80:+1000'

		});
	});

	function getUserlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);
		var Callurl = 'UserProfile?formmode=list';

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		location.href = Callurl;
	}

	function finuser(a) {

		$
				.ajax({
					type : 'get',
					url : './Finuserdata?userid=' + a.id,

					success : function(data) {

						/*<![CDATA[*/

						$('.finuserapply').html(data);

						$(
								"#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
								.datepicker({
									changeMonth : true,
									changeYear : true,
									dateFormat : "dd-mm-yy"
								});

						/*]]>*/

						$("#finusers").modal("hide");
					}

				})

	}
	
	function dropdown(){

		    const dropdown1 = document.getElementById('sp');
		    const invDueDateSpan = document.getElementById('inv_due_date');
		    const invDateSpan = document.getElementById('inv_date');

		    const selectedValue = dropdown1.value;

		    invDueDateSpan.textContent = `Record No: ${selectedValue}`;
		    invDateSpan.textContent = `Record No: ${selectedValue}`;
	}

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}

	function fnClick(a) {
		var userid = a.getAttribute("data-userid")
		location.href = 'UserProfile?formmode=edit&userid=' + userid
	}

	function adduser(a) {
		location.href = 'UserProfile?formmode=add';
	}

	function list() {
		location.href = 'UserProfile?formmode=list';
	}
	
	function capitalizeWords(inputString) {
	    return inputString.replace(/\b\w/g, char => char.toUpperCase());
	}
	
	function nav() {
	    var a = document.getElementById("sp").value;
	    var b = document.getElementById("fromdate").value;
	    var c = document.getElementById("todate").value;
	    
	  //  alert(a + b + c);
	    
	    var d = b.split("-");
	    var e = d[1].substring(0, 3);
	    var capitalizedMonth = capitalizeWords(e);
	   // alert(capitalizedMonth.toUpperCase());
	    var date=d[0]+"-"+capitalizedMonth.toUpperCase()+"-"+d[2];
	    
	    var d1 = c.split("-");
	    var e1 = d1[1].substring(0, 3);
	    var capitalizedMonth1 = capitalizeWords(e1);
	   // alert(capitalizedMonth1.toUpperCase());
	    var date1=d1[0]+"-"+capitalizedMonth1.toUpperCase()+"-"+d1[2];
	    
	    location.href = 'spinvoices?formmode=table&sp=' + a + '&inv_due_date=' + date + '&inv_date=' + date1;
	}

	function verify(a) {

		var entryuser = a.getAttribute("data-entry_user");
		var modifyuser = a.getAttribute("data-modify_user");

		var loginuser = /*[[${session.USERID}]]*/null;

		if ((modifyuser != null && modifyuser == loginuser)
				|| (modifyuser == null && entryuser == loginuser)) {

			$("#alertmsg").text("Same user cannot verify");

			$('#alert').modal("toggle");

		} else {

			if ($("#userProfile").valid()) {

				var userid = a.getAttribute("data-userid");
				var url = './verifyUser';
				$("#userProfile").attr('action', url);

				var options = {
					success : showResponse
				// post-submit callback 
				};

				$('#userProfile').ajaxSubmit(options);

				function showResponse(responseText, statusText, xhr, $form) {

					$("#alertmsg").text(responseText);

					$('#alert').modal("toggle");

				}
				;

			}

		}

	};

	function passwordReset() {

		var url = './passwordReset';
		$("#userProfile").attr('action', url);

		var options = {
			success : showResponse
		// post-submit callback 
		};

		$('#userProfile').ajaxSubmit(options);

		function showResponse(responseText, statusText, xhr, $form) {

			$("#alertmsg").text(responseText);

			$('#alert').modal("toggle");

		}
		;
	};

	function roledesc() {

		var roleid = $("#roleId").find(':selected').val();

		if (roleid == 'ADM') {
			$("#roleDesc").val("Admin");
		} else if (roleid == 'ADT') {
			$("#roleDesc").val("Audit");
		} else if (roleid == 'GEN') {
			$("#roleDesc").val("General User");
		} else if (roleid == 'RECONADM') {
			$("#roleDesc").val("Admin");
		} else if (roleid == 'RECONGEN') {
			$("#roleDesc").val("General User");
		}
		$(this).find(':selected').text();

	}

	function submitform() {

		//Creating Validating Rules
		$('#userProfile').validate({
			messages : {
				userid : "Please Provide User Id"
			}
		});

		if ($("#userProfile").valid()) {

			var formmode = /*[[${formmode}]]*/null;

			var url = "./createUser?formmode=" + formmode;

			$("#userProfile").attr('action', url);

			var options = {
				success : showResponse
			// post-submit callback 
			};

			$("#userProfile").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

			}
			;

		}

	};
	$(function() {

	$("#dailyDate").datepicker({
		changeMonth : true,
		changeYear : true,
		maxDate : new Date(),
		dateFormat : "dd-M-y",
        viewMode: "months",
	});
	  $("#dailyDate").datepicker("setDate", "1");

}); 
	$(document).ready(
  		  
  		  /* This is the function that will get executed after the DOM is fully loaded */
  		  function () {
  			 var y = (new Date()).getFullYear();
  			$('#year').append('<option selected value="' + y + '">' + y + '</option>');
  		  })
	/*]]>*/
</script>
<script>
	function submitdata() {
		var domainids = [];
		$.each($("input[name='dom']:checked"), function() {
			domainids.push($(this).val());
		});
		$("#getDomain").modal('hide');
		$("#domainId").val(domainids.join(","));
	}
	$(document).ready(
		  
		  /* This is the function that will get executed after the DOM is fully loaded */
		  function () {
		  
		
		   $("#attendanceType").change(function() {
		    	if($("#attendanceType").val()=="Daily" ){
		    		$("#associateName").attr("disabled", true);
		    		
		    		$("#monthYear").attr("disabled", true);
		    		
		    		$("#year").attr("disabled", true);
		    		
		    		$("#btngenerate").click(function(){
		    		    
		    		  
		    		    var e = document.getElementById("dailyDate");
		    		    var h = document.getElementById("reportType");
		    		    var date = e.value;
		    		    var report_type=h.value;
		    		    location.href = './AttendanceRegisterDailyReport?'+'&login_time='+date+'&report_type='+report_type;
		
		    });
		    		
		    		
		    		
		    		
		    		
		    		
		    		
		    	}else if($("#attendanceType").val()=="Associate" ){
		    		
		    		$("#dailyDate").attr("disabled", true);
		    		$("#associateName").attr("disabled", false);
		    		$("#monthYear").attr("disabled", false);
		    		
		    		
$("#btngenerate").click(function(){
		    		    
		    		    var e = document.getElementById("associateName");
	var f = document.getElementById("monthYear");
	var g = document.getElementById("year");
	var h = document.getElementById("reportType");
var emp_id = e.value;
var cal_month = f.value;
var cal_year = g.value;
var report_type = h.value;
		
			location.href = './AttendanceReportDownload?'+'&emp_id='+emp_id+'&cal_month='+cal_month+'&cal_year='+cal_year+'&report_type='+report_type;
		    		    
		    });
		    		
		    		
		    		
		    		
		    		
		    	}
		    	
		    	
		    	
		    	
else if($("#attendanceType").val()=="Monthly" ){
		    		
		    		$("#dailyDate").attr("disabled", true);
		    		$("#associateName").attr("disabled", true);
		    		$("#monthYear").attr("disabled", false);
		    		$("#year").attr("disabled", false);
		    		var selectobject=document.getElementById("associateName")
		    		  for (var i=0; i<selectobject.length; i++){
		    		  if (selectobject.options[i].value == 'All' )
		    		     selectobject.remove(i);
		    		  }
		    		
$("#btngenerate").click(function(){
		    		    
		    		    var f = document.getElementById("monthYear");
	var g = document.getElementById("year");
	var h = document.getElementById("reportType");
var cal_month = f.value;
var cal_year = g.value;
var report_type=h.value;

		
			location.href = './AttendanceRegisterMonthReport?'+'&cal_month='+cal_month+'&cal_year='+cal_year+'&report_type='+report_type;
		    
		    	
		    		    
		    });
		    		
		    		
		    		
		    		
		    		
		    	}
		    	
		    	
		    });  
		   

		  
		  });
	//function Generate(a) {
	
	var e = document.getElementById("associateName");
	var f = document.getElementById("monthYear");
	var g = document.getElementById("year");
	var h = document.getElementById("reportType");
var emp_id = e.value;
var cal_month = f.value;
var cal_year = g.value;
var report_type=h.value;
		
			location.href = './AttendanceReportDownload?'+'&emp_id=' + emp_id+ '&cal_month=' + cal_month+ '&cal_year=' + cal_year+'&report_type='+report_type;
		
	
</script>

</head>
<title>ERP</title>
<body>
	<div th:insert="BTMHeaderMenu :: header"></div>

	<!---------------------User List Ends--------------------------------------------------------->
	<!---------------------User Edit form Starts-------------------------------------------------->
	<div class="container content">
		<div class="row" th:if="${formmode}=='list'">
			<form action="#" method="post" autocomplete="off" style="width: 100%">
				<div class="card">
					<div class="card-header"style="background-color:#BBC3CB;">
						<h4>Service Provider</h4>
					</div>
					<div class="card-body p-0 mt-3">
						<div class="panel-heading text-center">
							
							
							
							<div class="form-group ">
								<div class="row">
									
									<div class="col-sm-3">
										<label class="">From Date </label>
									</div>
									<div class="col-sm-3">
										<input type="text" id="fromdate" value=""
											class="form-control form-control-sm">
									</div>
									<div class="col-sm-2">
										<label class="">To Date </label>
									</div>
									<div class="col-sm-3">
										<input type="text" id="todate" value=""
											class="form-control form-control-sm" onclick="dropdown()">
									</div>
									<div class="col-sm-2"></div>
								</div>
							</div>
							<div class="form-group ">
								<div class="row">
									
									<div class="col-sm-3">
										<label class="">Service Provider</label>
									</div>
									<div class="col-sm-3">
										<select name="sp" id="sp"
											class="form-control form-control-sm" required>
											<option value=""disabled selected>Select</option>
											<option value="WHITESTONE">WHITESTONE</option>
											<option value="ASOFT">ASOFT</option>
											<option value="STACKPOS">STACKPOS</option>
											<option value="OMSYS">OMSYS</option>
											
											
										</select>
									</div>
									<div class="col-sm-3"></div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="card-footer text-center"style="background-color:#BBC3CB;">
						<button type="button" class="btn btn-primary" id="btnHome" onclick="home();">Home</button>
						<button type="button" class="btn btn-primary" id="navsubmit" onclick="nav()">Submit</button>
						<button type="button" class="btn btn-primary" id="btnBack"onclick="back();">Back</button>
					</div>
				</div>
			</form>
		</div>
		<!--<div class="panel-body mt-4">
			<div class="p-3" style="background: #dddddd;">
				<div class="row form-group mb-0">

					<label>Entry user:</label>

					<div class="col-sm-2">
						<input type="text" id="entry_user" name="entry_user"
							th:value="${session.USERID}" class="form-control form-control-sm"
							style="font-size: 1rem;" autocomplete="off" readonly />
					</div>
					<div class="col-sm-2">
						<label>Modify user:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="modify_user" name="modify_user"
							th:value="${session.USERID}" value="" style="font-size: 1rem;"
							class="form-control form-control-sm" autocomplete="off" readonly />
					</div>

					<div class="col-sm-2">
						<label>Verify user:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="verify_user" name="verify_user"
							th:value="${session.USERID}" value=""
							class="form-control form-control-sm" style="font-size: 1rem;"
							autocomplete="off" readonly />
					</div>

				</div>

				<br>
				<div class="row formline">

					<label>Entry Date:</label>

					<div class="col-sm-2">
						<input type="text" id="entry_time" name="entry_date"
							th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
							class="form-control form-control-sm" autocomplete="off"
							style="font-size: 1rem;" readonly />
					</div>

					<div class="col-sm-2">
						<label>Modify Date:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="modify_time" name="modify_date"
							th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
							class="form-control form-control-sm" autocomplete="off"
							style="font-size: 1rem;" readonly />
					</div>

					<div class="col-sm-2">
						<label>Verify Date:</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="verify_time" name="verify_date"
							th:value="${#calendars.format(#calendars.createNow(), 'dd-MM-yyyy HH:mm')}"
							class="form-control form-control-sm" autocomplete="off"
							style="font-size: 1rem;" readonly />
					</div>
				</div>
				<div class="" align="right">
					Status : <font color="green">Active</font>
				</div>
			</div>
		</div>-->
		<!--<div class="panel-body mt-4">
			<div class="p-2" style="background: #dddddd;">
				<div class="row form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Entry User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Modify User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Verify User :</label> <font>BFI0070</font>
					</div>
					<div class="col-sm-2"></div>
				</div>
				<div class="row form-group mb-0">
					<div class="col-sm-2"></div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Entry Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Modify Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-3" style="font-size: 12px">
						<label>Verify Date :</label> <font>10-08-2021 11:20:26</font>
					</div>
					<div class="col-sm-2"></div>

				</div>
			</div>
			<div class="" align="right">
				Status : <font color="green">Active</font>
			</div>
			<br>
		</div>-->
	</div>
	
	
	<div th:if="${formmode}=='table'" class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-10">

				<div class="container-fluid">
					<div class="row" >
						<div class="col-sm-11">
							<div class="container-fluid content">
								<div class="row">

									<div class="card w-100">
										<div class="panel panel-primary filterable" th:object="${fuc}">
											<div class="card-header d-flex justify-content-between" style="background-color:#BBC3CB;" >
												<h3>LIST OF SP</h3>
												<button class="btn text-white btn-filter btn-primary">Filter</button>
											</div>

											<div class="card-body p-0">
												<div class="table-responsive">
												
													<table class="table">
														<thead>
															<tr class="filters">

																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="PO No" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="Employee Name" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="Employee Id" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="GRN No" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold" placeholder="GRN Date"
																	disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="PO Month" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="Efforts" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="SP Rate" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="SP Amount" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="SP SGST" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="SP CGST" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="SP IGST" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="SP TOT GST" disabled></th>
																<th><input type="text"
																	class="form-control font-weight-bold"
																	placeholder="SP Total Amount" disabled></th>
																
															</tr>
														</thead>

														<tbody id="associatemonthly">
															<tr th:each="sp : ${splist}">

																
																<td th:text="${sp?.po_no}"></td>
																<td th:text="${sp?.emp_name}"></td>
																<td th:text="${sp?.emp_id}"></td>
																<td th:text="${sp?.grn_no}"></td>
																<td
																	th:text="${#dates.format(sp?.grn_date,'dd-MM-yyyy')}"></td>
																<td th:text="${sp?.po_month}"></td>
																<td th:text="${sp?.grn_efforts}"></td>
																<td th:text="${sp?.sp_rate}"></td>
																<td th:text="${sp?.sp_inv_amt}"></td>
																<td th:text="${sp?.sp_inv_sgst}"></td>
																<td th:text="${sp?.sp_inv_cgst}"></td>
																<td th:text="${sp?.sp_inv_igst}"></td>
																<td th:text="${sp?.sp_inv_tot_gst}"></td>
																<td th:text="${sp?.sp_inv_tot_amt}"></td>
																
																

															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="card-footer text-center">
											<input type="hidden" id="sp1" value="" th:value="${fuc}" 
											class="form-control form-control-sm">
											<input type="hidden" id="fromdate1" value="" th:value="${fuc1}"
											class="form-control form-control-sm">
											<input type="hidden" id="todate1" value="" th:value="${fuc2}"
											class="form-control form-control-sm">
												<button type="button" class="btn btn-primary" id="btnHome"
													th:onclick="home()">Home</button>
												<button class="btn btn-xs btn-primary"
												onclick="mail(this);" id="btnHome">Send Mail</button>
												<button type="button" class="btn btn-primary" id="btnBack"
													th:onclick="back()">Back</button>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</body>
</html>