<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:fragment="header"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">


<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>


<link rel="stylesheet" type="text/css"
	href="webjars/chartjs/2.8.0/Chart.min.css"
	th:href="@{webjars/chartjs/2.8.0/Chart.min.css}">
<script src="webjars/chartjs/2.8.0/Chart.min.js"
	th:src="@{webjars/chartjs/2.8.0/Chart.min.js}"></script>

<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<link
	href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700"
	rel="stylesheet">
<link rel="stylesheet" href="css/spur.css">


<title>ERP</title>

<style type="text/css">
.dash-nav-item {
	min-height: 20px;
	padding: 8px 10px 8px 8px;
	letter-spacing: .01em;
}

.dash-nav-dropdown-item {
	min-height: 10px;
	padding: 8px 10px 8px 10px;
}

td {
	background-color: #f8f7ff;
}

.dash-toolbar {
	min-height: 60px;
	background-color: #FFF;
}

.dash-nav.dash-nav-dark {
	background-color: #525252;
}

.img-container {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle
}

.dash-app {
	margin-left: 380px ! important;
	margin-top: 110px;
	margin-right: 110px;
}

.card-title {
	margin-bottom: 0.25rem;
}

.card-header {
	padding: 0.25rem 0.25rem;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
	margin: 20dp
}

.stats-secondary {
	color: #fff;
}

.menu-title-header {
	padding: 0.45rem 0.45rem;
	background: #727F94;
	color: #fff;
	font-family: "Nunito", sans-serif;
}

.spur-card-title {
	font-family: "Nunito", sans-serif;
	font-size: 25px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	/* padding: 0.5em 1em; */
	margin-left: 2px;
	font-size: 15px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	*cursor: hand;
	color: #d03535 !important;
	border-radius: 2px;
	height: 30px;
	text-align: center;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate
	{
	float: center;
	font-size: 15px;
	text-align: center;
	margin-left: 10px;
}

.table.dataTable thead th, table.dataTable thead td {
	padding: 10px 10px;
	font-weight: bold;
}

thead th {
	text-align: center;
	color: black !important;
	border-bottom-width: 2px;
	font-size: medium ! important;
}
</style>
</head>

<style>
.spur-card-title {
	font-family: "Nunito", sans-serif;
	font-size: 25px;
}
</style>

<style type="text/css">
.navbar {
    margin-left: -5px;
    position: fixed; /* Keep it fixed */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}
.content {
    margin-top: 151px ! important; /* Push content down to avoid overlap */
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-top:1px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-manager {
	padding-right: 47px;
	padding-left: 132px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -22px;
}
</style>

<style>
		.custom-modal-width {
			width: 90%;
			max-width: 1200px;
		}
	</style>
<script type="text/javascript">
$(document).ready(function () {
    $('.dropdown, .dropdown-submenu').hover(function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
    }, function () {
        $(this).children('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
    });
});
</script>

<script>
$(document).ready(function () {
    $('#dataTables').DataTable({
        "pageLength": 20,        // Set the number of rows per page
        "lengthChange": false,   // Hide the dropdown for changing rows per page
        "ordering": false,       // Disable column sorting
        "searching": true,       // Enable global search
        "info": true,            // Show table information
        "pagingType": "simple_numbers", // Pagination with only numbers

        // Customizing DOM structure to place search box at the top left

        "dom": '<"top"f>rt<"bottom"ip><"clear">'
    });

    // Remove the "Search:" label and add a placeholder to the search input
    $('.dataTables_filter label').contents().filter(function () {
        return this.nodeType === Node.TEXT_NODE;
    }).remove(); // Remove the text node containing "Search:"

    // Add a placeholder to the input field
    $('.dataTables_filter input')
        .attr('placeholder', 'Search...')
        .css('margin-left', '0'); // Adjust margin since the label is removed

    // Align the search box to the left corner
    $('.dataTables_filter').css({
        "float": "left",
        "text-align": "left"
    });
});



</script>
<script>
    function searchTable(tableId, searchInputId) {
    var input = $('#' + searchInputId).val().toUpperCase();
    var $table = $('#' + tableId + ' tbody');
    var rows = $table.find('tr');

    rows.each(function () {
        var cells = $(this).find('td');
        var found = false;

        cells.each(function () {
            if ($(this).text().toUpperCase().indexOf(input) > -1) {
                found = true;
                return false; // Exit loop early
            }
        });

        if (found) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
}
    
function viewprocess(a){
    var process_id=a.getAttribute('data-process');
    location.href='./tskValidation?formmode=add&process_id='+process_id ;
    }
    
function returnqnt(event) {
    event.preventDefault();

   
    var processid = document.getElementById('processid').value;
    //var units = document.getElementById('outunits').value;
    var Actualghee = document.getElementById('Actualghee').value;
    var Actualkasadu = document.getElementById('Actualkasadu').value;
    var differghee = document.getElementById('differghee').value;
    var differkasadu = document.getElementById('differkasadu').value;
    

    
    if (Actualghee && Actualkasadu) {
      
        alert(processid);

        // Perform AJAX request
        $.ajax({
            url: "./TskValidationadd",
            type: 'POST',
            data: {
                processid: processid,
                returnquantity: Actualghee,
                actualkasadu:Actualkasadu,
                differghee:differghee,
                differkasadu:differkasadu,
                units:'kg'
            },
            success: function(res) {
                alert(res); 
                location.href = './tskValidation'; 
            },
            error: function(err) {
                alert("An error occurred: " + err.responseText || "Unknown error.");
            }
        });
    } else {
        // 
        alert("Please fill in both Return Qty and Return Unit.");
    }
}

function home(event) {

	event.preventDefault();
	location.href = './Dashboard'; 
}

function back(event) {

	event.preventDefault();
	window.history.back();
}

</script>


    
    <script type="text/javascript">
    function select_branch() {
        const branchId = document.getElementById('branchId').value;

        $.ajax({
            url: './getbranch_val?branchId=' + branchId,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                const tableBody = document.getElementById('dataTablesBody');
                tableBody.innerHTML = ''; // Clear existing data

                if (response.length === 0) {
                    tableBody.innerHTML = '<tr><td colspan="8" style="text-align: center; color: red;">No records found.</td></tr>';
                } else {
                	response.forEach(process => {
                	    // Convert kilograms to number safely
                	    let kilograms = parseFloat(process.kilograms) || 0;  // Default to 0 if null/undefined

                	    let row = `<tr>
                	        <td style="text-align: center;">${process.processId}</td>
                	        <td style="text-align: left;">${process.bomid}</td>
                	        <td style="text-align: left;">${process.makingproductName}</td>
                	        <td style="text-align: right;">${kilograms.toFixed(3)}</td>
                	        <td style="text-align: left;">${process.units}</td>
                	        <td style="text-align: left;">${process.processStartDate}</td>
                	        <td style="text-align: left;">${process.status}</td>
                	        <td style="text-align: center;">
                	            <input type="radio" data-process="${process.processId}" onclick="viewprocess(this);">
                	        </td>
                	    </tr>`;
                	    
                	    tableBody.innerHTML += row;
                	});

                }
            },
            error: function(xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }


    function totalgheecalculation(){
    	var GheeReceived=document.getElementById('GheeReceived').value;
    	var KasaduReceived=document.getElementById('KasaduReceived').value;
    	var Actualkasadu=document.getElementById('Actualkasadu').value;
    	var Actualghee=document.getElementById('Actualghee').value;
    	
    	var differghee=document.getElementById('differghee');
    	var differkasadu=document.getElementById('differkasadu');
    	var totalghee=0;
    	var totalkasadu=0;
    	totalghee=Actualghee-GheeReceived;
    	totalkasadu=Actualkasadu-KasaduReceived;
    	differghee.value=totalghee.toFixed(2);
    	differkasadu.value=totalkasadu.toFixed(2);
    	
    	
    }
    
    function unitconvert(){
    	$('#basesunits').modal('show');
    	
    }
    
    function closechange(event) {

    	event.preventDefault();
    	$('#basesunits').modal('hide');
    	
    }
    
    
    
    function getprice(input){
		
		

		 const row = input.closest('tr');
		 
		var batch= row.querySelector('select[name="batch"]').value;
		//alert(batch)
		

		 
		 batchlist.forEach(function(mufun) {
			 
		
			
			 
			 if(batch == mufun.batch ||batch==mufun.processId ||batch==mufun.fgId){
				 
			
				 
				 //row.querySelector('input[name="price"]').value= mufun.price || '';
				 row.querySelector('input[name="stock_qty"]').value= mufun.useingqty ||mufun.useingquantity ||mufun.usingQuantity||'';

				 
				 
			 }
			 
		 });
		 
			 
	}

    
	let batchlist =[];
    
    function product_name_typeFunction1(input) {
        const row = input.closest('tr');
       
        const productName = input.value;
      
        
        var itemsplit =productName.split('-');
        var splitfinal=itemsplit[0];
        alert(splitfinal)
        const tableRows = document.querySelectorAll('#dataTables tbody tr');
        
        $.ajax({
		        url: "./getitemdetails1?itemCode=" + encodeURIComponent(splitfinal),
		        type: 'GET',
		        dataType: "json",
		        success: function(response) {
		        	var item = response[0]; 
	                  row.querySelector('input[name="baseunit1"]').value= item.secondaryunit || '';
	                  row.querySelector('input[name="Conversion"]').value= item.conversion || '';    
	                  
		        }
        });
      

        $.ajax({
            url: "./getbatch_price?itemCode=" + encodeURIComponent(splitfinal),
            type: 'GET',
            dataType: "json",
            success: function(response) {
            
            	
            	console.log("myresponseeee" +response);
            	
            	  var selectElement = row.querySelector('select[name="batch"]'); // Reference the select element
                  selectElement.innerHTML = ''; // Clear existing options
                  var defaultOption = document.createElement('option');
                  defaultOption.value = '';
                  defaultOption.text = 'Select a batch';
                  selectElement.appendChild(defaultOption);        	
            	  if (response && response.length > 0) {
                      
            		
                      
                      
            		  const batchSet = new Set(); 

            		  response.forEach(function(batch) {
            			  
            		      const values = Object.values(batch);
            		      console.log(values);
            		      
            		      for (let m = 0; m < tableRows.length; m++) {
            		    	    const rows = tableRows[m];

            		    	    var batchSelect = rows.querySelector('select[name="batch"]');
            		    	    var itemCodeInput = rows.querySelector('input[name="itemCode1"]');
            		    	    

            		    	    // Check if both elements exist before accessing `.value`
            		    	    if (batchSelect && itemCodeInput) {
            		    	        var batchrow = batchSelect.value;
            		    	        var itemCoderow = itemCodeInput.value;
            		    	        
            		    	        batchSet.add(batchrow);
            		    	    } else {
            		    	        console.warn("Missing batch or itemCode1 element in row", rows);
            		    	    }
            		    	}

            		      
            		      if (batch.batch !== null && batch.useingqty > 0) {
    		                  if (!batchSet.has(batch.batch)) {         		                      
    		                      batchlist.push(batch);        		                      
    		                      var option = document.createElement('option');
    		                      option.value = batch.batch || ''; 
    		                      option.text = batch.batch || '-'; 
    		                      selectElement.appendChild(option); 
    		                  }
    		              }
            		  });
				
                      
                      console.log("patchlist" +batchlist);
                      
                     
                      } 
          
            }
        });
    }

    </script>



<script>
document.addEventListener('DOMContentLoaded', function () {
    // Table 1
    const tableBody1 = document.getElementById('dataTables').querySelector('tbody');
   

    // Function to add a new row for Table 1
    function addRowToTable1() {
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
        
        	<td style="text-align: center;"><input type="text" name="itemCode1" onchange="product_name_typeFunction1(this)" id="itemCode1" style="text-align: center; " list="pronameList">
			<input type="hidden" name="baseunit1" id="baseunit1" style="text-align: center; ">
			<input type="hidden" name="Conversion" id="Conversion"style="text-align: center; ">
			</td>								
			
			<td style="text-align: center;"><select style="text-align: center;" onchange="getprice(this);" name="batch">
					<option>Select</option>
				</select>
			</td>	

			<td style="text-align: center;"><input type="text" name="stock_qty" id="stock_qty" style="text-align: center; "></td>
			
			<td style="text-align: center;"><input type="text" name="quantity" id="quantity" style="text-align: center; "></td>	
            
			<td style="text-align: center;">
				    <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
				        <span class="add-btnn" style="cursor: pointer; font-size: 20px; color: green;">
				            <i class="fas fa-plus add-btnn"></i>
				        </span>
				        
				        <span class="remove-btnn" style="cursor: pointer; font-size: 20px; color: red;">
				            <i class="fas fa-trash remove-btnn"></i>
				        </span>
				    </div>
			</td>	
									
        `;
        
        tableBody1.appendChild(newRow);
        
    }
		
  

    // Function to update SRL No. for a table
    function updateSerialNumbers(tableBody) {
        const rows = tableBody.querySelectorAll('tr');
        rows.forEach((row, index) => {
            row.querySelector('.srl-no').textContent = index + 1; // Update SRL No.
        });
    }

    
   /*  ---table1 */
    tableBody1.addEventListener('click', function (event) {
        if (event.target.classList.contains('add-btnn')) {
            addRowToTable1();
        }
    });
    
    

    // Add event listener for removing a row in Table 1
    tableBody1.addEventListener('click', function (event) {
        if (event.target.classList.contains('remove-btnn')) {
            event.target.closest('tr').remove();
            updateSerialNumbers(tableBody1);// Update SRL No. after removing a row
            totalgheekasadu();
        }
    });

    });

</script>

<script>
function calculationltr(){
	
	const tableRows = document.querySelectorAll('#dataTables tbody tr');
	
	for (let n = 0; n < tableRows.length; n++) {
		
		 const rows = tableRows[n];

 	    var batchSelect = rows.querySelector('select[name="batch"]');
 	    var itemCodeInput = rows.querySelector('input[name="itemCode1"]');
 	   var baseunit1 = rows.querySelector('input[name="baseunit1"]');
 	  var quantity = rows.querySelector('input[name="quantity"]');
 	  var Conversion = rows.querySelector('input[name="Conversion"]');
 	 
 	   var totalkg=0;
 	   var totalltr=0;
 	    
 	    if (batchSelect || baseunit1 || itemCodeInput || quantity) {
 	    	//alert(baseunit1.value)
 	    	if(baseunit1.value=='LITRES'){
 	    		var totalltr=Conversion.value*quantity.value
 	    		totalkg=totalltr*0.910;
 	    		
 	    	}
 	    	else if(baseunit1.value=='MILILITRE'){
 	    		var totallml=Conversion.value*quantity.value/1000
 	    		totalkg=totallml*0.910;
 	    	}
 	    	
 	    	else if(baseunit1.value=='KILOGRAMS'){
 	    		totalkg=quantity.value;
 	    	}
 	    	
 	    	document.getElementById('Actualghee').value = totalkg.toFixed(2);
 	    	$('#basesunits').modal('hide');
 	    	
 	    }

 	    
		
	}
	
	
	
}



</script>




    
    
    

<body>

	<div class="container-fluid">

		<div class="row">
			<!-- sideMenu -->

			<div class="col-lg-2">
				<div th:insert="BTMHeaderMenu :: header"></div>
			</div>
			<div class="col-sm-12">
				<!-- ------history--- -->
				
				
				
				
				<div class=" modal fade" id="basesunits">
					<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width">
						<div class="modal-content" style="width: 90%;">
								<div
									class="card-header d-flex justify-content-between align-items-center"
									style="font-family: 'Nunito', sans-serif; font-size: 1.5rem; font-weight: bold; color: black;">
									<div>
										<i class="fas fa-user-plus mr-2"></i>Return Item
									</div>
									
								</div>
								<div class="modal-body">
									<table id="dataTables"
															class="table table-bordered">
															<thead>
																<tr>
																	<th>Item</th>
																	<th>Batch</th>
																	<th>Stock</th>
																	<th>Quantity</th>
																	<th>Action</th>
																	
																	
																

																</tr>
															</thead>
															<tbody id="dataTablesBody">
																<tr>
																	<tr>
																	<td style="text-align: center;"><input type="text"
																		name="itemCode1"
																		onchange="product_name_typeFunction1(this)"
																		id="itemCode1"
																		style="text-align: center; "
																		list="pronameList">
																		<datalist id="pronameList">
							
																			<option th:each="operator : ${packmaterial}"
																				th:value="${operator.itemCode +'-' + operator.itemName }"
																				th:text="${operator.itemCode + '-' + operator.itemName}"></option>
																		</datalist> 
																		<input type="hidden" name="baseunit1"
																		id="baseunit1"
																		style="text-align: center; ">
																		
																		<input type="hidden" name="Conversion"
																		id="Conversion"
																		style="text-align: center; ">
																		
																		
																		
																		</td>
																		
																				
																		
																	<td style="text-align: center;">	
																	<select style="text-align: center;" onchange="getprice(this);" name="batch">
																	<option>Select</option>
																	</select>
																	</td>	
	
																	<td style="text-align: center;"><input type="text" name="stock_qty"
																		id="stock_qty"
																		style="text-align: center; "></td>
																		
																	<td style="text-align: center;"><input type="text" name="quantity"
																		id="quantity"
																		style="text-align: center; "></td>	
																	
																	<td style="text-align: center;">
																	    <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
																	        <!-- Plus icon -->
																	        <span class="add-btnn" style="cursor: pointer; font-size: 20px; color: green;">
																	            <i class="fas fa-plus add-btnn"></i>
																	        </span>
																	        
														
																	    </div>
																	</td>	
																	
																	
													
																</tr>
															</tbody>
														</table>
									<div class="card-footer text-center"
										style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600;">
										<button class="btn btn-xs btn-dark" type="button"
											id="Dashboard" onclick="calculationltr()">Submit</button>


										<button class="btn btn-xs btn-dark" id="btnback"
											onclick="closechange(event);">Close</button>
									</div>

								</div>
						</div>
					</div>
				</div>


				<div class="container-fluid content" th:if="${formmode}=='list'">
					<div class="row">
						<!-- Form for Journal Entry -->
						<form action="#" method="post" class="w-100"
							id="VendorRegistrationadd" autocomplete="off">
					<div class="card ">
					<div class="card ">
					
						
						<div
									class="card-header d-flex justify-content-between align-items-center"
									style="font-family: 'Nunito', sans-serif; font-size: 1.5rem; font-weight: bold; color: black; padding-left:20px">
									<div>
										<i class="fas fa-list mr-1"></i>Process - List
									</div>
									
									
									<div class="d-flex align-items-center gap-4">
            <!-- Branch Selection -->
                <select class="btn btn-light btn-sm"  onchange="select_branch();"
        style="color: black; font-weight: bold; border: 2px solid black; height: 32px;transform: translateX(-10px);"  id="branchId" name="branchId">
                    <option value="">Select Branch</option>
                    <!-- Populate options dynamically using Thymeleaf -->
                    <option th:each="branchId : ${branchIds}" th:value="${branchId}" th:text="${branchId}"></option>
                </select>
        </div>
								</div>
		
					<br>
					<!-- Table -->
					<div class="card-body">

									<div class="card-body" style="padding: 1rem;">
						
						<div class="table-responsive"
										style="overflow-y: auto; height: 85vh; border: 1px solid #dee2e6;">
							

								<div class="container-fluid">
									<div class="row">
										<div class="col-lg-12"></div>
									</div>
									<!-- Table -->

									<div class="row">
										<div class="col-lg-12">
											
												<form method="post" autocomplete="off" id="addStockHistory"
													th:fragment="finuserapply">

													<div class="card-body" style="padding: 10px;">
												<!-- 		<div class="mb-3 d-flex justify-content-between align-items-center">
											<div>
												<input type="text" id="searchInput" placeholder="Search..."
													onkeyup="searchTable('dataTables', 'searchInput')"
													class="form-control" />
											</div>
										</div> -->
														
														<table id="dataTables"
															class="table table-bordered">
															<thead>
																<tr>
																	<th style="text-align: center;">Process Id</th>
																	<th style="text-align: left;">Product Name</th>
																	<th style="text-align: right;">Required Quantity</th>
																	<th style="text-align: left;">Base Unit</th>
																	<th style="text-align: left;">Process Starting Date</th>
																	<th style="text-align: left;">Status</th>
																	<th style="text-align: center;">Action</th>
																	
																

																</tr>
															</thead>
															<tbody id="dataTablesBody">
																<tr th:each="list : ${processlist}">
													
																	<td style="text-align: center;" th:text="${list.processId}"></td>
																	<td style="text-align: left;" th:text="${list.makingproductName}"></td>
																	<td style="text-align: right;" th:text="${#numbers.formatDecimal(list.kilograms,1,3)}"></td>
																	<td style="text-align: left;" th:text="${list.units}"></td>
																	<td style="text-align: left;" th:text="${#dates.format(list.processStartDate,'dd-MM-yyyy')}"></td>
																	<td style="text-align: left;" th:text="${list.status}"></td>
																	<td style="text-align: center;"><input type="radio" th:attr="data-process=${list.processId}" onclick="viewprocess(this);" ></td>
																</tr>
															</tbody>
														</table>
													</div>
												</form>
											</div>
										</div>
									</div>
									</div>
									<div class="card-footer text-center" style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600;">
									
										<button class="btn btn-xs btn-dark" type="button" id="Dashboard" onclick="home(event)">Home</button>
										
										<button class="btn btn-xs btn-dark" type="button" id="btnBack" onclick="back(event);">Back</button>
								
								</div>
								</div>

								
								
								
								</div>
							</div>
						</div>
						</form>
						</div>
						</div>
						
						
						<div class="container-fluid content" th:if="${formmode}=='add'">
						<div class="row">
						<!-- Form for Journal Entry -->
						<form action="#" method="post" class="w-100"
							id="VendorRegistrationadd" autocomplete="off">
					<div class="card ">
					<datalist id="rawlist">
						<option th:each="rawmaterial : ${rawmaterial}" th:value="${rawmaterial}" th:text="${rawmaterial}"></option>
					</datalist>
				<datalist id="Expenseslist">
					<option>Labour cost</option>
					<option>Machinary cost</option>
					<option>Electricity cost</option>
					<option>Overhead cost</option>
				</datalist>
					<div class="card ">
					
					<div class="card-header d-flex justify-content-between align-items-center" style="font-family: 'Nunito', sans-serif; font-size: 1.5rem; font-weight: bold; color: black; padding-left:20px">
        				<div STYLE="font-size: 1.3rem;"><i class="fas fa-check-square text-success"></i> Validation-<span th:text="${processwithid[0].processId}"></span></div>
        				<div>
		        				<!-- 								<button class="btn btn-xs btn-dark"
									onclick="location.href='./BillOfMaterial?formmode=history';">History</button> -->
						</div>
					</div>
					
					
					
					<br>

					<!-- Table -->
					<div class="">
							
						<div class="col-lg-12" style="margin-top:-15px;">
							
								<div class="table-responsive"
										style="overflow-y: auto; overflow-x: hidden; height: 85vh; border: 1px solid #dee2e6;">
								
								<br>
								<div class="row">
								<div class="form-group col-md-auto"></div>
   									 <div class="form-group col-md-auto">
											 <label for="branchId" class="form-legend">Branch Id</label>
											 </div>
									<div class="form-group col-md-1">
										<input type="text" name="branchId" id="branchId" th:value="${processwithid[0].branchId}"
											 style="width: 100%;" readonly>	 
											 <input type="hidden" id="processid" name="processid" th:value="${processwithid[0].processId}">
									</div>
									
									<div class="form-group col-md-1">
										<label for="productName">Mfg Name:</label>
									</div>
									<div class="form-group col-md-1">
										<input type="text" class="form-control" th:value="${processwithid[0].makingproductName}"
											id="makingproductName" placeholder="Enter product name"
											style="border-color: #333333;"
											required readonly>
									</div>
									
									<div class="form-group col-md-2 ml-1">
										<label for="productName">Grant Total:</label>
									</div>
									<div class="form-group col-md-1">
										<input type="number" class="form-control" id="grantTotal"
											placeholder="Total" name="grantTotal" th:value="${processwithid[0].grantTotal}" readonly
											style="border-color: #333333;  margin-left: -5.1rem;">
									</div>
															

																		
                                  <!--<div class="form-group col-md-auto">
										<select name="units" id="units" style="width: 60%;height: 29px;" disabled required>
											<option value="">Select Units</option>
											<option value="kg" th:selected="${processwithid[0].units}=='kg'">kg</option>
											<option value="g" th:selected="${processwithid[0].units}=='g'">g</option>
											<option value="ltr" th:selected="${processwithid[0].units}=='ltr'">ltr</option>
											<option value="mm" th:selected="${processwithid[0].units}=='ml'">ml</option>
										</select>


									</div>-->
									


								</div>


									
									<!-- Table -->

									
												<form method="post" autocomplete="off" id="addStockHistory"
													th:fragment="finuserapply">

													<div class="card-body" >
														<table id="dynamicFieldsTable1"
															class="table table-bordered">
															<thead>
																<tr>
																	<th>Item Code</th>
																	<th>Item Name</th>
																	<th>Category</th>
																	<th>Base Unit</th>
																	<th>Qty/Unit</th>
																	<th style="width: 8%;">Batch</th>
																	<th>Stock Qty</th>
																	<th>Price/Unit</th>
																	<th>Req/Qty</th>
																	<th>Total</th>

																</tr>
															</thead>
															<tbody>
																<tr th:each="processwithid :${processwithid}">

																	<td style="width: 110px;"><input type="text"
																		name="itemCode" id="itemCode" list="rawlist"
																		onchange="getitemm(this)" th:value="${processwithid.itemCode}"
																		style="width: 100%; " readonly> </td>

																	<td><input type="text" name="itemname"
																		id="itemname" th:value="${processwithid.itemname}"
																		style="width: 100%; text-align: center; " readonly>
																	</td>

																	<td><input type="text" name="category_name1"
																		id="category_name1" th:value="${processwithid.category_name1}"
																		style="width: 100%; text-align: center; "
																		readonly></td>

																	<td><input type="text" name="baseunit"
																		id="baseunit" th:value="${processwithid.baseunit}"
																		style="width: 100%; text-align: center; " readonly>
																	</td>

																	<td><input type="number" name="Quantity"
																		id="Quantity" th:value="${processwithid.quantity}"
																		style="width: 100%; text-align: center; "
																		readonly></td>

																	<td><select name="batch" id="batch" 
																		style="width: 100%; text-align: center;"
																		onchange="get_two(this);"><option th:text="${processwithid.batch}"></option></select>
																	</td>

																	<td><input type="number" name="stock_qty"
																		id="stock_qty" th:value="${processwithid.stock_qty}"
																		style="width: 100%; text-align: center;" readonly></td>

																	<td><input type="number" name="price" id="price" th:value="${processwithid.price}"
																		style="width: 100%; text-align: center; " readonly></td>
																	<td><input type="number" name="reqqnt" id="reqqnt" th:value="${processwithid.reqqnt}"
																		style="width: 100%; text-align: center; " readonly></td>

																	<td><input type="number" name="totalprice"
																		id="totalprice" th:value="${processwithid.totalprice}"
																		style="width: 100%; text-align: center; " readonly></td>



																	
																</tr>
															</tbody>
														</table>
														

														<div class="card-header"
															style="font-family: 'Nunito', sans-serif; font-size: 23px; font-weight: 600; padding: 1.7rem;">

															<div class="float-left">
																<h6 style="font-size: 1.5rem; color: black;">Other
																	Expenses</h6>
															</div>


														</div>



														<table id="dynamicFieldsTableex"
															class="table table-bordered">
															<thead>
																<tr>
																	<th>Expenses Type</th>
																	<th>Expenses cost</th>
																	<th>Total cost</th>
																
																</tr>
															</thead>
															<tbody>
																<tr th:each="processwithoutid :${processwithoutid}">
																	<td><input type="text" name="ExpensesType"
																		id="ExpensesType" list="Expenseslist" th:value="${processwithoutid.expensestype}"
																		style="width: 100%; " readonly></td>


																	<td><input type="number" name="per_Amount"
																		id="per_Amount" th:value="${processwithoutid.per_Amount}"
																		style="width: 100%; " readonly></td>

																	<td><input type="number" name="totalexpcost"
																		id="totalexpcost" th:value="${processwithoutid.totalexpcost}"
																		style="width: 100%;" readonly></td>
																</tr>
															</tbody>
														</table>
														

														<div class="form-row align-items-center">
																														
															<div class="form-group col-md-1">
																<label for="productName">Req Ghee:</label>
															</div>
															<div class="form-group col-md-1">
																<input type="text" class="form-control" th:value="${processwithid[0].totalghee}"
																	id="GheeReceived" placeholder="Ghee"
																	style="border-color: #333333;"
																	required readonly>
															</div>
															
															<div class="form-group col-md-1">
																<label for="productName">Req Kasadu:</label>
															</div>
															<div class="form-group col-md-1">
																<input type="text" class="form-control" th:value="${processwithid[0].totalkasadu}"
																	id="KasaduReceived" placeholder="Kasadu"
																	style="border-color: #333333;" 
																	required readonly>
															</div>
															
															<div class="form-group col-md-1">
																<label for="productName">Diff Ghee:</label>
															</div>
															<div class="form-group col-md-1">
																<input type="text" class="form-control"
																	id="differghee" placeholder="Ghee"
																	style="border-color: #333333;"
																	required readonly>
															</div>
															
															<div class="form-group col-md-1">
																<label for="productName">Diff Kasadu:</label>
															</div>
															<div class="form-group col-md-1">
																<input type="text" class="form-control"
																	id="differkasadu" placeholder="Kasadu"
																	style="border-color: #333333;" 
																	required readonly>
															</div>
															
															
															
															<div class="form-group col-md-1">
																<label for="productName">Actual Ghee:</label>
															</div>
															<div class="form-group col-md-1">
																<input type="text" class="form-control"
																	id="Actualghee" placeholder="Ghee" onclick="unitconvert()"
																	style="border-color: #333333;"
																	required >
																
																<!--<input type="text" class="form-control"
																	id="Actualghee" placeholder="Ghee" oninput="totalgheecalculation()"
																	style="border-color: #333333;"
																	required >-->	
																	
															</div>
															
															<div class="form-group col-md-1">
																<label for="productName">Actual Kasadu:</label>
															</div>
															<div class="form-group col-md-1">
																<input type="text" class="form-control" oninput="totalgheecalculation()"
																	id="Actualkasadu" placeholder="Kasadu"
																	style="border-color: #333333;" 
																	required >
															</div>
																					
															
															
															
															
															
															
															
															
															<!--<div class="form-group col-md-2 ">
																<label for="productName">Output Qty:</label>
															</div>
															<div class="form-group col-md-1">
																<input type="number" class="form-control" id="returnquantity" name="returnquantity" 
																	style="border-color: #333333;  margin-left: -5.1rem;">
																	
																
															</div>
															<div class="form-group col-md-1">															
																<select name="units" id="outunits"  style="width: 60%;height: 39px;   margin-left:-85px;" required>
																	<option value="">Select Units</option>
																	<option value="kg">kg</option>
																	<option value="ltr">ltr</option>
																	<option value="ml">ml</option>
																</select>
															</div>	-->
															
													
															

														</div>

													</div>
												</form>	
								</div>
								<br>


								<div class="card-footer text-center"
									style="font-family: 'Nunito', sans-serif; font-size: 23px; margin-top:-10px; font-weight: 600;">

									<button class="btn btn-xs btn-dark" type="button"
										id="Dashboard" onclick="home(event)">Home</button>
									<button class="btn btn-xs btn-dark" id="btnSubmit"
										onclick="returnqnt(event);">Submit</button>
									<button class="btn btn-xs btn-dark" type="button" id="btnBack"
										onclick="back(event);">Back</button>

								</div>




							
						</div>
					</div>
				</div>


					
				</div>



				
								

							</div>
						</div>
						</div>
						</div>
						</div>
						
</body>

</html>